{
  "name": "eKYC",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "html/scss/layout.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "pug",
      "html"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "pug/index.pug",
      "imports": [
        "pug/layout.pug",
        "pug/head.pug",
        "pug/page/header.pug",
        "pug/page/_home.pug",
        "pug/config.pug",
        "pug/javascript.pug"
      ]
    },
    {
      "path": "pug/layout.pug",
      "imports": [
        "pug/config.pug",
        "pug/javascript.pug"
      ]
    },
    {
      "path": "html/scss/_bourbon.scss",
      "imports": [
        "html/scss/bourbon/helpers/_buttons-list.scss",
        "html/scss/bourbon/helpers/_scales.scss",
        "html/scss/bourbon/helpers/_text-inputs-list.scss",
        "html/scss/bourbon/settings/_settings.scss",
        "html/scss/bourbon/validators/_contains.scss",
        "html/scss/bourbon/validators/_contains-falsy.scss",
        "html/scss/bourbon/validators/_is-color.scss",
        "html/scss/bourbon/validators/_is-length.scss",
        "html/scss/bourbon/validators/_is-number.scss",
        "html/scss/bourbon/validators/_is-size.scss",
        "html/scss/bourbon/utilities/_assign-inputs.scss",
        "html/scss/bourbon/utilities/_compact-shorthand.scss",
        "html/scss/bourbon/utilities/_directional-property.scss",
        "html/scss/bourbon/utilities/_fetch-bourbon-setting.scss",
        "html/scss/bourbon/utilities/_font-source-declaration.scss",
        "html/scss/bourbon/utilities/_gamma.scss",
        "html/scss/bourbon/utilities/_lightness.scss",
        "html/scss/bourbon/utilities/_contrast-ratio.scss",
        "html/scss/bourbon/utilities/_unpack-shorthand.scss",
        "html/scss/bourbon/library/_border-color.scss",
        "html/scss/bourbon/library/_border-radius.scss",
        "html/scss/bourbon/library/_border-style.scss",
        "html/scss/bourbon/library/_border-width.scss",
        "html/scss/bourbon/library/_buttons.scss",
        "html/scss/bourbon/library/_clearfix.scss",
        "html/scss/bourbon/library/_contrast-switch.scss",
        "html/scss/bourbon/library/_ellipsis.scss",
        "html/scss/bourbon/library/_font-face.scss",
        "html/scss/bourbon/library/_font-stacks.scss",
        "html/scss/bourbon/library/_hide-text.scss",
        "html/scss/bourbon/library/_hide-visually.scss",
        "html/scss/bourbon/library/_margin.scss",
        "html/scss/bourbon/library/_modular-scale.scss",
        "html/scss/bourbon/library/_overflow-wrap.scss",
        "html/scss/bourbon/library/_padding.scss",
        "html/scss/bourbon/library/_position.scss",
        "html/scss/bourbon/library/_prefixer.scss",
        "html/scss/bourbon/library/_shade.scss",
        "html/scss/bourbon/library/_size.scss",
        "html/scss/bourbon/library/_strip-unit.scss",
        "html/scss/bourbon/library/_text-inputs.scss",
        "html/scss/bourbon/library/_timing-functions.scss",
        "html/scss/bourbon/library/_tint.scss",
        "html/scss/bourbon/library/_triangle.scss",
        "html/scss/bourbon/library/_value-prefixer.scss"
      ]
    },
    {
      "path": "html/scss/_component.scss",
      "imports": [
        "html/scss/_bourbon.scss",
        "html/scss/bourbon/helpers/_buttons-list.scss",
        "html/scss/bourbon/helpers/_scales.scss",
        "html/scss/bourbon/helpers/_text-inputs-list.scss",
        "html/scss/bourbon/settings/_settings.scss",
        "html/scss/bourbon/validators/_contains.scss",
        "html/scss/bourbon/validators/_contains-falsy.scss",
        "html/scss/bourbon/validators/_is-color.scss",
        "html/scss/bourbon/validators/_is-length.scss",
        "html/scss/bourbon/validators/_is-number.scss",
        "html/scss/bourbon/validators/_is-size.scss",
        "html/scss/bourbon/utilities/_assign-inputs.scss",
        "html/scss/bourbon/utilities/_compact-shorthand.scss",
        "html/scss/bourbon/utilities/_directional-property.scss",
        "html/scss/bourbon/utilities/_fetch-bourbon-setting.scss",
        "html/scss/bourbon/utilities/_font-source-declaration.scss",
        "html/scss/bourbon/utilities/_gamma.scss",
        "html/scss/bourbon/utilities/_lightness.scss",
        "html/scss/bourbon/utilities/_contrast-ratio.scss",
        "html/scss/bourbon/utilities/_unpack-shorthand.scss",
        "html/scss/bourbon/library/_border-color.scss",
        "html/scss/bourbon/library/_border-radius.scss",
        "html/scss/bourbon/library/_border-style.scss",
        "html/scss/bourbon/library/_border-width.scss",
        "html/scss/bourbon/library/_buttons.scss",
        "html/scss/bourbon/library/_clearfix.scss",
        "html/scss/bourbon/library/_contrast-switch.scss",
        "html/scss/bourbon/library/_ellipsis.scss",
        "html/scss/bourbon/library/_font-face.scss",
        "html/scss/bourbon/library/_font-stacks.scss",
        "html/scss/bourbon/library/_hide-text.scss",
        "html/scss/bourbon/library/_hide-visually.scss",
        "html/scss/bourbon/library/_margin.scss",
        "html/scss/bourbon/library/_modular-scale.scss",
        "html/scss/bourbon/library/_overflow-wrap.scss",
        "html/scss/bourbon/library/_padding.scss",
        "html/scss/bourbon/library/_position.scss",
        "html/scss/bourbon/library/_prefixer.scss",
        "html/scss/bourbon/library/_shade.scss",
        "html/scss/bourbon/library/_size.scss",
        "html/scss/bourbon/library/_strip-unit.scss",
        "html/scss/bourbon/library/_text-inputs.scss",
        "html/scss/bourbon/library/_timing-functions.scss",
        "html/scss/bourbon/library/_tint.scss",
        "html/scss/bourbon/library/_triangle.scss",
        "html/scss/bourbon/library/_value-prefixer.scss"
      ]
    },
    {
      "path": "html/scss/_modal.scss",
      "imports": [
        "html/scss/_bourbon.scss",
        "html/scss/bourbon/helpers/_buttons-list.scss",
        "html/scss/bourbon/helpers/_scales.scss",
        "html/scss/bourbon/helpers/_text-inputs-list.scss",
        "html/scss/bourbon/settings/_settings.scss",
        "html/scss/bourbon/validators/_contains.scss",
        "html/scss/bourbon/validators/_contains-falsy.scss",
        "html/scss/bourbon/validators/_is-color.scss",
        "html/scss/bourbon/validators/_is-length.scss",
        "html/scss/bourbon/validators/_is-number.scss",
        "html/scss/bourbon/validators/_is-size.scss",
        "html/scss/bourbon/utilities/_assign-inputs.scss",
        "html/scss/bourbon/utilities/_compact-shorthand.scss",
        "html/scss/bourbon/utilities/_directional-property.scss",
        "html/scss/bourbon/utilities/_fetch-bourbon-setting.scss",
        "html/scss/bourbon/utilities/_font-source-declaration.scss",
        "html/scss/bourbon/utilities/_gamma.scss",
        "html/scss/bourbon/utilities/_lightness.scss",
        "html/scss/bourbon/utilities/_contrast-ratio.scss",
        "html/scss/bourbon/utilities/_unpack-shorthand.scss",
        "html/scss/bourbon/library/_border-color.scss",
        "html/scss/bourbon/library/_border-radius.scss",
        "html/scss/bourbon/library/_border-style.scss",
        "html/scss/bourbon/library/_border-width.scss",
        "html/scss/bourbon/library/_buttons.scss",
        "html/scss/bourbon/library/_clearfix.scss",
        "html/scss/bourbon/library/_contrast-switch.scss",
        "html/scss/bourbon/library/_ellipsis.scss",
        "html/scss/bourbon/library/_font-face.scss",
        "html/scss/bourbon/library/_font-stacks.scss",
        "html/scss/bourbon/library/_hide-text.scss",
        "html/scss/bourbon/library/_hide-visually.scss",
        "html/scss/bourbon/library/_margin.scss",
        "html/scss/bourbon/library/_modular-scale.scss",
        "html/scss/bourbon/library/_overflow-wrap.scss",
        "html/scss/bourbon/library/_padding.scss",
        "html/scss/bourbon/library/_position.scss",
        "html/scss/bourbon/library/_prefixer.scss",
        "html/scss/bourbon/library/_shade.scss",
        "html/scss/bourbon/library/_size.scss",
        "html/scss/bourbon/library/_strip-unit.scss",
        "html/scss/bourbon/library/_text-inputs.scss",
        "html/scss/bourbon/library/_timing-functions.scss",
        "html/scss/bourbon/library/_tint.scss",
        "html/scss/bourbon/library/_triangle.scss",
        "html/scss/bourbon/library/_value-prefixer.scss"
      ]
    },
    {
      "path": "html/scss/_modularscale.scss",
      "imports": [
        "html/scss/modularscale/_vars.scss",
        "html/scss/modularscale/_settings.scss",
        "html/scss/modularscale/_pow.scss",
        "html/scss/modularscale/_strip-units.scss",
        "html/scss/modularscale/_sort.scss",
        "html/scss/modularscale/_round-px.scss",
        "html/scss/modularscale/_target.scss",
        "html/scss/modularscale/_function.scss",
        "html/scss/modularscale/_respond.scss",
        "html/scss/modularscale/_sugar.scss"
      ]
    },
    {
      "path": "html/scss/_page.scss",
      "imports": [
        "html/scss/_bourbon.scss",
        "html/scss/bourbon/helpers/_buttons-list.scss",
        "html/scss/bourbon/helpers/_scales.scss",
        "html/scss/bourbon/helpers/_text-inputs-list.scss",
        "html/scss/bourbon/settings/_settings.scss",
        "html/scss/bourbon/validators/_contains.scss",
        "html/scss/bourbon/validators/_contains-falsy.scss",
        "html/scss/bourbon/validators/_is-color.scss",
        "html/scss/bourbon/validators/_is-length.scss",
        "html/scss/bourbon/validators/_is-number.scss",
        "html/scss/bourbon/validators/_is-size.scss",
        "html/scss/bourbon/utilities/_assign-inputs.scss",
        "html/scss/bourbon/utilities/_compact-shorthand.scss",
        "html/scss/bourbon/utilities/_directional-property.scss",
        "html/scss/bourbon/utilities/_fetch-bourbon-setting.scss",
        "html/scss/bourbon/utilities/_font-source-declaration.scss",
        "html/scss/bourbon/utilities/_gamma.scss",
        "html/scss/bourbon/utilities/_lightness.scss",
        "html/scss/bourbon/utilities/_contrast-ratio.scss",
        "html/scss/bourbon/utilities/_unpack-shorthand.scss",
        "html/scss/bourbon/library/_border-color.scss",
        "html/scss/bourbon/library/_border-radius.scss",
        "html/scss/bourbon/library/_border-style.scss",
        "html/scss/bourbon/library/_border-width.scss",
        "html/scss/bourbon/library/_buttons.scss",
        "html/scss/bourbon/library/_clearfix.scss",
        "html/scss/bourbon/library/_contrast-switch.scss",
        "html/scss/bourbon/library/_ellipsis.scss",
        "html/scss/bourbon/library/_font-face.scss",
        "html/scss/bourbon/library/_font-stacks.scss",
        "html/scss/bourbon/library/_hide-text.scss",
        "html/scss/bourbon/library/_hide-visually.scss",
        "html/scss/bourbon/library/_margin.scss",
        "html/scss/bourbon/library/_modular-scale.scss",
        "html/scss/bourbon/library/_overflow-wrap.scss",
        "html/scss/bourbon/library/_padding.scss",
        "html/scss/bourbon/library/_position.scss",
        "html/scss/bourbon/library/_prefixer.scss",
        "html/scss/bourbon/library/_shade.scss",
        "html/scss/bourbon/library/_size.scss",
        "html/scss/bourbon/library/_strip-unit.scss",
        "html/scss/bourbon/library/_text-inputs.scss",
        "html/scss/bourbon/library/_timing-functions.scss",
        "html/scss/bourbon/library/_tint.scss",
        "html/scss/bourbon/library/_triangle.scss",
        "html/scss/bourbon/library/_value-prefixer.scss"
      ]
    },
    {
      "path": "html/scss/layout.scss",
      "imports": [
        "html/scss/_bourbon.scss",
        "html/scss/bulma/utilities/_all.sass",
        "html/scss/bulma/base/_all.sass",
        "html/scss/bulma/grid/columns.sass",
        "html/scss/bulma/form/_all.sass",
        "html/scss/bulma/elements/button.sass",
        "html/scss/bulma/elements/container.sass",
        "html/scss/bulma/elements/icon.sass",
        "html/scss/bulma/elements/tag.sass",
        "html/scss/bulma/elements/other.sass",
        "html/scss/bulma/components/navbar.sass",
        "html/scss/bulma/components/modal.sass",
        "html/scss/_font.scss",
        "html/scss/nucleo/nucleo.scss",
        "html/scss/_reset.scss",
        "html/scss/spacing.scss",
        "html/scss/_component.scss",
        "html/scss/_page.scss",
        "html/scss/_modal.scss",
        "html/scss/plugins/_swiper.scss",
        "html/scss/_slidebars.scss",
        "html/scss/hamburgers/hamburgers.scss",
        "html/scss/plugins/_fancybox.scss",
        "html/scss/bourbon/helpers/_buttons-list.scss",
        "html/scss/bourbon/helpers/_scales.scss",
        "html/scss/bourbon/helpers/_text-inputs-list.scss",
        "html/scss/bourbon/settings/_settings.scss",
        "html/scss/bourbon/validators/_contains.scss",
        "html/scss/bourbon/validators/_contains-falsy.scss",
        "html/scss/bourbon/validators/_is-color.scss",
        "html/scss/bourbon/validators/_is-length.scss",
        "html/scss/bourbon/validators/_is-number.scss",
        "html/scss/bourbon/validators/_is-size.scss",
        "html/scss/bourbon/utilities/_assign-inputs.scss",
        "html/scss/bourbon/utilities/_compact-shorthand.scss",
        "html/scss/bourbon/utilities/_directional-property.scss",
        "html/scss/bourbon/utilities/_fetch-bourbon-setting.scss",
        "html/scss/bourbon/utilities/_font-source-declaration.scss",
        "html/scss/bourbon/utilities/_gamma.scss",
        "html/scss/bourbon/utilities/_lightness.scss",
        "html/scss/bourbon/utilities/_contrast-ratio.scss",
        "html/scss/bourbon/utilities/_unpack-shorthand.scss",
        "html/scss/bourbon/library/_border-color.scss",
        "html/scss/bourbon/library/_border-radius.scss",
        "html/scss/bourbon/library/_border-style.scss",
        "html/scss/bourbon/library/_border-width.scss",
        "html/scss/bourbon/library/_buttons.scss",
        "html/scss/bourbon/library/_clearfix.scss",
        "html/scss/bourbon/library/_contrast-switch.scss",
        "html/scss/bourbon/library/_ellipsis.scss",
        "html/scss/bourbon/library/_font-face.scss",
        "html/scss/bourbon/library/_font-stacks.scss",
        "html/scss/bourbon/library/_hide-text.scss",
        "html/scss/bourbon/library/_hide-visually.scss",
        "html/scss/bourbon/library/_margin.scss",
        "html/scss/bourbon/library/_modular-scale.scss",
        "html/scss/bourbon/library/_overflow-wrap.scss",
        "html/scss/bourbon/library/_padding.scss",
        "html/scss/bourbon/library/_position.scss",
        "html/scss/bourbon/library/_prefixer.scss",
        "html/scss/bourbon/library/_shade.scss",
        "html/scss/bourbon/library/_size.scss",
        "html/scss/bourbon/library/_strip-unit.scss",
        "html/scss/bourbon/library/_text-inputs.scss",
        "html/scss/bourbon/library/_timing-functions.scss",
        "html/scss/bourbon/library/_tint.scss",
        "html/scss/bourbon/library/_triangle.scss",
        "html/scss/bourbon/library/_value-prefixer.scss",
        "html/scss/bulma/utilities/initial-variables.sass",
        "html/scss/bulma/utilities/functions.sass",
        "html/scss/bulma/utilities/derived-variables.sass",
        "html/scss/bulma/utilities/animations.sass",
        "html/scss/bulma/utilities/mixins.sass",
        "html/scss/bulma/utilities/controls.sass",
        "html/scss/bulma/base/minireset.sass",
        "html/scss/bulma/base/generic.sass",
        "html/scss/bulma/base/helpers.sass",
        "html/scss/bulma/form/shared.sass",
        "html/scss/bulma/form/input-textarea.sass",
        "html/scss/bulma/form/checkbox-radio.sass",
        "html/scss/bulma/form/select.sass",
        "html/scss/bulma/form/file.sass",
        "html/scss/bulma/form/tools.sass",
        "html/scss/nucleo/icons.scss",
        "html/scss/hamburgers/_base.scss",
        "html/scss/hamburgers/types/_3dx.scss",
        "html/scss/hamburgers/types/_3dx-r.scss",
        "html/scss/hamburgers/types/_3dy.scss",
        "html/scss/hamburgers/types/_3dy-r.scss",
        "html/scss/hamburgers/types/_3dxy.scss",
        "html/scss/hamburgers/types/_3dxy-r.scss",
        "html/scss/hamburgers/types/_arrow.scss",
        "html/scss/hamburgers/types/_arrow-r.scss",
        "html/scss/hamburgers/types/_arrowalt.scss",
        "html/scss/hamburgers/types/_arrowalt-r.scss",
        "html/scss/hamburgers/types/_arrowturn.scss",
        "html/scss/hamburgers/types/_arrowturn-r.scss",
        "html/scss/hamburgers/types/_boring.scss",
        "html/scss/hamburgers/types/_collapse.scss",
        "html/scss/hamburgers/types/_collapse-r.scss",
        "html/scss/hamburgers/types/_elastic.scss",
        "html/scss/hamburgers/types/_elastic-r.scss",
        "html/scss/hamburgers/types/_emphatic.scss",
        "html/scss/hamburgers/types/_emphatic-r.scss",
        "html/scss/hamburgers/types/_minus.scss",
        "html/scss/hamburgers/types/_slider.scss",
        "html/scss/hamburgers/types/_slider-r.scss",
        "html/scss/hamburgers/types/_spin.scss",
        "html/scss/hamburgers/types/_spin-r.scss",
        "html/scss/hamburgers/types/_spring.scss",
        "html/scss/hamburgers/types/_spring-r.scss",
        "html/scss/hamburgers/types/_stand.scss",
        "html/scss/hamburgers/types/_stand-r.scss",
        "html/scss/hamburgers/types/_squeeze.scss",
        "html/scss/hamburgers/types/_vortex.scss",
        "html/scss/hamburgers/types/_vortex-r.scss"
      ]
    },
    {
      "path": "html/scss/hamburgers/hamburgers.scss",
      "imports": [
        "html/scss/hamburgers/_base.scss",
        "html/scss/hamburgers/types/_3dx.scss",
        "html/scss/hamburgers/types/_3dx-r.scss",
        "html/scss/hamburgers/types/_3dy.scss",
        "html/scss/hamburgers/types/_3dy-r.scss",
        "html/scss/hamburgers/types/_3dxy.scss",
        "html/scss/hamburgers/types/_3dxy-r.scss",
        "html/scss/hamburgers/types/_arrow.scss",
        "html/scss/hamburgers/types/_arrow-r.scss",
        "html/scss/hamburgers/types/_arrowalt.scss",
        "html/scss/hamburgers/types/_arrowalt-r.scss",
        "html/scss/hamburgers/types/_arrowturn.scss",
        "html/scss/hamburgers/types/_arrowturn-r.scss",
        "html/scss/hamburgers/types/_boring.scss",
        "html/scss/hamburgers/types/_collapse.scss",
        "html/scss/hamburgers/types/_collapse-r.scss",
        "html/scss/hamburgers/types/_elastic.scss",
        "html/scss/hamburgers/types/_elastic-r.scss",
        "html/scss/hamburgers/types/_emphatic.scss",
        "html/scss/hamburgers/types/_emphatic-r.scss",
        "html/scss/hamburgers/types/_minus.scss",
        "html/scss/hamburgers/types/_slider.scss",
        "html/scss/hamburgers/types/_slider-r.scss",
        "html/scss/hamburgers/types/_spin.scss",
        "html/scss/hamburgers/types/_spin-r.scss",
        "html/scss/hamburgers/types/_spring.scss",
        "html/scss/hamburgers/types/_spring-r.scss",
        "html/scss/hamburgers/types/_stand.scss",
        "html/scss/hamburgers/types/_stand-r.scss",
        "html/scss/hamburgers/types/_squeeze.scss",
        "html/scss/hamburgers/types/_vortex.scss",
        "html/scss/hamburgers/types/_vortex-r.scss"
      ]
    },
    {
      "path": "html/scss/nucleo/nucleo.scss",
      "imports": [
        "html/scss/nucleo/icons.scss"
      ]
    },
    {
      "path": "html/scss/bulma/base/_all.sass",
      "imports": [
        "html/scss/bulma/base/minireset.sass",
        "html/scss/bulma/base/generic.sass",
        "html/scss/bulma/base/helpers.sass"
      ]
    },
    {
      "path": "html/scss/bulma/components/_all.sass",
      "imports": [
        "html/scss/bulma/components/breadcrumb.sass",
        "html/scss/bulma/components/card.sass",
        "html/scss/bulma/components/dropdown.sass",
        "html/scss/bulma/components/level.sass",
        "html/scss/bulma/components/list.sass",
        "html/scss/bulma/components/media.sass",
        "html/scss/bulma/components/menu.sass",
        "html/scss/bulma/components/message.sass",
        "html/scss/bulma/components/modal.sass",
        "html/scss/bulma/components/navbar.sass",
        "html/scss/bulma/components/pagination.sass",
        "html/scss/bulma/components/panel.sass",
        "html/scss/bulma/components/tabs.sass"
      ]
    },
    {
      "path": "html/scss/bulma/elements/_all.sass",
      "imports": [
        "html/scss/bulma/elements/box.sass",
        "html/scss/bulma/elements/button.sass",
        "html/scss/bulma/elements/container.sass",
        "html/scss/bulma/elements/content.sass",
        "html/scss/bulma/elements/icon.sass",
        "html/scss/bulma/elements/image.sass",
        "html/scss/bulma/elements/notification.sass",
        "html/scss/bulma/elements/progress.sass",
        "html/scss/bulma/elements/table.sass",
        "html/scss/bulma/elements/tag.sass",
        "html/scss/bulma/elements/title.sass",
        "html/scss/bulma/elements/other.sass"
      ]
    },
    {
      "path": "html/scss/bulma/form/_all.sass",
      "imports": [
        "html/scss/bulma/form/shared.sass",
        "html/scss/bulma/form/input-textarea.sass",
        "html/scss/bulma/form/checkbox-radio.sass",
        "html/scss/bulma/form/select.sass",
        "html/scss/bulma/form/file.sass",
        "html/scss/bulma/form/tools.sass"
      ]
    },
    {
      "path": "html/scss/bulma/grid/_all.sass",
      "imports": [
        "html/scss/bulma/grid/columns.sass",
        "html/scss/bulma/grid/tiles.sass"
      ]
    },
    {
      "path": "html/scss/bulma/layout/_all.sass",
      "imports": [
        "html/scss/bulma/layout/hero.sass",
        "html/scss/bulma/layout/section.sass",
        "html/scss/bulma/layout/footer.sass"
      ]
    },
    {
      "path": "html/scss/bulma/utilities/_all.sass",
      "imports": [
        "html/scss/bulma/utilities/initial-variables.sass",
        "html/scss/bulma/utilities/functions.sass",
        "html/scss/bulma/utilities/derived-variables.sass",
        "html/scss/bulma/utilities/animations.sass",
        "html/scss/bulma/utilities/mixins.sass",
        "html/scss/bulma/utilities/controls.sass"
      ]
    },
    {
      "path": "html/scss/bulma/utilities/mixins.sass",
      "imports": [
        "html/scss/bulma/utilities/initial-variables.sass"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7890,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}