// Core variables and mixins bourbon
@import "bourbon";

/* Body */
html{-webkit-font-smoothing:antialiased}
body{background:$background;color:$color-base;font-family:$primary-font;font-size:$base-font-size;font-weight:$base-font-weight;line-height:$line-height;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;
	@media only screen and (max-width:414px){font-size:calc(100% + 1 * (100vw - 360px)/ 39)}
}

/* Layout */
[class*="layout"]{position:relative;background-color:$background;@include size(100%, auto);@include margin(0 auto)}
.container{position:relative;max-width:1200px;@include margin(null auto); padding-left: 15px;padding-right: 15px;}

/* Menu */
.cd-nav-trigger{position:fixed;top:10px;right:7px;z-index:1000;background:transparent;width:35px;height:29px;overflow:hidden;text-indent:100%;white-space:nowrap;
	span{position:absolute;display:block;width:20px;height:2px;background:#fff;top:50%;margin-top:-1px;left:50%;margin-left:-10px;
		&:before, &:after{
			content:"";position:absolute;left:0;background:inherit;width:100%;height:100%;transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;transition:transform 0.3s;
		}
		&:before{top:-6px;transform:rotate(0)}
		&:after{bottom:-6px;transform:rotate(0)}
	}
	&.menu-is-open{box-shadow:none;
		span{background-color:transparent;
			&:before, &:after{background:#fff}
			&:before{top:0;transform:rotate(135deg)}
			&:after{bottom:0;transform:rotate(225deg)}
		}
	}
	@include media-breakpoint-up(lg){display:none}
}
#navBar{@include position(fixed, 0 0 0 null);width:300px;@include padding(10px);padding-top:90px;z-index:0;transform:translateX(100%);@extend %tr-all;visibility:hidden;overflow:hidden;-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:rgba(#08070d,0.9);border-radius:5px;opacity:1;transform:scale(0);transform-origin:top right;transition:transform 0.3s, visibility 0s 0.3s;
	li{position:relative;margin-bottom:20px;padding-right:40px;font-weight:400;font-size:20px;text-align:right;
		a{color:#fff!important;@extend %tr-all;
			span{color:$color-second;font-weight:bold}
		}
		&:last-child{margin-bottom:0}
	}
	&.is-visible{z-index:999;visibility:visible;transform:scale(1);transition:transform 0.3s, visibility 0s 0s}
	@include media-breakpoint-up(lg){display:none}
}

/* Header */
header{@include position(relative, null);z-index:3;@include size(100%, auto);height:70px;@extend %tr-all;
	.logo{@include position(absolute, 30px null null 50%);@include size(140px, 53px);margin-left:-80px;opacity:0;@extend %tr-all;
		a{display:block;background:url(../images/logo.png) 0 0 no-repeat;background-size:contain;@include size(140px, 53px);text-indent:-9999px}
	}
	.menu-wrap{display:none;padding-top:16px;
		ul{display:flex;justify-content:flex-end;align-items:center;
			li{flex-shrink:0;margin: 0 50px;
				&:last-child{
					margin-right: 0;
				}
				a{display:block;position:relative;@include padding(10px 0 5px);color:$color-base;font-size:1.125em;font-weight:500;border-bottom: 3px solid transparent;@extend %tr-all;
					// &:before{@include position(absolute, null null 0 50%);content:"";background-color:$color-main;width:0;height:3px;transition:all .2s ease-in-out;text-align:center}
					&:hover{
						border-bottom: 3px solid #0068FF;
						// &:before{width:50px;margin-left:-25px;}
					}
					&.active{
						border-bottom: 3px solid #0068FF;
					}
				}
			}
		}
	}
	@include media-breakpoint-up(lg){@include position(absolute, 0 0 null 0);height:100px;
		&.fixed-header{@include position(fixed, 0 0 null 0);z-index:99;background-color:$background;height:72px;
			.logo{top:8px;opacity:1}
			.menu-wrap{padding-top:15px}
		}
		.logo{top:25px;left:$gutter;margin-left:0}
		.menu-wrap{display:block}
	}
}

/* Content */
.logo-register{display:block;background:url(../images/logo.png) 0 0 no-repeat;background-size:contain;@include size(160px, 60px);@include margin(50px auto 50px);text-indent:-9999px;
	@include media-breakpoint-up(lg){@include size(260px, 130px);margin-top:0}
}
.page-content{position:relative;@include clearfix;
	@include media-breakpoint-up(lg){padding-top:100px}
}
.heading{max-width:650px;@include margin(null auto 50px);@include padding(null $gutter);
	h2{display:block;margin-bottom:$gutter/2;color:$color-second;font-size:1.75em;font-weight:700}
	h3{display:block;margin-bottom:$gutter/2;color:#fff;font-size:1.25em;font-weight:700}
	p{display:block;margin-bottom:$gutter/2;color:#fff;font-size:1em;font-weight:500}
	@include media-breakpoint-up(lg){
		h2{font-size:2.25em;}
		h3{font-size:1.5em}
		p{font-size:1.125em}
		
	}
}

.module-intro{@include padding(0px null 50px);
	.context-intro{max-width:720px;@include margin(null auto 80px);@include padding(null $gutter);
		p{margin-bottom:$gutter;color:$color-base;font-size:1em;font-weight:400;
			strong{font-weight:700}
		}
		@include media-breakpoint-up(lg){
			p{font-size:1.25em;}
		}
	}
	.swiper-intro{
		.item-intro{display:block;position:relative;box-shadow:0 2px 8px rgba(0,0,0,0.36);
			&.is-img{@extend %backgroundCover--center;
				@include media-breakpoint-up(lg){height:350px}
				// &:after{@include position(absolute, 0);z-index:1;content:"";background-color:rgba(#00169D,0.2)}
			}
			&.is-video{@extend %backgroundCover--center;
				@include media-breakpoint-up(lg){height:350px}
				&:after{@include position(absolute, 50% null null 50%);z-index:1;content:"";background:url(../images/ico_play.png) 0 0 no-repeat;background-size:cover;@include size(66px);margin-top:-33px;margin-left:-33px}
			}
			&:before{content:"";display:block;@extend %backgroundCover--center;padding-top:56.25%}
		}
	}
	.swiper-wrapper{align-items:stretch;}
	.swiper-slide{width:35%;@include padding(10px)}
	.swiper-slide:nth-child(2n){
		width:30%;
	}
	.swiper-slide:nth-child(3n){
		width:33%;
	}
	.swiper-slide:nth-child(4n){
		width:25%;
	}
	.swiper-button-next, .swiper-button-prev{background:none;background-color:rgba($color-main,0.36);@include size(60px);border-radius:100%;@extend %tr-all;outline:0;
		[class^=icn]{display:block;@include size(60px);@include padding(14px);color:#fff;font-size:1.875rem}
		&:hover{background-color:rgba($color-main,0.76)}
	}
	.swiper-button-disabled{display:none}
}

.module-speaker{margin-bottom:25px;padding-top:75px;
	.context-speaker{position:relative;
		@include media-breakpoint-up(lg){
			&:before{@include position(absolute, null 0 -300px);content:"";background:url(../images/bg_speaker.png) bottom center no-repeat;background-size:contain;width:100%;height:600px}
		}
		.speaker-list{position:relative;z-index:1;max-width:1200px;@include margin(null auto);
			.item-speaker{display:block;margin-bottom:70px;text-align:center;color:inherit;
				&.is-host{
					span.avatar{@include size(200px)}
					p{font-size:1.25em}
				}
				span.avatar{position:relative;display:block;@extend %backgroundCover--center;@include size(180px);@include margin(null auto);margin-bottom:25px;box-shadow:0 2px 6px rgba(0,0,0,0.34);@extend %tr-all;background-size:100%;
					&.is-host{@include size(280px)}
					&:after{@include size(100%);@include position(absolute,0 0 null 0);z-index:1;margin:null auto;background:rgba(0,26,240,0.3);border-radius:50%;content:'';transition:all 400ms;opacity:0; visibility:hidden;}
					&:hover{background-size:230px;
						&:after{opacity:1; visibility:visible;}
					}
				}
				p{color:$color-base;font-size:1.25em;font-weight:500;
					&.company{font-weight:700;color:$color-second;white-space:nowrap;font-size:1.125rem;}
				}
				h4.name{display:block;color:#fff;font-size:1.125rem;font-weight:700}
			}
		}
		.item-speaker{display:block;margin-bottom:50px;color:inherit;text-align: center;
			&.is-host{
				span.avatar{@include size(180px)}
				p,h4{font-size:1.5rem !important}
				width: fit-content;
				margin: 0 auto;
				align-items: center;
			}
			span.avatar{position:relative;display:block;@extend %backgroundCover--center;@include size(180px);@include margin(null auto);margin-bottom:25px;box-shadow:0 2px 6px rgba(0,0,0,0.34);@extend %tr-all;background-size:100%;
				&.is-host{@include size(280px)}
				&:after{@include size(100%);@include position(absolute,0 0 null 0);z-index:1;margin:null auto;background:rgba(0,26,240,0.3);border-radius:50%;content:'';transition:all 400ms;opacity:0; visibility:hidden;}
				&:hover{background-size:280px;
					&:after{opacity:1; visibility:visible;}
				}
			}
			p{color:$color-base;font-size:1.5em;font-weight:500;
				&.company{font-weight:700;color:$color-second;white-space:nowrap;}
			}
			h4.name{display:block;color:#fff;font-weight:700}
			
			@include media-breakpoint-up(lg){
				text-align: left;
				display: flex;
				span.avatar{@include size(250px)}
				// p,h4{font-size:1.5rem}
				width: fit-content;
				margin: 0 auto;
				align-items: center;
				.text{
					margin-left: 72px;
				}
			}
		}
	}
	@include media-breakpoint-up(lg){margin-bottom:25px;
		.speaker-list{display:flex;justify-content:center;align-items:flex-start;flex-wrap:wrap;
			li{flex-shrink:0;width:20%;@include padding(null ($gutter/2))}
		}
	}
}

.module-agenda{margin-bottom:25px;padding-top:75px;
	.context-agenda{max-width:1200px;@include margin(0 auto);@include padding(null $gutter);background-color:rgba(#0A236B,0.7);border-radius: 25px;padding: 55px 32px 0;margin-right: 15px;
		margin-left: 15px;
		.timeline{list-style:none; max-width: 900px; margin: 0 auto;}
		.timeline > li{position:relative;padding-bottom:55px;font-size:0.938em;
			&:after{position:absolute;top:3px;bottom:-3px;left:7.5px;content:'';background:rgba(#fff,0.7);width:0.7px;}
			&:last-child{
				&:after{display:none;}
			}
			.timeline-date{position:relative;top:-3px;padding-left:45px;font-weight:500}
			.timeline-content{padding-left:45px;
				&:before{position:absolute;top:3px;left:3px;z-index:1;content:'';background:$color-second;@include size(10px);border-radius:100%;}
				h3{display:block;margin-bottom:5px;color:$color-base;font-size:1.125em;font-weight:700}
				p{color:#0068FF;font-size:1.125em;font-weight:700}
			}
		}
		@include media-breakpoint-up(lg){
			width: 97%;
			margin: 0 auto;
			padding: 75px 0 20px;
			.timeline > li{padding-bottom:55px;font-size:1em;
				&:after{left:120.5px}
				.timeline-date{top:0;float:left;width:120px;margin-top:-3px;padding-left:0;padding-right:20px;color:#fff;font-size:1em;text-align:right}
				.timeline-content{width:75%;float:left;margin-top:-5px;
					&:before{left:116px}
				}
			}
		}
	}
	@include media-breakpoint-up(lg){margin-bottom:75px;margin-top:300px;}
}

.module-venue{background:url(../images/bg_contact.png) center center no-repeat;background-size:cover;padding-bottom:30px;overflow:hidden;
	
	// .container{
	// 	display: none;
	// }
	.map-google{margin-bottom:$gutter;@include padding(null $gutter);
		iframe{width:100%;height:280px;}
	}
	.map-vng{@include padding(null $gutter);flex-shrink:0;
		img{display:block;width:100%;height:auto}
		// .img{background-size:cover;background-repeat:no-repeat;background-position:center center;
		// 	&:after{display:block;content:'';padding-top:100%;
		// 	}
		// }
	}
	@include media-breakpoint-up(lg){
		min-height: 400px;
		padding-bottom: 80px;
		// .col-lg-12{display:flex;}
		.map-google{margin-bottom:0;flex-grow:1;min-width:0;@include padding(0);
			iframe{width:100%;height:277px;@include margin(null auto)}
		}
		.map-vng{display:block;@include padding(0);
			// .img{@include size(340px);}
			// img{height:340px}
		}
	}
}

.module-register{max-width:800px;@include margin(null auto);@include padding(null $gutter);
	.heading{max-width:100%;@include padding(0)}
}

.default-form{margin-bottom:50px;
	.form-group{
		label{display:block;color:#0068FF;font-size:1.125em;font-weight:500}
		input.form-control, textarea.form-control{background:transparent;width:100%;@include padding(15px null);color:$color-base;font-size:1.125em;font-weight:500;border:0;border-bottom:1px solid rgba($color-second, 0.25);box-shadow:none;outline:0;@extend %tr-all;
			&:focus{border-color:#fff}
		}
		textarea.form-control{display:block;width:100%}
		@include media-breakpoint-up(lg){display:flex;align-items:center;
			&.is-otr{display:block;}
			label{flex-shrink:0;width:250px;margin-right:$gutter}
			input{flex-grow:1;min-width:0}
		}
		&.is-button{justify-content:center;text-align:center;
			.btn{min-width:220px;
				@include media-breakpoint-up(lg){min-width:280px}
			}
		}
	}
	em.error{display:block;margin-top:-10px;margin-bottom:10px;color:$color-error;font-size:0.875em}
	@include media-breakpoint-up(lg){margin-bottom:100px;
		em.error{text-align:right;}
	}
}

/* Config */
.fancybox-slide>*{display:block!important}
.fancybox-toolbar{display:none!important}
.fancybox-button svg path{stroke:none!important}

/* Update 2019 */
.container.max-width{max-width:1200px!important;@include padding(null $gutter)}
.module-hero{
	@include media-breakpoint-up(lg){
		display:flex;align-items:flex-start;height:calc(100vh - 110px);
		.row{
			width: 1200px;
		}
	}
}
.vide-kv-wrap{display:none;@include position(absolute, 0 0 null);z-index:1;height:100vh;
	video{display:none!important}
	.vide-kv{height:100vh}
	@include media-breakpoint-up(lg){display:block;
		video{display:block!important}
	}
	// &:before{@include position(absolute, null 0 0 0);content:"";z-index:1;background-image:linear-gradient(to top, #000 0%, #000 30%, rgba(0,0,0,0) 100%);height:120px}
}
.hero-container{position:relative;z-index:3;height:auto!important;margin-bottom:-$gutter;
	.logo-hero{display:block;background:url(../images/logo_hero.png) center center no-repeat;background-size:contain;@include size(200px, 75px); margin: 0 auto $gutter*2;
		@media only screen and (max-width:349px){@include size(200px, 75px);}
	}
	h1{display:block;max-width:620px;margin:0 auto;color:#fff;font-size:0.875rem;line-height:1.3;font-weight:300;text-align:center;
		strong{color:$color-second; text-transform: uppercase;}
	}
	.btn-wrap{margin-top:$gutter*2;text-align:center;
		.btn-primary{
			background-color: #0068FF !important;
		}
	}
	.img-kv{@include margin(15px null 45px);}
	p{margin-bottom:20px;color:#fff;font-size:1em;font-weight:300;}
	@include media-breakpoint-up(lg){margin-bottom:0;padding-bottom:35px;display: flex; flex-direction: column; align-items: flex-end;
		.logo-hero{@include size(220px, 110px);background-position-x: 15px;margin: unset;}
		h1{max-width:100%;@include margin(30px null 30px);font-size:1.125rem;}
		h1, p, .btn-wrap{text-align:right}
		.btn-wrap{margin-top:0;
		}
		.img-kv{@include margin(0 null)}
	}
}