block home

- var friend = []
- friend.push({"class":""})
- friend.push({"class":""})
- friend.push({"class":""})

span.logo.logo--s.is-absolute(style="background-image:url(images/logo.png)")
.bl-module.module-question
	.heading
		.countdown
			#countdowntimer 10
			svg
				circle(r="26" cx="28" cy="28")
		h2.title-heading.ml-auto Question 1 of 10
	.heading.hidden
		.role-heading
			i.ic-playfun
			span Playing for fun
		.countdown
			#countdowntimer 10
			svg
				circle(r="23" cx="27" cy="27")
		h2.title-heading.ml-auto Question 1 of 10
	form(action="/" method="get" class="default-form")
		.group-question#question
			span.label-question Đồng tiền nào sau đây in hình Tổng thống Mỹ John F. Kenedy?
			ul.question-list
				li
					span 20 Đô-la đảo Cook
				li
					span 2 Đô-la Mỹ
				li
					span 500 Turik Mông Cổ








