block Body

.bl-cover-questions
	span.img-cover(style="background-image:url(images/zad_game_header.jpg)")
.body-questions
	.group-form
		.bl-info-oa
			.avatar.avatar--s
				.avatar-img(style="background-image:url(images/zad_OA_banner_avatar.png)")
			h1 Zalo Ads
		.bl-form
			h2.title.has-text-centered XÁC NHẬN THÔNG TIN LIÊN HỆ HỖ TRỢ
			.subtitle.has-text-centered
				p Trước khi trả lời những câu hỏi thú vị và nhận những phần quà hấp dẫn, bạn vui lòng điền đầy đủ và chính xác thông tin sau để BQT Zalo Ads có thể liên hệ và hỗ trợ bạn khi cần thiết.
			.field
				label.label Họ và tên 
				.control.has-icons-right
					input.input(type="text" id="name" placeholder="Vd: Nguyễn Văn A" value="")
					//- .icon.is-small.is-right
					//- 	i.icn.icn-check-circle.has-text-success
			.field
				label.label Số điện thoại
				.control.has-icons-right
					input.input(type="tel" id="mobile" placeholder="Vd: 098 9899 777" value="")
					//- .icon.is-small.is-right
					//- 	i.icn.icn-circle-remove.has-text-danger
				//- p.help.has-text-danger Đây là warning text
			.field
				label.label Email
				.control.has-icons-right
					input.input(type="text" id="email" placeholder="Vd: abc@gmail.com" value="")
			.field
				label.label Tên công ty/ doanh nghiệp/ cửa hàng
				.control.has-icons-right
					input.input(type="text" id="business" placeholder="Vd: Công ty CP AbC" value="")
			.field
				label.label Ngành nghề kinh doanh
				.control
					a.func-popup-job-major(href="javascript:void(0)")
					span.select.is-fullwidth
						select
							option(id='major' selected disabled value="") Chọn ngành nghề
						i.icn.icn-small-down
			.field.hidden#another-job-option
				label.label Ngành nghề khác
				.control.has-icons-right
					input.input(type="text" id='another_major' placeholder="Tên ngành nghề khác" value="")
			a.button.is-primary.is-large.is-fullwidth#submit_form Gửi thông tin
			p.copyright Powered by Zalo Ads



