block home

- var friend = []
- friend.push({"class":""})
- friend.push({"class":""})
- friend.push({"class":""})

span.logo.logo--s.is-absolute(style="background-image:url(images/logo.png)")
.bl-module.module-question
	.heading
		.role-heading
			i.ic-run
			span In the run
		.countdown
			#countdowntimer 10
			svg
				circle(r="26" cx="28" cy="28")
		h2.title-heading.ml-auto Question 1 of 10
	.heading.hidden
		.role-heading
			i.ic-playfun
			span Playing for fun
		.countdown
			#countdowntimer 10
			svg
				circle(r="23" cx="27" cy="27")
		h2.title-heading.ml-auto Question 1 of 10
	form(action="/" method="get" class="default-form")
		.group-question#question
			span.label-question Đồng tiền nào sau đây in hình Tổng thống Mỹ John F. Kenedy?
			.play-audio
				.wrap
					span
			ul.question-list
				li
					span 20 Đô-la đảo Cook
					.friend-list
						.item-friend
							.avatar.avatar--s
								.avatar-img(style="background-image:url(https://via.placeholder.com/100x100)")
						.item-friend
							.avatar.avatar--s
								.avatar-img(style="background-image:url(https://via.placeholder.com/100x100)")
				li
					span 2 Đô-la Mỹ
					.friend-list
						.item-friend
							.avatar.avatar--s
								.avatar-img(style="background-image:url(https://via.placeholder.com/100x100)")
						.item-friend
							.avatar.avatar--s
								.avatar-img(style="background-image:url(https://via.placeholder.com/100x100)")
						.item-friend
							.avatar.avatar--s
								.num +23
				li
					span 500 Turik Mông Cổ
					.friend-list
						.item-friend
							.avatar.avatar--s
								.avatar-img(style="background-image:url(https://via.placeholder.com/100x100)")
						.item-friend
							.avatar.avatar--s
								.avatar-img(style="background-image:url(https://via.placeholder.com/100x100)")
						.item-friend
							.avatar.avatar--s
								.num +23

	form(action="/" method="get" class="default-form")
		.group-question
			span.label-question Đồng tiền nào sau đây in hình?
			ul.question-list.is-result
				li.is-user
					span 20 Đô-la đảo Cook
					.friend-list
						.item-friend
							.avatar.avatar--s
								.avatar-img(style="background-image:url(https://via.placeholder.com/100x100)")
						.item-friend
							.avatar.avatar--s
								.avatar-img(style="background-image:url(https://via.placeholder.com/100x100)")
						span.num-friend 300
					span.per(style="width:25%")
				li.is-me-wrong
					span 2 Đô-la Mỹ
					.friend-list
						.item-friend
							.avatar.avatar--s
								.avatar-img(style="background-image:url(https://via.placeholder.com/100x100)")
						.item-friend
							.avatar.avatar--s
								.avatar-img(style="background-image:url(https://via.placeholder.com/100x100)")
						.item-friend
							.avatar.avatar--s
								.num +23
						span.num-friend 2k
					span.per(style="width:50%")
				li.is-me-right
					span 500 Turik Mông Cổ
					.friend-list
						.item-friend
							.avatar.avatar--s
								.avatar-img(style="background-image:url(https://via.placeholder.com/100x100)")
						.item-friend
							.avatar.avatar--s
								.avatar-img(style="background-image:url(https://via.placeholder.com/100x100)")
						.item-friend
							.avatar.avatar--s
								.num +23
						span.num-friend 12
					span.per(style="width:25%")








