block question

//- span.logo.logo--s.is-absolute(style="background-image:url(images/logo.png);background-size: contain;")
.bl-module.module-question
	.heading
		.avatar
			.avatar-img(style="background-image:url(images/zad_OA_banner_avatar.png)")
		//- .countdown
		//- 	#countdowntimer 60
		//- 	svg
		//- 		circle(r="26" cx="28" cy="28")
		h2.title-heading.ml-auto#count-question(style="opacity: 0") Question 1 of 8
	.group-question#question_0
		span.label-question Bạn đã từng biết đến Zalo Ads trước đó chưa?
		ul.question-list
			li
				span Đã biết
			li
				span Chưa từng nghe qua
	.group-question#question_1.hidden
		span.label-question Bạn đã từng sử dụng Zalo Ads chưa?
		ul.question-list
			li
				span Rồi
			li
				span Chưa
	.group-question#question_2.hidden
		span.label-question Website của Zalo Ads là gì?
		ul.question-list
			li
				span.is-answer ads.zalo.me
			li
				span zaloads.com
	.group-question#question_3.hidden
		span.label-question Zalo Ads là gì?
		ul.question-list
			li
				span.is-answer Hệ thống tự vận hành
			li
				span Hệ thống booking
	.group-question#question_4.hidden
		span.label-question Zalo Ads tính tiền theo?
		ul.question-list
			li
				span.is-answer Lượt tương tác
			li
				span Lượt tiếp cận
	.group-question#question_5.hidden
		span.label-question Zalo Ads phù hợp với doanh nghiệp thế nào?
		ul.question-list
			li
				span Doanh nghiệp lớn và vừa
			li
				span.is-answer Tất cả doanh nghiệp/ chủ cửa hàng từ lớn đến bé
	.group-question#question_6.hidden
		span.label-question Khi thực hiện quảng cáo trên Zalo Ads, bạn có cơ hội tối ưu chuyển đổi với bao nhiêu khách hàng tiềm năng?
		ul.question-list
			li
				span.is-answer Hơn 58 triệu 
			li
				span 45 triệu
	.group-question#question_7.hidden
		span.label-question Số hotline liên hệ Zalo Ads khi cần hỗ trợ là gì?
		ul.question-list
			li
				span.is-answer 1900 988 912
			li
				span 1900 900 90
.bl-module.module-gift
	.block-gift#tshirt.hidden
		img(src="images/ZAD_Illus_AothunZaloBusiness.png")
		p 
			span Chúc mừng bạn 
			|<br>đã trúng được:
		p.blue-large Áo thun
	.block-gift#pen.hidden
		img(src="images/ZAD_Illus_ButBiZaloBusiness.png")
		p 
			span Chúc mừng bạn 
			|<br>đã trúng được:
		p.blue-large 2 cây bút
	.block-gift#notebook.hidden
		img(src="images/ZAD_Illus_NotebookZaloBusiness.png")
		p 
			span Chúc mừng bạn 
			|<br>đã trúng được:
		p.blue-large Sổ tay
	.block-gift#glasswater.hidden
		img(src="images/ZAD_Illus_LyZaloBusiness.png")
		p
			span Chúc mừng bạn 
			|<br>đã trúng được:
		p.blue-large Bình nước
	.block-gift#voucher.hidden
		img(src="images/ZAD_Illus_NapTienVoucher.png")
		p
			span Chúc mừng bạn 
			|<br>đã trúng được:
		p.blue-large Mã Voucher
			span.code <br>ZaloAdsVOMF2020
	p#note-content.hidden Bạn có thể chụp màn hình để lưu lại mã voucher này
	








