.popup-container#popup-job-major
	.bl-popup-heading
		span Chọn ngành nghề kinh doanh
		a.func-close-popup.is-right(href="javascript:void(0)")
			i.icn.icn-small-remove
	//- .bl-popup-search
	//- 	.field.mb-0
	//- 		.control.has-icons-left
	//- 			input.input(type="text" placeholder="Tìm nhanh")
	//- 			span.icon.is-left
	//- 				i.icn.icn-search
	.bl-popup-context
		.context-scroll
			ul.group-add-list
				li 
					a(href="javascript:void(0)") Bất động sản
				li
					a(href="javascript:void(0)") Giáo dục
				li
					a(href="javascript:void(0)") Du lịch
				li
					a(href="javascript:void(0)") Ngân hàng
				li
					a(href="javascript:void(0)") Tài chính
				li
					a(href="javascript:void(0)") Chứng khoán
				li
					a(href="javascript:void(0)") Fitness
				li
					a(href="javascript:void(0)") Thời trang
				li
					a(href="javascript:void(0)") FMCG
				li
					a(href="javascript:void(0)") Spa
				li
					a(href="javascript:void(0)") Thẩm mỹ viện
				li
					a(href="javascript:void(0)") F&B
				li
					a(href="javascript:void(0)") Khác