block menuMobile

.slidebar-container
	ul
		li
			a(href="#!") Netvieclam
		li
			a.active(data-toggle="collapse" href="#collapse-1" role="button" aria-expanded="false" aria-controls="collapse-1") University
			.collapse(id="collapse-1")
				ul
					li
						a(href="#!") University 1
					li
						a(href="#!") University 2
					li
						a(href="#!") University 3
		li
			a(href="#!") Help
		li
			a(href="blog_list.html") Discovery
		li
			a(href="javascript:void(0);" data-toggle="modal" data-target="#modal-login") Sign In
