extends layout.pug

//- Setting
block setting
	- var layout = true
	- var header = true
	- var footer = true
	- var modal = false
	- var swiperjs = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-layout")
	- headerClasses.push("header")
	- bodyClasses.push("page-content")
	- footerClasses.push("footer")
	
//- Add Header
block header
	include page/header.pug

//- Add Body
block body
	include page/_batdau.pug

//- Add Footer
block footer
	include page/footer.pug


block javaScripts extend
	script.
	
		function playPause() { 
			var myVideo = document.getElementById("video-homepage-ad"); 
			var backgroundOverlayVideo = document.getElementById("background-overlay"); 
			var buttonPlayVideo = document.getElementById("button-play"); 
			var buttonPlayPause = backgroundOverlayVideo.getElementsByClassName('icn')[0] 
			var screenWidth = document.documentElement.clientWidth 
			if(myVideo.paused) { 
				myVideo.play(); 
				if(screenWidth >= 1024){ 
					buttonPlayPause.classList.add('icn-bold-pause') 
					buttonPlayPause.classList.remove('icn-bold-play') 
					buttonPlayPause.style.opacity = '0' 
					backgroundOverlayVideo.style.display = 'none' 
				} else { 
						var iconPlayVideo = buttonPlayVideo.getElementsByTagName('I')[0] 
						iconPlayVideo.style.display = 'none' 
						buttonPlayPause.classList.add('icn-bold-pause') 
						buttonPlayPause.classList.remove('icn-bold-play') 
				} 
			} else { 
				myVideo.pause(); 
				if(screenWidth >= 1024){ 
					buttonPlayPause.classList.remove('icn-bold-pause') 
					buttonPlayPause.classList.add('icn-bold-play') 
					buttonPlayPause.style.opacity = '1' 
					backgroundOverlayVideo.style.display = 'block' 
				} else { 
					var iconPlayVideo = buttonPlayVideo.getElementsByTagName('I')[0] 
					iconPlayVideo.style.display = 'block' 
					buttonPlayPause.classList.remove('icn-bold-pause') 
					buttonPlayPause.classList.add('icn-bold-play') 
				} 
			} 
			myVideo.onended = ()=>{ 
				buttonPlayPause.classList.remove('icn-bold-pause') 
				buttonPlayPause.classList.add('icn-bold-play') 
				buttonPlayPause.style.opacity = '1' 
				backgroundOverlayVideo.style.display = 'block' 
			} 
		} 