extends layout.pug

//- Setting
block setting
	- var layout = true
	- var header = true
	- var footer = true
	- var modal = true
	- var swiperjs = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-layout")
	- headerClasses.push("header is-header-shadow")
	- bodyClasses.push("page-content")
	- footerClasses.push("footer")
	
//- Add Header
block header
	include page/header.pug

//- Add Body
block body
	include page/_cauhoithuonggap.pug

//- Add Footer
block footer
	include page/footer.pug

//- Add Modal
block modal

block javaScripts extend
	script.
		var swiper = new Swiper('.tabs-swiper', {
				slidesPerView: 'auto',
				simulateTouch: true,
				loop: false,
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},
			})
		