extends layout.pug

//- Setting
block setting
	- var layout = true
	- var header = true
	- var footer = true
	- var modal = true
	- var popperjs = true
	- var tippyjs = true
	- var swiperjs = false

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-layout")
	- headerClasses.push("header")
	- bodyClasses.push("page-content")
	- footerClasses.push("footer")
	
//- Add Header
block header
	include page/header.pug

//- Add Body
block body
	include page/_chinhsach.pug

//- Add Footer
block footer
	include page/footer.pug

//- Add Modal
block modal

block javaScripts extend
	script.
		tippy('[data-tippy-content]');
		$('.func-scroll').on('click', function(e) {
			e.preventDefault();
			$('html, body').animate({scrollTop : 0}, 500);
		});
		//- var is_this_useful
		var noteContent = document.getElementById('useful_note')
		var likeButton = document.getElementById('like-button')
		var dislikeButton = document.getElementById('dislike-button')
		var formSending = document.getElementById('form-sending')
		var thankyouText = document.getElementById('thank-you')
		likeButton.addEventListener("click",() => {
			formSending.style.display = 'none'
			thankyouText.style.display = 'unset'

			//get username zalo
			var userName = ''
			var userInfo = document.getElementsByClassName('user-info')[0]
			
			if(userInfo){
				var userDesc = userInfo.getElementsByClassName('desc')[0]
				userName = userDesc.getElementsByTagName('SPAN')[0].innerHTML
			} else {
				userName = ''
			}
			$.ajax({
				url: "https://docs.google.com/forms/d/e/1FAIpQLScz2lo_exBhRjeE933_f89lCVQaGX0l5ldb7aLzXyvqw5HyVQ/formResponse?",
				data: {"entry.506773411":'tên bài viết',"entry.1708541852": window.location.href,"entry.1742133424":'Có', "entry.802725021": '',"entry.900901583":userName},
				type: "POST",
				dataType: "jsonp",
				success: function(d)
			{},
				error: function(x, y, z) {}
			});

			return false;
			//- var whenUseful = document.getElementById('when-useful')
			//- var buttonSend = document.getElementById('send-to')
			//- var whenUseless = document.getElementById('when-useless')
			//- likeButton.classList.add('choose')
			//- dislikeButton.classList.remove('choose')
			//- whenUseful.style.display = 'unset'
			//- buttonSend.style.display = 'unset'
			//- whenUseless.style.display = 'none'
		})
		dislikeButton.addEventListener("click",() => {
			if(screen.width >= 1024){
				formSending.style.flexDirection = 'column'
			}
			var buttonSend = document.getElementById('send-to')
			var whenUseless = document.getElementById('when-useless')
			dislikeButton.classList.add('choose')
			likeButton.classList.remove('choose')
			//- is_this_useful = false
			document.getElementById('group-button').style.display = 'none'
			whenUseless.style.display = 'flex'
			buttonSend.style.display = 'unset'
			formSending.getElementsByTagName('P')[0].innerHTML = 'Bạn không hài lòng với những điểm nào?'
		})

		var whenUseless = document.getElementById('when-useless')
		var radioButtons = whenUseless.getElementsByClassName('radio')
		Array.from(radioButtons).forEach((radio) =>{
			var labelValue = radio.getElementsByTagName('LABEL')[0].innerHTML
			var radioInput = radio.getElementsByTagName('INPUT')[0]
			radio.onclick = () => {
				if(radioInput.checked){
					radioInput.checked=false
				}else{
					radioInput.checked=true
					var anotherOption = document.getElementById('another-option')
					if(radioInput.value == 'Khác'){
						anotherOption.style.display = 'unset'
						noteContent.innerHTML = ''
					} else {
						anotherOption.style.display = 'none'
						noteContent.innerHTML = radioInput.value
					}
				}}
		})
		$('#another-option').bind('input', value => {
			document.getElementById('another-option').innerHTML = value.target.value
		});
		function postToGoogle() {
			//get username zalo
			var userName = ''
			var userInfo = document.getElementsByClassName('user-info')[0]
			
			if(userInfo){
				var userDesc = userInfo.getElementsByClassName('desc')[0]
				userName = userDesc.getElementsByTagName('SPAN')[0].innerHTML
			} else {
				userName = ''
			}
			
			var anotherOptionValue = document.getElementById('another-option').innerHTML
			var noteContentValue = noteContent.innerHTML
			if(noteContentValue){
				formSending.style.display = 'none'
				thankyouText.style.display = 'unset'
				$.ajax({
					url: "https://docs.google.com/forms/d/e/1FAIpQLScz2lo_exBhRjeE933_f89lCVQaGX0l5ldb7aLzXyvqw5HyVQ/formResponse?",
					data: {"entry.506773411":'tên bài viết',"entry.1708541852": window.location.href, "entry.1742133424":'Không', "entry.802725021": noteContentValue,"entry.900901583":userName},
					type: "POST",
					dataType: "jsonp",
					success: function(d)
				{},
					error: function(x, y, z) {}
				});

				return false;
			} else {
				if(anotherOptionValue){
					formSending.style.display = 'none'
					thankyouText.style.display = 'unset'
					$.ajax({
						url: "https://docs.google.com/forms/d/e/1FAIpQLScz2lo_exBhRjeE933_f89lCVQaGX0l5ldb7aLzXyvqw5HyVQ/formResponse?",
						data: {"entry.506773411":'tên bài viết',"entry.1708541852": window.location.href, "entry.1742133424":'Không', "entry.802725021": anotherOptionValue,"entry.900901583":userName},
						type: "POST",
						dataType: "jsonp",
						success: function(d)
					{},
						error: function(x, y, z) {}
					});

					return false;
				}
				else{
					alert('Nhập vấn đề bạn cần giải quyết')
					return false;
				}
			} 	
		}

		//input ?ifame after permalink
		var post_permalink_path = window.location.search
		if(post_permalink_path.includes("iframe")){
			headerStick.style.display = 'none'
			document.getElementsByTagName("FOOTER")[0].style.display = 'none'
			document.getElementsByClassName("section-cta")[0].style.display = 'none'
			document.getElementsByClassName("body-single")[0].style.marginTop = '0'
		}

		
		