//- ====================== SETUP HTML ==============================
- var page = "Zalo Ads"
- var responsiveDevice = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
- var description = "description here"

//------------------------------ Javascript ------------------------------
- var jquery = true
- var jquery_link = "js/jquery.min.js"
- var modernizr = false
- var modernizr_link = "js/plugins/modernizr.min.js"
- var wow = false
- var swiperjs = false
- var popperjs = true
- var tippyjs = false
- var bootstrapjs = true
- var mainjs = true

//------------------------------ URL ------------------------------
- var Url = ""