extends layout_single.pug

//- Setting
block setting
	- var layout = true
	- var footer = true
	- var modal = true
	- var popperjs = true
	- var tippyjs = true
	- var swiperjs = false

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-layout")
	- bodyClasses.push("page-content")
	- footerClasses.push("footer")

//- Add Body
block body
	include page/_covidlandingpage.pug

//- Add Modal
block modal
	include page/modal_covid_rules.pug

//- Add Footer
block footer
	include page/footer.pug

block javaScripts extend
	script.
		$('.func-covid-modal-form').click(function() {
			$('#covid-modal-form').modal('show');
		});

		window.onscroll = function() {onScrollDisplayMenuTop()};

		var btn_uudai = document.getElementById("btn-dang-ky-uudai");
		var sticky = btn_uudai.offsetTop;
		var header_sticky = document.getElementById("covid-header");

		function onScrollDisplayMenuTop() {
			if(screen.width < 1024){
				if (window.pageYOffset > sticky + 120) {
				header_sticky.classList.add('show')
				} else {
					header_sticky.classList.remove('show')
				}
			} else {
				if (window.pageYOffset > sticky + 150) {
				header_sticky.classList.add('show')
				} else {
					header_sticky.classList.remove('show')
				}
			}
		}
