extends layout.pug

//- Setting
block setting
	- var layout = true
	- var header = true
	- var footer = false
	- var modal = false
	- var swiperjs = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-layout")
	- headerClasses.push("header")
	- bodyClasses.push("page-content")
	- footerClasses.push("footer")
	
//- Add Header
block header
	include page/header.pug

//- Add Body
block body
	include page/_doitaccaocap.pug


block javaScripts extend
	script.