extends layout.pug

//- Setting
block setting
	- var layout = true
	- var header = true
	- var footer = false
	- var modal = false
	- var swiperjs = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-layout")
	- headerClasses.push("header")
	- bodyClasses.push("page-content")
	- footerClasses.push("footer")
	
//- Add Header
block header
	include page/header.pug

//- Add Body
block body
	include page/_dsdoitac.pug


block javaScripts extend
	script.
		let list_doitac = []
		let partner_component = (item) => {
			return "<a class='bl-partner' href='"+item.link+"' target='_blank' id='"+item.index+"'><img class='hover' src='"+item.logo+"'/><img class='grayscale' src='"+item.logo_grayscale+"'/><p class='partner-name'>"+item.name+"</p></a>"
		}
		window.onload = () => {
			fetch("https://ads.zalo.me/business/wp-content/themes/html5blank-stable/js/list_doitac.json")
				.then(response => response.json())
				.then(json => {
					list_doitac = json
					//- let length = window.innerWidth <= 1024 ? 7 : 8
					for(let i = 0; i <= list_doitac.length; i ++){
						$( "#image-logo" ).append(partner_component(json[i]))
					}
				});
		}
		var lastScrollTop = 0;
		window.onscroll = () => {
			var st = window.pageYOffset || document.documentElement.scrollTop;
			let circleLoading = document.getElementById('loading-circle')
			let listBlocks = document.getElementsByClassName('bl-partner')
			let windowHeight = window.innerHeight
			let windowWidth = window.innerWidth

			if (st > lastScrollTop){
				//scroll down	
				let lastBlockId = parseInt($('.bl-partner').last().attr('id'))
				let last_block = listBlocks[lastBlockId]
				if(last_block.getBoundingClientRect().top + 300 <= windowHeight){
					if(lastBlockId+1 == list_doitac.length){
						//when list is over
						circleLoading.style.opacity = 0
					} else {
						circleLoading.style.opacity = 1
						setTimeout(()=>{
							circleLoading.style.opacity = 0
							if(windowWidth <= 1024){
								//- $( ".image-logo" ).append(partner_component(list_doitac[lastBlockId+1]))
								//- $( ".image-logo" ).append(partner_component(list_doitac[lastBlockId+2]))
								//- $( ".image-logo" ).append(partner_component(list_doitac[lastBlockId+3]))
								//- $( ".image-logo" ).append(partner_component(list_doitac[lastBlockId+4]))
							} else {
								//- $( ".image-logo" ).append(partner_component(list_doitac[lastBlockId+1]))
								//- $( ".image-logo" ).append(partner_component(list_doitac[lastBlockId+2]))
								//- $( ".image-logo" ).append(partner_component(list_doitac[lastBlockId+3]))
							}
						},1000)
					}
				}
			} else {
				//scroll up
				circleLoading.style.display = 'none'
			}
			lastScrollTop = st <= 0 ? 0 : st;
			
			//- scrollLoadMore()
		}
