extends layout.pug

//- Setting
block setting
	- var layout = true
	- var header = true
	- var footer = true
	- var modal = true
	- var swiperjs = false

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-layout")
	- headerClasses.push("header is-header-shadow")
	- bodyClasses.push("page-content")
	- footerClasses.push("footer")
	
//- Add Header
block header
	include page/header.pug

//- Add Body
block body
	include page/_huongdan.pug

//- Add Footer
block footer
	include page/footer.pug

//- Add Modal
block modal

block javaScripts extend
	script.
		const SearchCategory = document.getElementsByClassName('section-category-search')[0]
		const SearchInput = SearchCategory.getElementsByClassName('search-input-form')
		const SearchSuggest = SearchCategory.getElementsByClassName('suggestion-search')
		window.addEventListener('click', function(e){   
			if (document.getElementById('search-only-category').contains(e.target)){
				SearchInput[0].style.borderColor = '#1745cf'
				SearchSuggest[0].style.borderColor = '#1745cf'
				SearchSuggest[0].style.opacity = 1
				SearchSuggest[0].style.zIndex = 'unset'
				SearchCategory.style.zIndex = 101
				SearchCategory.style.overflow = 'unset'
			} else{
				SearchInput[0].style.borderColor = '#DDDDDD'
				SearchSuggest[0].style.borderColor = '#DDDDDD'
				SearchSuggest[0].style.opacity = 0
				SearchSuggest[0].style.zIndex = -1
				SearchCategory.style.zIndex = 99
				SearchCategory.style.overflow = 'hidden'
			}
		})
		const inputValue = document.getElementById('s')
		const buttonSearchCategory = document.getElementById('button-search-category')
		inputValue.oninput = value => {
			if(value.target.value.length > 0){
				buttonSearchCategory.removeAttribute("disabled")
			} else {
				buttonSearchCategory.setAttribute("disabled", "disabled")
			}
		}