include config.pug
block setting
	- var loading = false
	- var popup = false
	- var modal = false
	- var header = true

doctype
html(lang="en")
	head
		block head

	//- add class for wrapper
	- var bodyC = [];
	- var layoutClasses= [];
	- var headerClasses = [];
	- var bodyClasses = [];
	block pages

	body(class=`${bodyC}`)
		if loading
			.layer-loading
		if header
			div(class=`${headerClasses}`)
				block header
		if layout
			block layout
				div(class=`${bodyClasses}`)
					block body
			if navbar
				include page/navbar.pug
		.bl-popup
			if popup
				block popup
		.bl-modal
			if modal
				block modal
		// Include Plugin
		block javaScripts
			include javascript.pug	
		block javaScripts extend
			