//- ====================== SETUP HTML ==============================
- var page = "Bắt đầu cùng Zalo Ads"
- var responsiveDevice = "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
- var description = "Trả lời nhanh cùng với Zalo Ads"

//------------------------------ Javascript ------------------------------
- var jquery = true
- var jquery_link = "js/jquery.min.js"
- var modernizr = false
- var modernizr_link = "js/plugins/modernizr.min.js"
- var countdown = false

//------------------------------ URL ------------------------------
- var Url = ""