extends layout.pug

//- Setting
block setting
	- var layout = true
	- var header = false
	- var footer = false
	- var modal = false
	- var questions_js = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("question-layout")
	- headerClasses.push("")
	- bodyClasses.push("page-content")
	- footerClasses.push("")
	
//- Add Header
block header
	include page/header.pug

//- Add Body
block body
	include page/_question.pug

//- Add Footer
block footer
	include page/footer.pug

//- Add Modal
block modal

block javaScripts extend
	script.
		//- $(document).ready(function(){    
		//- 	$('.group-question li').on('click', function(e) {
		//- 		console.log(e.target.innerText)
		//- 		$(this).parent().addClass('is-result')
		//- 		$(this).addClass('is-selected').siblings().removeClass('is-selected');
		//- 	});
		//- });

		