extends layout.pug

//- Setting
block setting
	- var layout = true
	- var loading = false
	- var tooltip = false
	- var modal = false

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-form")
	- bodyClasses.push("page-content")

//- Add Body
block body
	include page/_thankyou.pug

//- Add Tooltip
block tooltip
	include page/tooltip.pug

block javaScripts extend
	script.