.popup-container#popup-editImg
	.bl-popup-heading
		span Chỉnh sửa hình ảnh
		a.func-close-popup
			i.icz.icz-close
		a.func-next#change-img-popup(style ="padding: 12px 18px") Đổi ảnh
	.bl-popup-context(style="background-color:rgba(0,0,0,0.94)")
		.img-container-mobile(style="height: 85%; width: 90%; margin: 0 auto;")
			img
		#actions-mobile
			.docs-buttons
				.button.is-primary.func-close-popup.crop-done-button(data-method="getCroppedCanvas") Xong
		
			