block Body

.bl-cover
	span.img-cover(style="background-image:url(images/zad_game_header.jpg)")
.body
	.group-form
		.bl-form
			svg.ico-success(width="133px" height="133px" viewBox="0 0 133 133" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
				g(id="check-group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd")
					circle(id="filled-circle" fill="#09AB4C" cx="66.5" cy="66.5" r="54.5")
					circle(id="white-circle" fill="#FFFFFF" cx="66.5" cy="66.5" r="55.5")
					circle(id="outline" stroke="#09AB4C" stroke-width="6" cx="66.5" cy="66.5" r="54.5")
					polyline(id="check" stroke="#FFFFFF" stroke-width="6" points="41 70 56 85 92 49")
			h2.title.has-text-centered Đã gửi thông tin
			span.subtitle.has-text-centered Thông tin của Quý đối tác đã được gửi tới <strong>Zalo Ads</strong>. Nhân sự Zalo Ads sẽ hỗ trợ Quý đối tác trong thời gian sớm nhất.
			//a.button.is-primary.is-large.is-fullwidth(href="#!") Đóng Zalo Form
			p.copyright Powered by Zalo Form


