// Core variables and mixins bourbon
@import "bourbon";

// Modal
.modal-backdrop.show{opacity:0.85;}
.modal-dialog{max-width:640px;
	&.is-medium{max-width:640px}
	&.is-large{max-width:1200px}
}
.modal-content{
	font-family: "SVN-Gilroy";
	&.is-hidden{
		display: none !important;
	}
	.modal-header{
		background-color: $color-main;
		padding: 16px;
		align-items: center;
		img{
			width: 65px;
			@include media-breakpoint-up(lg) {
				width: 100px;
			}
		}
		@include media-breakpoint-up(lg) {
			padding: 20px 64px;
		}
	}	
	.modal-body{
		&.custom-form{
			padding: 40px 32px;
			@include media-breakpoint-up(lg) {
				padding: 60px 64px;
			}
			.header-form{
				margin-bottom: 32px;
				h2{
					font-size: 30px;
					@include media-breakpoint-up(lg) {
						font-size: 50;
					}
				}
				@include media-breakpoint-up(lg) {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					margin-bottom: 64px;
				}
				.yellow-line{
					height: 8px;
					width: 100px;
					display: none;
					background-color: $color-main;
					@include media-breakpoint-up(lg) {
						display: block;
					}
				}
			}
			.is-error + .error{
				margin-top: -20px;
				margin-bottom: 20px;
				font-size: 10px;
				color: #dc3535;
				@include media-breakpoint-up(lg) {
					margin-top: -60px;
					margin-bottom: 60px;
					font-size: 16px;
				}
			}
			input{
				border: none;
				outline: none;
				border-bottom: 1px solid rgba(#707070, 0.5);
				width: 100%;
				font-size: 16px;
				padding-bottom: 4px;
				margin-bottom: 24px;
				font-family: "SVN-Gilroy";
				&::placeholder {
					color: rgba(#000,0.5)
				}
				@include media-breakpoint-up(lg) {
					font-size: 24px;
					padding-bottom: 8px;
					margin-bottom: 64px;
				}
				&.is-error{
					border-bottom: 1px solid #dc3535;
				}
			}
			.input-group{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: baseline;
				flex-wrap: wrap;
				input{
					@media only screen and (min-width: 1160px){
						max-width: 500px;
					}
				}
				@include media-breakpoint-up(lg) {
					.group-dropdown{
						flex-direction: row;
						width: unset;
						margin-bottom: 64px;
						.dropdown-group{
							width: unset;
						}
					}
					.no-space-between-desktop{
						justify-content: start !important;
						.group-radio{
							margin-right: 80px;
						}
					}
				}
			}
			.group-dropdown{
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: baseline;
				flex-wrap: wrap;
				width: 100%;
				margin-bottom: 24px;
				@include media-breakpoint-up(lg) {
					flex-direction: row;
					flex-wrap: nowrap;
					margin-bottom: 64px;
					.dropdown-group{
						margin-left: 40px;
						width: unset !important;
						.dropdown.full-width{
							width: unset;
						}
					}
				}
				&.dropdown-full{
					@include media-breakpoint-up(lg) {
						label{
							white-space: nowrap;
							margin-right: 72px;
						}
					}
					
				}
				&.one-line{
					flex-direction: row;
					flex-wrap: nowrap;
					label{
						margin-bottom: 0;
						margin-right: 10px;
						min-width: 90px;
						white-space:nowrap;
						@include media-breakpoint-up(lg) {
							min-width: fit-content;
						}
					}
					.full-width{
						width: 100%;
						justify-content: space-between;
						span{
							width: 100%;
						}
					}
				}
				.full-width{
					width: 100%;
					justify-content: space-between;
					margin-right: 12px;
					&:last-child{
						margin-right: 0;
					}
					span{
						width: 100%;
					}
				}
				label{
					font-size: 16px;
					line-height: 22px;
					margin-bottom: 8px;
					em{
						font-style: italic;
					}
					@include media-breakpoint-up(lg) {
						font-size: 24px;
						line-height: 36px;
					}
				}
				.dropdown-group{
					display: flex;
					flex-direction: row;
					align-items: baseline;
					justify-content: space-between;
					width: 100%;
				}
				.dropdown{
					.dropdown-toggle{
						padding: 8px 16px;
						background-color: #F4F4FB;
						border-radius: 99px;
						min-width: 90px;
						display: flex;
						align-items: center;
						justify-content: center;
						@include media-breakpoint-up(lg) {
							padding: 12px 32px;
						}
						span{
							font-size: 12px;
							line-height: 18px;
							color: rgba(#000, 0.5);
							@include media-breakpoint-up(lg) {
								font-size: 18px;
								line-height: 36px;
							}
						}
						&::after{
							vertical-align: baseline;
							border: none;
							background: url('../images/dropdown.png') center center no-repeat;
							background-size: contain;
							width: 10px;
							padding-top: 10px;
							margin-left: 16px;
							@include media-breakpoint-up(lg) {
								width: 10px;
								padding-top: 10px;
							}
						}
						
					}
					.dropdown-menu{
						max-height: 300px;
						overflow-x: hidden;
						overflow-y: auto;
						border: none;
						padding: 0;
						width: 100%;
						top: 2px !important;
						@include media-breakpoint-up(lg) {
							top: 4px !important;
						}
						a{
							padding: 12px 20px;
							line-height: 1.4;
							font-size: 12px;
							color: #707070;
							display: block;
							cursor: pointer;
							border-bottom: 1px solid rgba(#808080,0.5);
							&:last-child{
								border-bottom: 0;
							}
							@include media-breakpoint-up(lg) {
								font-size: 16px;
								line-height: 20px;
								padding: 16px 28px;
							}
						}
					}
					@include media-breakpoint-up(lg) {
						margin-right: 8px;
						&:last-child{
							margin-right: 0;
						}
					}
				}
				@include media-breakpoint-up(lg) {
					label{
						margin-right: 32px;
					}
				}
				&.is-error{
					position: relative;
					.dropdown-group{
						.dropdown-toggle.is-no-select{
							border: 1px solid #dc3535;
						}
					}
					p.error{
						margin-top: 4px;
						font-size: 10px;
						color: #dc3535;
						@include media-breakpoint-up(lg) {
							font-size: 16px;
							position: absolute;
							left: 0;
							top: 48px;
						}
					}
					
				}
			}
			.group-radio{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				// align-items: center;
				margin-bottom: 24px;
				width: 100%;
				&.one-line{
					flex-direction: row;
				}
				.group-radio-form{
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					margin-top: 24px;
					.form-check{
						margin-right: 40px;
						@include media-breakpoint-up(lg) {
							margin-right: 42px;
						}
						&:last-child{
							margin-right: 0;
						}
					}
				}
				@include media-breakpoint-up(lg) {
					width: unset;
					margin-bottom: 64px;
					label{
						font-size: 24px;
						margin-right: 42px;
						line-height: unset;
						&.form-check-label{
							padding-left: 50px;
							&::before{
								height: 24px;
								width: 24px;
								top: 40%;
							}
							&::after{
								height: 26px;
								width: 26px;
								top: 1px;
								left: 6px;
							}
						}
					}
				}
			}
			.textarea-form{
				margin-bottom: 24px;
				label{
					margin-bottom: 12px;
				}
				textarea{
					font-size: 16px;
					border: none;
					outline: none;
					resize: none;
					width: 100%;
					height: 100px;
					border-bottom: 1px solid rgba(#707070, 0.5);
					font-family: "SVN-Gilroy";
				}
				@include media-breakpoint-up(lg) {
					margin-bottom: 64px;
					label{
						font-size: 24px;
						margin-bottom: 24px;
					}
					textarea{
						font-size: 24px;
						height: 180px;
					}
				}
				&.is-error{
					textarea{
						border-bottom: 1px solid #dc3535;
					}
				}
			}
			.upload-form{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: baseline;
				width: 100%;
				margin-bottom: 24px;
				@include media-breakpoint-up(lg) {
					padding: 32px 50px;
					background-color: #F4F4FB;
					margin-bottom: 64px;
					align-items: center;
					&:last-child{
						margin-bottom: 0;
					}
					label{
						font-size: 24px;
					}
				}
				input{
					width: 0.1px;
					height: 0.1px;
					opacity: 0;
					overflow: hidden;
					position: absolute;
					z-index: -1;
				}
				p.file-name{
					// font-weight: 600;
					max-width: 75px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					padding: 0 4px;
					font-size: 12px;
					@include media-breakpoint-up(lg) {
						font-size: 18px;
						max-width: 100%;
					}
				}
				input + label{
					color: #000;
					background-color: $color-main;
					padding: 9px 16px;
					min-width: 125px;
					display: flex;
					justify-content: center;
					border-radius: 99px;
					cursor: pointer;
					@include media-breakpoint-up(lg) {
						padding: 20px 24px;
						min-width: 215px;
						height: 60px;
						align-items: baseline;
					}
					span{
						font-size: 12px;
						line-height: 17px;
						font-weight: 700;
						@include media-breakpoint-up(lg) {
							font-size: 24px;
						}
					}
				}
			}
		}
	}
}
.button-container{
	// width: 100%;
	position: relative;
	margin-bottom: 40px;
	@include media-breakpoint-up(lg) {
		background-color: transparent;
		margin-bottom: 60px;
	}
	.button{
		margin: 0 auto;
		display: block;
		position: relative;
		z-index: 999;
		&#submitForm{
			text-align: center;
			width: 150px;
			transition: 0.4s all ease;
			border-radius: 8px;
			@include media-breakpoint-up(lg) {
				width: 360px;
				&:hover{
					background-color: darken($color-main,7);
				  }
			}
		}
		
		
	}
	// .button {
	// 	padding: 12px 36px;
	// 	background-color: $color-main;
	// 	font-size: 16px;
	// 	line-height: 22px;
	// 	font-weight: 700;
	// 	text-transform: uppercase;
	// 	color: #000;
	// 	border-radius: 99px;
	// 	width: fit-content;
	// 	text-align: center;
	// 	@include media-breakpoint-up(lg) {
	// 	  font-size: 24px;
	// 	  line-height: 32px;
	// 	  padding: 16px 40px;
	// 	  min-width: 300px;
	// 	}
	//   }
}

.func-close-modal{z-index:33;cursor:pointer;margin-right:-14px;color: #707070;
	&:hover{
		color: rgba(#000,0.8)
	}
	&.is-normal{top:10px;bottom:inherit;left:inherit;right:10px;margin-left:0}
	[class^=icn]{
		display:block;
		@include margin(null auto);
		@include padding(0);
		font-size:2.25rem;
		@include media-breakpoint-up(lg) {
			font-size:2.75rem;
		}
	}
}
#thankyou{
	.modal-thankyou{
		text-align: center;
		padding: 80px 16px;
		@include media-breakpoint-up(lg) {
			padding: 100px 64px;
		}
		h1{
			font-weight: 700;
			text-transform: uppercase;
			font-size: 20px;
			line-height: 25px;
			display: none;
			@include media-breakpoint-up(lg) {
				display: unset;
				font-size: 40px;
				line-height: 55px;
			}
			span{
				max-width: 250px;
				display: block;
				margin: 0 auto;
				@include media-breakpoint-up(lg) {
					max-width: 820px;
				}
				&::after{
					content: "";
					display: block;
					height: 12px;
					background-color: $color-main;
					width: 100%;
					margin-top: -10px;
					@include media-breakpoint-up(lg) {
						height: 18px;
          				margin-top: -18px;
					}
				}
			}
			&.title-mb{
				display: unset;
				@include media-breakpoint-up(lg) {
					display: none;
				}
			}
		}
		p{
			font-size: 16px;
			line-height: 22px;
			margin-top: 24px;
			@include media-breakpoint-up(lg) {
				font-size: 28px;
				line-height: 40px;
				margin-top: 36px;
			}
		}
	}
}
