html,
body {
  font-family: "SVN-Gilroy";
  overflow-x: hidden;
}
/* Menu */
#cd-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9999;
  height: 64px;
  padding:0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo{
    z-index: 1010;
    display: block;
    position: relative;
    img {
      width: 72px;
    }
  }
  #cd-main-nav{
    position: absolute;
  }
  .button{
    z-index: 1010;
    color: $color-main;
    background-color: #000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    right: 12px;
    width: initial;
    border-radius: 8px;
    text-transform: uppercase;
  }
  .bg-yello-overlay {
    width: 100%;
    height: 100%;
    background-color: $color-main;
    z-index: 1001;
    position: absolute;
    left: 0;
    top: 0;
  }
  .bg-white-overlay {
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1001;
    position: absolute;
    left: 0;
    top: 0;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.cd-nav-trigger {
  z-index: 1011;
  width: 38px;
  height: 29px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  span {
    position: absolute;
    display: block;
    width: 38px;
    height: 7px;
    background: #000;
    top: 50%;
    margin-top: -1px;
    border-radius: 4px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      background: inherit;
      width: 100%;
      height: 100%;
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: transform 0.3s;
    }
    &:before {
      top: -10px;
      transform: rotate(0);
      border-radius: 4px;
    }
    &:after {
      bottom: -10px;
      transform: rotate(0);
      border-radius: 4px;
    }
  }
  &.menu-is-open {
    box-shadow: none;
    span {
      background-color: #fff;
      &:before,
      &:after {
        background: #000;
      }
      &:before {
        top: 0;
        transform: rotate(135deg);
      }
      &:after {
        bottom: 0;
        transform: rotate(225deg);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

#navBar {
  @include position(fixed, -400px 0 0 null);
  width: 100%;
  height: fit-content;
  z-index: 0;
  background-color: #fff;
  @include padding(32px);
  // padding-top: 48px;
  margin-top: 50px;
  z-index: 0;
  // display: none;
  @extend %tr-all;
  li + li {
    margin-top: 10px;
    padding-top: 10px;

    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  li {
    position: relative;
    
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    a {
      color: #000 !important;
      @extend %tr-all;
      text-transform: uppercase;
      span {
        color: $color-second;
        font-weight: bold;
      }
    }
  }
  &.is-visible {
    z-index: 1;
    top: 0;
  }
  .btn-cta{
    background: #FAED24;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    display: block;
    margin-top: 10px;
  }
}

.project-layout {
  padding-top: 64px;
  @extend %tr-all;
  &.open-menu-mb{
    padding-top: 250px;
  }
  font-family: "SVN-Gilroy";
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    overflow-x: hidden;
  }
  header {
    @extend %tr-all;
    background-color: #fff;
    @include position(fixed, 0 0 null 0);
    z-index: 9999;
    @include media-breakpoint-up(lg){
      height: 70px;
    }
    // .button{
    //   @extend %tr-all;
    // }
    .container {
      display: none;
      @include media-breakpoint-up(lg) {
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 32px;
        padding-right: 32px;
        
        .logo {
          @include size(80px, 70px);
          a {
            display: block;
            background: url(../images/xone-black.png) 0 0 no-repeat;
            background-size: contain;
            @include size(80px, 70px);
            text-indent: -9999px;
          }
        }
        .yellow-line {
          display: block;
          height: 5px;
          width: 100px;
          background-color: $color-main;
          @media only screen and (max-width: 1100px){
            display: none;
          }
        }
        .menu-wrap {
          ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li {
              flex-shrink: 0;
              margin: 0 16px;
              @media only screen and (max-width: 1280px){
                margin: 0 8px;
                font-size: 16px;
              }
              @media only screen and (max-width: 1100px){
                margin: 0;
              }
              a {
                display: block;
                position: relative;
                color: #000;
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                border-bottom: 2px solid transparent;
                padding: 8px 12px 2px;
                transition: all 0.2s;
                &.active,
                &:hover {
                  border-bottom: 2px solid $color-main;
                }
              }
            }
          }
        }
      }
    }
    &.fixed-header {
      @include media-breakpoint-up(lg) {
        
        
        // background-color: $color-main;
        // height: 70px;
        .menu-wrap {
          ul {
            li {
              a {
                &.active,
                &:hover {
                  border-bottom: 2px solid #9e9107 !important;
                }
              }
            }
          }
        }
      }
      .button{
        background-color: $color-main;
        border-bottom: none;
        border-radius: 4px;
        min-width: 100px;
        padding: 8px 12px;
      }
    }
  }

  .button {
    padding: 9px 30px;
    background-color: $color-main;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    border-radius: 16px;
    position: relative;
    z-index: 999;
    display: inline-block;
    // box-shadow: 13px 11px 30px 0px rgba(255, 249, 145, 0.59);
    @include media-breakpoint-up(lg) {
      font-size: 24px;
      line-height: 32px;
      padding: 12px 36px;
    }
    &:disabled{
      opacity: 0.5;
      cursor: not-allowed;
      &:hover{
        background-color: $color-main;
      }
    }
  }
  .title {
    font-weight: 700;
  }
  span.nowrap{
    white-space: nowrap !important;
  }
  .desktop-only {
    display: none !important;
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
  }
  .mobile-only {
    display: block !important;
    @include media-breakpoint-up(lg) {
      display: none !important;
    }
  }
}

.module-first {
  
  background-color: $color-main;
  @include media-breakpoint-up(lg) {
    margin-top: 70px;
  }
  .container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    .right-content{
      text-align: center;
      padding: 0 16px;
      .logo-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
        img{
          width: 30%;
        }
        h1{
          font-family: 'Montserrat';
          text-align: start;
          padding-left: 8px;
          font-size: 40px;
          font-weight: 600;
          text-transform: uppercase;
          line-height: 42px;
        }
      }
      p{
        line-height: 24px;
        margin-bottom: 16px;
      }
    }
    .left-content{
      text-align: center;
      padding: 64px 16px 32px;
      position: relative;
      .logo-container{
        max-width: 80vw;
        margin-bottom: 32px;
      }
      p{
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 16px;
      }
      .button{
        background-color: #000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        color: #fff;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    
    .container{
      flex-direction: row;
      .left-content{
        p{
          font-size: 24px;
        }
      }
      img{
        width: 60%;
        height: 100%;
      }
      .logo-container{
        img{
          width: 100%;
        }
        justify-content: start !important;
        margin-top: 16px;
        margin-bottom: 72px !important;
        left: -10%;
        position: relative;
        @media only screen and (max-width: 1100px){
          margin-bottom: 32px !important;
        }
        h1{
          padding-left: 12px !important;
          font-size: 64px !important;
          line-height: 64px !important;
          @media only screen and (max-width: 1100px){
            font-size: 48px !important;
            line-height: 44px !important;
          }
        }
      }
      .right-content{
        width: 40%;
        text-align: start;
        padding: 0;
        padding:0 32px;
        display: flex;
        flex-direction: column;
        align-items: start;
        p{
          font-size: 24px;
          font-weight: 500;
          line-height: 44px;
          margin-bottom: 32px;
          @media only screen and (max-width: 1100px){
            line-height: 36px;
            margin-bottom: 28px;
          }
        }
        .button{
          &:hover{
            background-color: darken($color-main, 8);
          }
        }
      }
    }
  }
}

.module-content {
  padding: 80px 16px 16px;
  background-color: $color-main;
  position: relative;
  .intro-desc {
    margin-bottom: 32px;
    h2 {
      font-size: 20px;
      line-height: 29px;
      text-align: center;
      max-width: 190px;
      margin: 0 auto 16px;
      text-transform: uppercase;
      &::after {
        content: "";
        display: block;
        height: 8px;
        background-color: $color-main;
        width: 100%;
        margin-top: -8px;
      }
    }
    .desc {
      span{
        white-space: nowrap;
      }
      strong {
        white-space: nowrap;
      }
      // color: $color-second;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      &.bigger{
        font-size: 16px;
      }
    }
    h4{
      text-align: center;
      margin-top: 48px;
      // margin-bottom: -16px;
      @include media-breakpoint-up(lg) {
        font-size: 28px;
        margin-top: 60px;
        margin-bottom: -40px;
      }
    }
  }
  .list-elements {
    display: flex;
    flex-wrap: wrap;
    @media (min-width: 768px) {
      margin: 0 -16px;
    }
    li.item {
      display: flex;
      flex-direction: row;
      align-items: center;
      max-width: 600px;
      width: 100%;
      margin-bottom: 32px;
      @media (min-width: 768px) {
        width: 50%;
        padding: 0 16px;
      }
      @media (min-width: 1024px) {
        padding: 0;
        &:nth-child(even){
          padding-left: 64px;
        }
        &:nth-child(odd){
          padding-right: 64px;
        }
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 64px;
        max-width: 530px;
      }
      .icon {
        width: 72px;
        margin-right: 24px;
      }
      .content {
        position: relative;
        max-width: 400px;
        h3 {
          font-size: 16px;
          line-height: 24px;
          @include media-breakpoint-up(lg) {
            font-size: 24px;
            line-height: 40px;
          }
        }
        p {
          font-size: 12px;
          line-height: 16px;
          font-weight: 300;
          color: #313131;
          @include media-breakpoint-up(lg) {
            font-size: 16px;
            line-height: 24px;
          }
        }
        h4{
          font-size: 14px;
          margin-bottom: 6px;
          font-size: 14px;
          line-height: 20px;
          
          @include media-breakpoint-up(lg) {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 8px;
          }
        }
      }
    }
    @media only screen and (max-width: 1210px){
      justify-content: center !important;
    }
  }
  @include media-breakpoint-up(lg) {
    padding: 96px 32px 225px;
    border-bottom: 0;
    .intro-desc {
      margin: 0 auto;
      margin-bottom: 64px;
      max-width: 1100px;
      h2 {
        font-size: 40px;
        line-height: 56px;
        max-width: 380px;
        margin-bottom: 48px;
        &::after {
          height: 18px;
          margin-top: -18px;
        }
      }
      .desc {
        font-size: 24px;
        line-height: 36px;
        &.bigger{
          font-size: 32px;
          line-height: 40px;
        }
      }
    }
    .list-elements {
      max-width: 1440px;
      margin: 0 auto;
      padding-top: 32px;
      justify-content: center;
      flex-direction: row;
      .item {
        align-items: flex-start !important;
        .icon {
          width: 80px !important;
          margin-right: 32px !important;
          padding-top: 12px;
        }
      }
    }
  }
  &#why {
    border-bottom: unset;
    padding: 0;
    background-color: $color-third;
    .intro-desc {
      padding: 45px 34px;
      @include media-breakpoint-up(lg) {
        padding: 120px 36px 140px;
      }
    }
  }
  .bg-yellow-radio {
    background: url("../images/radio_mobile.png") center center no-repeat;
    width: 100%;
    padding-top: 48.8%;
    background-size: cover;
    @include media-breakpoint-up(lg) {
      background: url("../images/radio_desktop.png") center center no-repeat;
      width: 100%;
      padding-top: 28.3%;
      background-size: cover;
    }
  }
  &#joining{
    @include media-breakpoint-up(lg){
      padding-top: 96px;
      padding-right: 32px;
      padding-left: 32px;
      padding-bottom: 0px;
    }
    .intro-desc{
      h2{
        max-width: 230px;
        margin-bottom: -32px;
        text-align: center;
        @include media-breakpoint-up(lg){
          max-width: 450px;
          margin-bottom: 32px;
        }
      }
    }
    ul{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding-top: 40px;
      @media (min-width: 768px){
        align-items: flex-start;
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 0px;
      }
      li{
        width: 80%;
        @media (min-width: 768px){
          max-width: 300px;
          min-width: 250px;
          padding-right: 16px;
          padding-left: 16px;
          margin-bottom: 80px;
        }
        @include media-breakpoint-up(lg){
          max-width: 340px;
          padding-right: 64px;
          padding-left: 64px;
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 64px;
        img{
          width: 100px;
          margin-bottom: 16px;
          @include media-breakpoint-up(lg){
            width: 120px;
          }
          
        }
        p{
          font-size: 16px;
          text-align: center;
          span{
            white-space: nowrap;
          }
          @include media-breakpoint-up(lg){
            font-size: 18px;
          }
        }
      }
    }
  }
  &#career{
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 72px;
    border-bottom: 0;
    background-color: #fff;
    h2{
      font-size: 18px;
      line-height: 19px;
      text-transform: uppercase;
      padding-bottom: 8px;
      margin-bottom: 32px;
      position: relative;
      text-align: center;
      &::after{
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        width: 262px;
        height: 5px;
        background: #FAED24;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @include media-breakpoint-up(lg){
      padding-top: 150px;
      padding-bottom: 120px;
      h2{
        font-size: 48px;
        line-height: normal;
        padding-bottom: 24px;
        margin-bottom: 64px;
        &::after{
          width: 550px;
          height: 12px;
        }
      }
    }
    .intro-desc{
      h2{
        max-width: 250px;
        @include media-breakpoint-up(lg){
          max-width: 500px;
          margin-bottom: 32px;
        }
      }
    }
    ul{
      li{
        position: relative;
        margin-bottom: 50px;
        h3{
          font-size: 14px;
          line-height: 15px;
        }
        p{
          font-weight: 400;
          font-size: 9px;
          line-height: 12px;
          &.num{
            font-weight: 800;
            font-size: 24px;
            line-height: 25px;
            width: 55px;
            height: 55px;
            background: #fff;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &.title{
            font-weight: 700;
          }
        }
        .container-text{
          background: #FAED24;
          border-radius: 120px;
          padding: 6px;
          align-items: center;
          justify-content: space-between;
          position: relative;
          z-index: 2;
          .left{
            align-items: center;
            justify-content: space-between;
            h3{
              font-weight: 800;
              margin-bottom: 2px;
            }
            .num{
              margin-right: 24px;
            }
            
          }
          i{
            @extend %tr-all;
          }
          .icn-small-down, .icn-small-up{
            font-size: 55px;
          }
        }
        .dropdown-content{
          position: relative;
          background: #FEF56A;
          border-radius: 7px 7px 7px 25px;
          padding: 4px;
          margin-top: -30px;
          z-index: 1;
          height: 0;
          overflow: hidden;
          @extend %tr-all;
          &.show{
            padding: 48px 16px 24px;
            margin-bottom: -30px;
            height: auto;
          }
          .item + .item {
            margin-top: 10px;
          }
        }

        
      }
      &.desktop-only{
        li{
          align-items: center;
          justify-content: flex-start;
          background: #FAED24;
          border-radius: 144px;
          padding: 24px;
          .text-title{
            width: 260px;
          }
          .contain-info {
            padding-right: 100px;
          }
          .item + .item {
            margin-top: 20px;
          }
          h3{
            font-size: 36px;
            line-height: 38px;
          }
          p{
            font-size: 18px;
            line-height: normal;
            &.date{
              font-size: 12px;
              line-height: 13px;
            }
            &.num{
              font-size: 96px;
              line-height: 101px;
              padding: 48px;
              margin-right: 20px;
              width: 192px;
              height: 192px;
            }
          }
        }
      }
    }
  }
  .bg-intro{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    @include media-breakpoint-up(lg){
      width: 100%;
      height: 100%;
    }
  }
  .content-contain{
    position: relative;
    text-align: center;
    img{
      width: 40vw;
      position: relative;
      left: -8vw;
    }
    h2{
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;
      margin: 16px 0 8px;
    }
    h3{
      font-size: 12px;
      line-height: 13px;
    }
    @include media-breakpoint-up(lg) {
      h2{
        font-weight: 500;
        font-size: 40px;
        line-height: normal;
        margin: 40px 0 24px;
      }
      h3{
        font-size: 32px;
        line-height: normal;
      }
    }
  }
}
.module-host-info {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  .blk-left{
    .logo{
      width: 50%;
    }
    h2{
      font-style: italic;
      font-weight: 800;
      font-size: 32px;
      line-height: 38px;
      text-transform: uppercase;
    }
    .typo{
      margin: 16px -16px 40px;
      min-width: calc(100vw - 16px);
      object-fit: contain;
    }
  }
  .blk-right{
    display: flex;
    .col-info{
      &:first-child{
        margin-right: 24px;
      }
      .item{
        margin-bottom: 24px;
        h4.title{
          text-transform: uppercase;
          font-weight: 800;
          position: relative;
          padding-bottom: 8px;
          margin-bottom: 8px;
          &::before{
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            width: 40px;
            height: 4px;
            background-color: #000;
          }
          &::after{
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            width: 10px;
            height: 4px;
            left: 40px;
            background-color: $color-main;
          }
        }
        .text{
          display: flex;
          align-items: flex-start;
          p{
            font-weight: 400;
            font-size: 12px;
            &.plus{
              font-weight: 600;
              font-size: 40px;
              margin-right: 4px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg){
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 32px 210px;
    .blk-left{
      width: 40%;
      padding-right: 64px;
      .logo{
        width: 30%;
      }
      h2{
        font-weight: 700;
        margin-top: -16px;
      }
      img.typo{
        min-width: unset;
        margin: 32px 0;
      }
    }
    .blk-right{
      width: 60%;
      justify-content: space-evenly;
      .item{
        margin-bottom: 32px !important;
        h4{
          padding-bottom: 12px !important;
          margin-bottom: 12px !important;
          font-size: 24px !important;
          &::after{
            width: 20px !important;
            height: 7px !important;
            left: 60px !important;
          }
          &::before{
            width: 60px !important;
            height: 7px !important;
          }
        }
        .text{
          p{
            font-size: 18px !important;
            line-height: 22px !important;
            &.plus{
              font-size: 72px !important;
              margin-right: 8px !important;
              line-height: 50px !important;
            }
          }
        }
      }
    }
  }
}
.module-introduce{
  max-width: 1440px;
  margin: 0 auto;
  .content-text{
    padding: 32px 16px 0;
    h1{
      text-transform: uppercase;
      font-size: 20px;
    }
    ul{
      padding-top: 16px;
      li{
        font-size: 14px;
        margin-bottom: 8px;
        position: relative;
        &::before{
          content: "";
          position: relative;
          width: 8px;
          height: 8px;
          background-color: #000;
          display: inline-block;
          margin-right: 8px;
          top: -1px;
        }
      }
    }
    p.block-yellow{
      text-transform: uppercase;
      font-size: 20px;
      background-color: $color-main;
      text-align: center;
      margin: 32px -16px 0;
      padding: 4px 0;
    }
  }
  
  .text-container{
    padding: 0 24px 40px;
    h2{
      font-size: 24px;
      line-height: 25px;
      padding-bottom: 24px;
      position: relative;
      margin-bottom: 20px;
      text-transform: uppercase;
      &::after{
        content: "";
        position: absolute;
        display: block;
        bottom: 0;
        background: #FAED24;
        width: 290px;
        height: 9px;
      }
    }
    p{
      font-weight: 400;
      font-size: 12px;
    }
    .col-info{
      margin-bottom: 32px;
      justify-content: space-between;
      .col-items{
        .item{
          &+.item{
            margin-top: 32px;
          }
          
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 32px;
    img{
      width: 40%;
    }
    .content-text{
      width: 60%;
      padding: 0;
      h1{
        font-size: 32px;
        padding-left: 48px;
        margin-bottom: -12px;
        @media (min-width: 1100px){
          font-size: 40px;
        }
      }
      ul{
        background-color: #f2f2f2;
        padding: 64px 32px;
        padding-left: 64px;
        margin-right: -9999px;
        li{
          font-size: 20px;
          margin-bottom: 12px;
          max-width: 500px;
          &::before{
            width: 10px;
            height: 10px;
            margin-right: 16px;
          }
        }
      }
      p.block-yellow{
        font-size: 32px;
        margin: -32px 0 0;
        position: absolute;
        width: 52%;
        right: 0;
        padding: 6px 32px;
        text-align: left;
        font-weight: 700;
        @media (min-width: 1100px){
          font-size: 40px;
          
        }
      }
    }
    .text-container{
      width: 100%;
      padding-right: 64px;
      p{
        font-size: 20px;
      }
      h2{
        font-size: 48px !important;
        line-height: 50px;
        padding-bottom: 12px;
        margin-bottom: 32px;
        &::after{
          width: 380px !important;
          height: 12px !important;
        }
      }
      .col-info{
        justify-content: flex-start;
        margin-bottom: 64px;
        .col-items{
          margin-right: 64px;
        }
        .item{
          &+.item{
            margin-top: 40px;
          }
        }
      }
    }
  }
}

.blk-apply-now{
  margin: 64px auto 40px;
  max-width: 1440px;
  align-items: center;
  justify-content: center;
  @include media-breakpoint-up(lg){
    margin-top: 80px;
    margin-bottom: 64px;
  }
  a.btn{
    font-size: 14px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 7px 20px;
    margin: 0 24px;
    @include media-breakpoint-up(lg){
      font-size: 30px;
      padding: 16px 32px;
      margin: 0 32px;
    }
  }
  img{
    max-height: 20px;
    @include media-breakpoint-up(lg){
      max-height: 40px;
    }
    &.reverse{
      transform: rotate(180deg);
    }
  }
}

.module-contact {
  padding: 0px 24px 64px;
  
  background-color: $color-main;
  .first-content {
    @include media-breakpoint-up(lg) {
      display: flex !important;
    }
    flex-direction: row;
    align-items: center;
    margin-bottom: 64px;
    .logo-big {
      width: 130px;
      margin-right: 80px;
    }
    .yellow-line {
      height: 6px;
      width: 110px;
      background-color: $color-main;
      display: block;
      margin-right: 80px;
    }
    h3 {
      font-size: 30px;
      text-transform: uppercase;
    }
  }
  .intro-desc {
    h2 {
      font-size: 20px;
      line-height: 29px;
      text-align: center;
      max-width: 100px;
      margin: 0 auto 32px;
      text-transform: uppercase;
      &::after {
        content: "";
        display: block;
        height: 8px;
        background-color: $color-main;
        width: 100%;
        margin-top: -8px;
      }
    }
    @include media-breakpoint-up(lg) {
      h2 {
        font-size: 48px;
        line-height: 59px;
        max-width: 220px;
        margin-bottom: 32px;
        &::after {
          height: 18px;
          margin-top: -18px;
        }
      }
    }
  }
  .grey {
    font-size: 12px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 16px;
  }
  .second-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 32px;
      width: 300px;
      @media (min-width: 650px) {
        &:nth-child(odd){
          padding-right: 32px;
        }
        &:nth-child(even){
          padding-left: 32px;
        }
        &.list-icon{
          justify-content: start;
        }
      }
      
      img {
        width: 40px;
        margin-right: 24px;
        // padding-top: 8px;
      }
      .content {
        p,a {
          font-size: 14px;
          line-height: 21px;
          color: #313131;
        }
        .label {
          font-weight: 700;
        }
      }
    }
    .list-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-up(lg) {
        justify-content: start;
      }
      a{
        margin-right: 24px;
        &:last-child {
          margin-right: 0;
        }
      }
      img {
        width: 32px;
        height: 32px;
        object-fit: contain;
        margin-right: 0;
        padding-top: 0;
      }
    }
    
    @include media-breakpoint-up(lg) {
      justify-content: flex-start;
      li {
        width: fit-content;
        margin-bottom: 0;
        
        margin-bottom: 64px;
        width: 50%;
        &:nth-child(odd){
          padding-right: 100px;
        }
        &:nth-child(even){
          padding-left: 100px;
        }
        img {
          width: 50px;
          margin-right: 32px;
          // padding-top: 12px;
        }
        .content {
          p,a {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg){
    padding: 24px 24px 64px;
  }
  .contain-footer{
    justify-content: space-between;
    flex-wrap: wrap;
    .col-item{
      width: 100%;
      margin-bottom: 32px;
      .logo{
        width: 70%;
        margin: 0 auto;
        display: block;
      }
      .logo + .title{
        margin-top: -24px;
      }
      .title{
        font-size: 20px;
        text-align: center;
      }
      p{
        font-size: 16px;
        line-height: 24px;
      }
      .icon-flw{
        margin-top: 32px;
        align-items: center;
        p{
          margin-right: 2px;
        }
        a{
          margin-right: 12px;
          &:last-child{
            margin-right: 0;
          }
          img{
            height: 25px;
          }
        }
      }
      .info{
        margin-bottom: 8px;
        color: #000;
        display: flex;
        align-items: flex-start;
        img{
          height: 17px;
          margin-right: 8px;
        }
      }
      .group-icon{
        align-items: center;
        margin-top: 32px;
        a{
          margin-right: 8px;
          img{
            height: 25px;
          }
        }
      }
    }
    @include media-breakpoint-up(lg){
      align-items: flex-end;
      max-width: 1440px;
      margin: 0 auto;
      .col-item{
        width: 30%;
        .icon-flw{
          margin-top: 40px;
        }
        .logo{
          width: 50%;
        }
      }
    }
    
  }
}

.module-about{
  .bg-yello-container{
    background-color: $color-main;
    padding: 64px 16px 64px;
    .right-container{
      img{
        padding: 16px;
      }
      .text-contain{
        p{
          font-size: 20px;
          line-height: 36px;
        }
        .block-icon{
          display: flex;
          flex-direction: row;
          img{
            width: 48px;
            height: 48px;
            padding: 0;
            margin-right: 16px;
            margin-top: 16px;
            margin-bottom: 16px;
            object-fit: cover;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    background-color: $color-main;
    .bg-yello-container{
      padding: 64px 32px 0;
      overflow: hidden;
      max-width: 1440px;
      margin: 0 auto;
      background-color: transparent;
      display: flex;
      flex-direction: row;
      // align-items: center;
      .bg-this-girl{
        width: 60%;
        margin-bottom: -80px;
        margin-right: -48px;
      }
      .right-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        img.logo-xone{
          width: 85%;
          margin-top: -32px;
          margin-left: -32px;
          padding: 32px;
        }
      }
    }
  }
}

.dropdown{display:inline-block;position:relative;
	&.is-show{
		.dropdown-menu{
      display:block;
      .dropdown-item{
        margin-bottom: 8px;
        border-radius: 4px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
	}
	::-webkit-scrollbar{@include size(6px)}
	::-webkit-scrollbar-track{box-shadow:inset 0 0 5px #e4edf4;border-radius:20px;}
	::-webkit-scrollbar-thumb{background:rgba(#707070, 0.5);border-radius:20px;}
	::-webkit-scrollbar-thumb:hover{background:#707070}
}
.dropdown-menu{display:none;position:absolute;z-index:1001;background-color:$white;max-height:245px;margin-top:4px;margin-bottom:4px;border:1px solid rgba(#707070,0.5);border-radius:8px;box-shadow: 0 8px 15px 0 rgba(20,24,50,0.35);overflow-y:auto;
	&.is-right{right:0!important;left:inherit!important}
	ul{
		li{margin-bottom:-8px;@include padding(4px);white-space:nowrap;
			&:last-child{margin-bottom:0}
			a{display:block;@include padding(8px);color:#000;font-size:16px;
				[class^=icz]{position:relative;top:1px;@include size(14px);@include padding(1px);font-size:0.875rem}
				&:hover{background-color:$color-main;color:#000}
			}
		}
	}
}

/* Custom Radio */
[type="radio"]:checked,[type="radio"]:not(:checked){position:absolute;left:-9999px}
[type="radio"]:checked + label,[type="radio"]:not(:checked) + label{position:relative;display:inline-block;padding-left:30px;cursor:pointer;color: rgba(#000,0.5);font-size:16px;line-height:1}
[type="radio"]:checked + label:before,[type="radio"]:not(:checked) + label:before{
  @include position(absolute, 6px null null 0);
  content:"";background:#fff;
  @include size(16px);
  margin-top:-8px;
  border: 2px solid #000;
  border-radius:100%;}
[type="radio"]:checked + label:after,[type="radio"]:not(:checked) + label:after{
  @include position(absolute, 2px null null 4px);
  content:"";
  background: #000;
  // color: #000;
  @include size(12px);
  // font-size: 24px;
  transition:all 0.2s ease;
  // background-size: contain;
  border-radius: 50%;
}
[type="radio"]:not(:checked) + label:after{opacity:0;transform:scale(0)}
[type="radio"]:checked + label:after{opacity:1;transform:scale(1)}
[type="radio"]:checked + label:after{opacity:1;transform:scale(1)}
[type="radio"]:not(:checked) + label:before{background:transparent;border-color:rgba(#707070,0.5)}

//register page
.register + #cd-nav{
  .button{
    display: none;
  }
}
.register{
  header{
    background-color: $color-main;
  }
}
#register{
  font-family: "SVN-Gilroy";
  &.is-hidden{
    display: none !important;
  }
  
  max-width: 900px;
  margin: 0 auto;
  .modal-body{
    &.custom-form{
      padding: 48px 24px 16px;
      @include media-breakpoint-up(lg) {
        padding: 128px 32px 32px;
      }
      .header-form{
        h2{
          font-size: 20px;
          text-align: center;
          width: 250px;
          margin: 0 auto;
          position: relative;
          padding-bottom: 16px;
          &::after {
            content: "";
            display: block;
            height: 8px;
            background-color: #fbec21;
            width: 100%;
            position: absolute;
            bottom: 0;
          }
          @include media-breakpoint-up(lg) {
            font-size: 48px;
            width: 520px;
            text-transform: uppercase;
            line-height: 56px;
            padding-bottom: 18px;
            &::after {
              content: "";
              height: 12px;
              background-color: $color-main;
              width: 75%;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }
        @include media-breakpoint-up(lg) {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 64px;
        }
      }
      .is-error + .error{
        margin-top: -35px;
        margin-bottom: 20px;
        font-size: 12px;
        color: #dc3535;
        @include media-breakpoint-up(lg) {
          margin-top: -32px;
          margin-bottom: 32px;
          font-size: 14px;
        }
      }
      input{
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(#707070, 0.5);
        width: 100%;
        font-size: 16px;
        padding-bottom: 8px;
        margin-bottom: 40px;
        font-family: "SVN-Gilroy";
        &::placeholder {
          color: rgba(#000,0.5)
        }
        &.is-error{
          border-bottom: 1px solid #dc3535;
        }
      }
      .input-group{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        flex-wrap: wrap;
        &.column-mb{
          flex-direction: column;
          align-items: flex-start;
          @media only screen and (min-width: 768px){
            flex-direction: row;
            align-items: baseline;
          }
        }
        .input-has-label{
          max-width: 48%;
          width: 100%;
          input{
            @media only screen and (min-width: 1160px){
              width: 100%;
            }
          }
        }
        input{
          @media only screen and (min-width: 1160px){
            
            margin-right: 12px;
          }
        }
        @include media-breakpoint-up(lg) {
          .group-dropdown{
            flex-direction: row;
            width: unset;
            margin-bottom: 40px;
            .dropdown-group{
              width: unset;
            }
          }
          .no-space-between-desktop{
            justify-content: start !important;
            .group-radio{
              margin-right: 80px;
            }
          }
        }
      }
      .group-dropdown{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 24px;
        @media (min-width: 768px) {
          flex-direction: row;
          flex-wrap: nowrap;
          // margin-right: 80px;
          width: fit-content;
          &:last-child{
            margin-right: 0;
          }
          label{
            width: fit-contentẻ;
          }
          margin-bottom: 40px;
          .dropdown-group{
            margin-left: 24px;
            width: unset !important;
            .dropdown.full-width{
              width: unset;
            }
          }
        }
        &.dropdown-full{
          @media (min-width: 768px) {
            margin-right: 0;
            flex-direction: column;
            width: 100%;
            &.is-error{
              p.error{
                position: relative !important;
                top: auto;
              }
            }
          }
          @include media-breakpoint-up(lg) {
            label{
              white-space: nowrap;
              margin-right: 24px;
            }
          }
        }
        &.one-line{
          flex-direction: row;
          flex-wrap: nowrap;
          label{
            margin-bottom: 0;
            margin-right: 24px;
            // min-width: 90px;
            white-space:nowrap;
            color: #000;
            @include media-breakpoint-up(lg) {
              min-width: fit-content;
            }
          }
          .full-width{
            width: 100%;
            justify-content: space-between;
            span{
              width: 100%;
            }
          }
          p.error{
             @media (max-width: 768px){
               position: absolute;
               margin-top: 0;
               top: 24px;
             }
          }
        }
        .full-width{
          width: 100%;
          justify-content: space-between;
          margin-right: 12px;
          &:last-child{
            margin-right: 0;
          }
          span{
            width: 100%;
          }
          &.no-full-desktop{
            @include media-breakpoint-up(lg) {
              width: fit-content;
            }
          }
        }
        label{
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 8px;
          color: #000;
          em{
            font-style: italic;
          }
        }
        .dropdown-group{
          display: flex;
          flex-direction: row;
          align-items: baseline;
          justify-content: space-between;
          width: 100%;
        }
        .dropdown{
          cursor: pointer;
          .dropdown-toggle{
            padding: 6px 16px;
            background-color: #F4F4FB;
            border-radius: 99px;
            min-width: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media-breakpoint-up(lg) {
                padding: 10px 32px;
            }
            span{
              font-size: 16px;
              line-height: 18px;
              color: rgba(#000, 0.5);
            }
            &::after{
              vertical-align: baseline;
              border: none;
              background: url('../images/dropdown.png') center center no-repeat;
              background-size: contain;
              min-width: 10px;
              height: 10px;
              margin-left: 16px;
              // @include media-breakpoint-up(lg) {
              //   width: 10px;
              //   padding-top: 10px;
              // }
            }
            
            &#university{
              span{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: calc(100vw - 64px);
              }
              
            }
          }
          .dropdown-menu{
            max-height: 220px;
            overflow-x: hidden;
            overflow-y: auto;
            border: none;
            padding: 8px;
            width: 100%;
            min-width: unset;
            top: 2px !important;
            min-width: fit-content;
            max-width: 100%;
            @include media-breakpoint-up(lg) {
              top: 4px !important;
              max-width: 420px;
            }
            &#university-menu, &#mobile-menu{
              input{
                margin: 0;
                padding: 12px 20px;
                background-color: #f1f1f1;
                border-bottom: 1px solid rgba(112, 112, 112, 0.5);
                min-width: 180px;
              }
            }
            
            a{
              padding: 12px 20px;
              line-height: 1.4;
              font-size: 12px;
              color: #707070;
              display: block;
              cursor: pointer;
              border-bottom: 1px solid #eee;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: calc(100vw - 32px);
              &:last-child{
                border-bottom: 0;
              }
              @include media-breakpoint-up(lg) {
                font-size: 16px;
                line-height: 20px;
                padding: 16px 20px;
              }
            }
          }
          @include media-breakpoint-up(lg) {
            margin-right: 16px;
            &:last-child{
              margin-right: 0;
            }
          }
        }
        &.is-error{
          position: relative;
          .dropdown-group{
            .dropdown-toggle.is-error{
              border: 1px solid #dc3535;
            }
          }
          .dropdown-toggle.is-error{
            border: 1px solid #dc3535;
          }
          p.error{
            margin-top: 4px;
            font-size: 12px;
            color: #dc3535;
            @media (min-width:768px){
              font-size: 14px;
              position: absolute;
              left: 0;
              top: 28px;
            }
          }
          
        }
      }
      .group-radio{
        display: flex;
        flex-direction: column;
        // align-items: center;
        margin-bottom: 24px;
        width: 100%;
        label{
          color: #000;
        }
        &.one-line{
          flex-direction: row;
        }
        .group-radio-form{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          margin-top: 24px;
          .form-check{
            margin-right: 40px;
            &:last-child{
              margin-right: 0;
            }
          }
        }
        @include media-breakpoint-up(lg) {
          width: unset;
          margin-bottom: 40px;
          // margin-right: 80px;
        }
        &.topic-choosing{
          .group-radio-form + p{
            margin-top: 16px;
            line-height: 24px;
          }
          .group-radio-form{
            flex-direction: column;
            align-items: start;
            .form-check{
              margin-right: 0;
              padding-left: 0;
              margin-bottom: 16px;
              &:last-child{
                margin-bottom: 0;
              }
              [type=radio]:not(:checked) + label {
                // opacity: 0.5;
              }
              [type=radio]:checked + label {
                font-weight: 600;
                // opacity: 1;
                
              }
              [type=radio]:checked + label:before, [type=radio]:not(:checked) + label:before{
                top: 14px;
              }
              [type=radio]:checked + label:after, [type=radio]:not(:checked) + label:after{
                top: 5px;
              }
              label{
                line-height: 24px;
                color: #000;
                display: block;
                @include media-breakpoint-up(lg) {
                  padding-top: 4px;
                }
                
              }
            }
          }
        }
        p.error{
          font-size: 12px;
          color: #dc3535;
          margin-top: 12px;
          @include media-breakpoint-up(lg) {
            font-size: 14px;
          }
        }
      }
      .textarea-form{
        margin-bottom: 24px;
        label{
          margin-bottom: 12px;
        }
        textarea{
          font-size: 16px;
          border: none;
          outline: none;
          resize: none;
          width: 100%;
          height: 100px;
          border-bottom: 1px solid rgba(#707070, 0.5);
          font-family: "SVN-Gilroy";
        }
        @include media-breakpoint-up(lg) {
          margin-bottom: 64px;
          label{
            font-size: 24px;
            margin-bottom: 24px;
          }
          textarea{
            font-size: 24px;
            height: 180px;
          }
        }
        &.is-error{
          textarea{
            border-bottom: 1px solid #dc3535;
          }
        }
      }
      .upload-form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 24px;
        padding: 12px 16px;
        background-color: #F4F4FB;
        @include media-breakpoint-up(lg) {
          padding: 16px 32px;
          margin-bottom: 40px;
          
          &:last-child{
            margin-bottom: 0;
          }
          label{
            font-size: 16px;
          }
        }
        label{
          padding-right: 12px;
          .sub{
            font-size: 10px;
            color: #666;
            padding-top: 4px;
            @include media-breakpoint-up(lg){
              font-size: 14px;
            }
          }
        }
        input{
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
        p.file-name{
          // font-weight: 600;
          max-width: 75px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 4px;
          font-size: 12px;
          @include media-breakpoint-up(lg) {
            font-size: 16px;
            max-width: 100%;
          }
        }
        input + label{
          color: #000;
          background-color: $color-main;
          padding: 9px 16px;
          min-width: 125px;
          display: flex;
          justify-content: center;
          border-radius: 99px;
          cursor: pointer;
          transition: 0.4s all ease;
          @include media-breakpoint-up(lg) {
            padding: 12px 24px;
            // min-width: 215px;
            // height: 60px;
            align-items: baseline;
            &:hover{
              background-color: darken($color-main,7);
            }
          }
          span{
            font-size: 16px;
            line-height: 17px;
            font-weight: 700;
          }
        }
      }
      .upload-form+.error{
        margin-top: -20px;
        @include media-breakpoint-up(lg) {
          margin-top: -35px;
        }
      }
      .input-has-label{
        position: relative;
        &.school-input{
          max-width: 100%;
          @media only screen and (min-width: 768px){
            max-width: 60%;
          }
        }
        &.new-blk-gray{
          padding: 32px 32px 20px;
          background: #F4F4FB;
          label{
            color: rgba(0, 0, 0, 0.5);
            left: 32px;
            top: 36px;
          }
          input{
            padding-top: 0;
            margin-bottom: 0;
            background-color: transparent;
          }
        }
        input{
          padding-top: 24px;
          transition: 0.4s all ease;
          border-width: 2px;
          border-color: rgb(221, 221, 221);
          appearance: none;
          border-radius: 0;
        }
        input:focus{
          border-color: $color-main;
        }
        input:focus + label, input:not(:placeholder-shown) + label{
          top: 0;
          font-size: 14px;
        }
        label{
          position: absolute;
          transition: 0.4s all ease;
          top: 24px;
          left: 0;
          color: #000;
          font-size: 16px;
        }
        &.is-error{
          input{
            border-color: red;
          }
          p.error{
            position: absolute;
            font-size: 12px;
            color: #dc3535;
            bottom: 20px;
            @include media-breakpoint-up(lg) {
              font-size: 14px;
              bottom: 20px;
            }
          }
        }
      }
      .mobile-number-label{
        width: 100%;
        max-width: 48%;
        position: relative;
        input{
          
          transition: 0.4s all ease;
          border-width: 2px;
          border-color: rgb(221, 221, 221);
          // padding-top: 24px;
          padding-left: 180px;
          
        }
        input:focus{
          border-color: $color-main;
        }
        &.is-error{
          input{
            border-color: red;
          }
          p.error{
            font-size: 12px;
            color: #dc3535;
            position: absolute;
            bottom: 20px;
            @include media-breakpoint-up(lg) {
              font-size: 14px;
              bottom: 20px;
            }
          }
        }
        .placeholde-block{
          position: absolute;
          top: 0;
          left: 0;
          label{
            color: #000;
            margin-right: 4px;
          }
          .dropdown{
            cursor: pointer;
            .dropdown-toggle{
              &::after{
                vertical-align: baseline;
                border: none;
                background: url('../images/dropdown.png') center center no-repeat;
                background-size: contain;
                min-width: 10px;
                height: 10px;
                margin-left: 4px;
                // @include media-breakpoint-up(lg) {
                //   width: 10px;
                //   padding-top: 10px;
                // }
              }
              
            }
            .dropdown-menu{
              max-height: 300px;
              overflow-x: hidden;
              overflow-y: auto;
              border: none;
              padding: 0;
              width: 100%;
              min-width: unset;
              top: 4px !important;
              min-width: fit-content;
              max-width: 100%;
              @include media-breakpoint-up(lg) {
                top: 4px !important;
                max-width: 420px;
              }
              &#university-menu, &#mobile-menu{
                input{
                  margin: 0;
                  padding: 12px 20px;
                  background-color: #f1f1f1;
                  border-bottom: 1px solid rgba(112, 112, 112, 0.5);
                  min-width: 180px;
                }
              }
              a{
                padding: 12px 20px;
                line-height: 1.4;
                font-size: 12px;
                color: #707070;
                display: block;
                cursor: pointer;
                border-bottom: 1px solid rgba(#808080,0.5);
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: calc(100vw - 144px);
                @media only screen and (min-width: 768px){
                  max-width: 250px
                }
                @include media-breakpoint-up(lg) {
                  max-width: 300px
                }
                &:last-child{
                  border-bottom: 0;
                }
                @include media-breakpoint-up(lg) {
                  font-size: 16px;
                  line-height: 20px;
                  padding: 16px 20px;
                }
              }
            }
            @include media-breakpoint-up(lg) {
              margin-right: 16px;
              &:last-child{
                margin-right: 0;
              }
            }
          }
        }
      }
      .column-mb{
        .input-has-label,.mobile-number-label{
          max-width: 100% !important;
          @media only screen and (min-width: 768px){
            max-width: 48% !important;
          }
        }
      }
      .group-dropdown + .group-radio, 
      .group-radio + .dropdown-full{
        padding-top: 24px;
      }
      .group-dropdown + .upload-form,
      .group-radio + .upload-form {
        margin-top: 48px;
      }
      .text-desc{
        margin-bottom: 24px;
        h4{
          margin-bottom: 12px;
        }
      }
    }
  }
}
