title=page

block meta
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content=`${responsiveDevice}`)
	meta(name="description" content=`${description}`)
	meta(name="format-detection" content="telephone=no")
	meta(name="robots" content="index, follow")
	meta(property="og:url" content="")
	meta(property="og:title" content="Creative Hub - Ad Checker")
	meta(property="og:type" content="website")
	meta(property="og:image" content="")
	meta(property="og:description" content="")
	link(rel="icon" type="image/ico" href="images/favicon.ico")

//- Include css
block css
	link(href="css/animate.min.css" rel="stylesheet" type="text/css")
	link(href="css/layout.css" rel="stylesheet" type="text/css")
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://fengyuanchen.github.io/cropperjs/css/cropper.css">

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.7/cropper.js"></script>
	<script async src="https://ads.zalo.me/business/wp-content/themes/html5blank-stable/js/opencv.js" type="text/javascript"></script>

//- Include css
style.
