extends layout.pug

//- Setting
block setting
	- var layout = true
	- var loading = false
	- var header = true
	//- - var navbar = true
	- var modal = true
	- var popperjs = true
	- var tippyjs = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-desktop")
	- headerClasses.push("header")
	- bodyClasses.push("page-content")
	
//- Add Header
block header
	include page/header.pug

//- Add Body
block body
	include page/_index.pug

//- Add Modal
block modal
	include page/modal_edit_img.pug

block javaScripts extend
	script.
		const button_toogle_slide = document.getElementById('button-toggle-slide-bar')
		const main_body = document.getElementsByClassName('main-body')[0]
		const slide_body = document.getElementsByClassName('slide-body')[0]
		button_toogle_slide.onclick = () => {
			main_body.classList.toggle("expanded");
			slide_body.classList.toggle("narrowed")
			const icon_toggle = button_toogle_slide.getElementsByClassName('icz')[0]
			icon_toggle.classList.toggle('icz-right')
			icon_toggle.classList.toggle('icz-left')
		}

		$(".close-modal").click(function(){
			$("html").removeClass("overlay-modal");
			$(".modal").removeClass("show");
			$("div").remove(".cropper-container");
		});

		$("#avatar-image-input").click(()=>{
			crop()
		})

		$("#large-image-input").click(()=>{
			cropLargeImg()
		})


		//- window.onload = () => {
		//- 	crop()
		//- 	cropLargeImg()
		//- }
		var crop = function(){

			var Cropper = window.Cropper;
			var URL = window.URL || window.webkitURL;
			var container = document.querySelector('.img-container');
			var image = container.getElementsByTagName('img').item(0);
			var download = document.getElementById('download-avatar');
			var actions = document.getElementById('actions');
			var options = {
				aspectRatio: 1,
			};
			var cropper = new Cropper(image, options);
			var originalImageURL = image.src;
			var uploadedImageType = 'image/*';
			var uploadedImageName = 'cropped.jpeg';
			var uploadedImageURL;

			// Buttons
			if (!document.createElement('canvas').getContext) {
				$('button[data-method="getCroppedCanvas"]').prop('disabled', true);
			}

			if (typeof document.createElement('cropper').style.transition === 'undefined') {
				$('button[data-method="rotate"]').prop('disabled', true);
				$('button[data-method="scale"]').prop('disabled', true);
			}

			// Methods
			actions.querySelector('.docs-buttons').onclick = function (event) {
				var e = event || window.event;
				var target = e.target || e.srcElement;
				var cropped;
				var result;
				var input;
				var data;

				if (!cropper) {
					return;
				}
				while (target !== this) {
					if (target.getAttribute('data-method')) {
						break;
					}

					target = target.parentNode;
				}
				if (target === this || target.disabled || target.className.indexOf('disabled') > -1) {
					return;
				}
				data = {
					method: target.getAttribute('data-method'),
					target: target.getAttribute('data-target'),
					option: target.getAttribute('data-option') || undefined,
					secondOption: target.getAttribute('data-second-option') || undefined
				};
				cropped = cropper.cropped;
				if (data.method) {
					if (typeof data.target !== 'undefined') {
						input = document.querySelector(data.target);

						if (!target.hasAttribute('data-option') && data.target && input) {
							try {
								data.option = JSON.parse(input.value);
							} catch (e) {
								console.log(e.message);
							}
						}
					}
					switch (data.method) {
						case 'getCroppedCanvas':
							try {
								data.option = JSON.parse(data.option);
							} catch (e) {
								console.log(e.message);
							}
							if (uploadedImageType === 'image/*') {
								if (!data.option) {
									data.option = {};
								}
								data.option.fillColor = '#fff';
							}
							break;
					}
					result = cropper[data.method](data.option, data.secondOption);

					switch (data.method) {
						case 'getCroppedCanvas':
							if (result) {
								console.log(result)
								if (!download.disabled) {
									download.download = uploadedImageName;
									download.href = result.toDataURL(uploadedImageType);

									$("p.img-desc").html("<span>"+uploadedImageName+"</span>"+"<br>150x150");

									$( "div.avatar-image-input" ).replaceWith( "<img class='avatar-image-input' id='output' />" );
									var output = document.getElementById('output');
									output.src = result.toDataURL(uploadedImageType)
									
									$( "span.avatar-img" ).replaceWith( "<img class='avatar-img' id='output-preview' />" );
									var output_preview = document.getElementById('output-preview');
									output_preview.src = result.toDataURL(uploadedImageType)
								}
							}

							break;
					}

					if (typeof result === 'object' && result !== cropper && input) {
						try {
							input.value = JSON.stringify(result);
						} catch (e) {
							console.log(e.message);
						}
					}
				}
			};


			// Import image
			var inputImage = document.getElementById('avatar-image-input');

			if (URL) {
				inputImage.onchange = function () {
					var files = this.files;
					var file;

					if (cropper && files && files.length) {

						$("html").addClass("overlay-modal");
						$("#modalEditImg").addClass("show");

						file = files[0];

						if (/^image\/\w+/.test(file.type)) {
							uploadedImageType = file.type;
							uploadedImageName = file.name;

							if (uploadedImageURL) {
								URL.revokeObjectURL(uploadedImageURL);
							}

							image.src = uploadedImageURL = URL.createObjectURL(file);
							cropper.destroy();
							cropper = new Cropper(image, options);
							inputImage.value = null;
						} else {
							window.alert('Please choose an image file.');
						}
					}
				};
			} else {
				inputImage.disabled = true;
				inputImage.parentNode.className += ' disabled';
			}
			
		};

		var cropLargeImg = function(){

			var Cropper = window.Cropper;
			var URL = window.URL || window.webkitURL;
			var container = document.querySelector('.img-container');
			var image = container.getElementsByTagName('img').item(0);
			var download = document.getElementById('download-avatar');
			var actions = document.getElementById('actions');
			var options = {
				aspectRatio: 1024/533,
			};
			var cropper = new Cropper(image, options);
			var originalImageURL = image.src;
			var uploadedImageType = 'image/*';
			var uploadedImageName = 'cropped.jpeg';
			var uploadedImageURL;

			// Buttons
			if (!document.createElement('canvas').getContext) {
				$('button[data-method="getCroppedCanvas"]').prop('disabled', true);
			}

			if (typeof document.createElement('cropper').style.transition === 'undefined') {
				$('button[data-method="rotate"]').prop('disabled', true);
				$('button[data-method="scale"]').prop('disabled', true);
			}

			// Methods
			actions.querySelector('.docs-buttons').onclick = function (event) {
				var e = event || window.event;
				var target = e.target || e.srcElement;
				var cropped;
				var result;
				var input;
				var data;

				if (!cropper) {
					return;
				}
				while (target !== this) {
					if (target.getAttribute('data-method')) {
						break;
					}

					target = target.parentNode;
				}
				if (target === this || target.disabled || target.className.indexOf('disabled') > -1) {
					return;
				}
				data = {
					method: target.getAttribute('data-method'),
					target: target.getAttribute('data-target'),
					option: target.getAttribute('data-option') || undefined,
					secondOption: target.getAttribute('data-second-option') || undefined
				};
				cropped = cropper.cropped;
				if (data.method) {
					if (typeof data.target !== 'undefined') {
						input = document.querySelector(data.target);

						if (!target.hasAttribute('data-option') && data.target && input) {
							try {
								data.option = JSON.parse(input.value);
							} catch (e) {
								console.log(e.message);
							}
						}
					}
					switch (data.method) {
						case 'getCroppedCanvas':
							try {
								data.option = JSON.parse(data.option);
							} catch (e) {
								console.log(e.message);
							}
							if (uploadedImageType === 'image/*') {
								if (!data.option) {
									data.option = {};
								}
								data.option.fillColor = '#fff';
							}
							break;
					}
					result = cropper[data.method](data.option, data.secondOption);

					switch (data.method) {
						case 'getCroppedCanvas':
							if (result) {
								console.log(result)
								if (!download.disabled) {
									download.download = uploadedImageName;
									download.href = result.toDataURL(uploadedImageType);

									
									$( ".preview-sample" ).replaceWith( "<img class='preview-sample' id='output-preview-large' style='background:none;'/>" );
									var output_preview_large = document.getElementById('output-preview-large');
									output_preview_large.src = result.toDataURL(uploadedImageType)
								}
							}

							break;
					}

					if (typeof result === 'object' && result !== cropper && input) {
						try {
							input.value = JSON.stringify(result);
						} catch (e) {
							console.log(e.message);
						}
					}
				}
			};


			// Import image
			var inputImage = document.getElementById('large-image-input');

			if (URL) {
				inputImage.onchange = function () {
					var files = this.files;
					var file;

					if (cropper && files && files.length) {

						$("html").addClass("overlay-modal");
						$("#modalEditImg").addClass("show");

						file = files[0];

						if (/^image\/\w+/.test(file.type)) {
							uploadedImageType = file.type;
							uploadedImageName = file.name;

							if (uploadedImageURL) {
								URL.revokeObjectURL(uploadedImageURL);
							}

							image.src = uploadedImageURL = URL.createObjectURL(file);
							cropper.destroy();
							cropper = new Cropper(image, options);
							inputImage.value = null;
						} else {
							window.alert('Please choose an image file.');
						}
					}
				};
			} else {
				inputImage.disabled = true;
				inputImage.parentNode.className += ' disabled';
			}
			
		};
		