extends layout.pug

//- Setting
block setting
	- var layout = true
	- var loading = false
	- var header = true
	- var modal = true
	- var popup = true
	- var popperjs = true
	- var tippyjs = true
	- var indexjs = true
	- var generaljs = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-desktop")
	- headerClasses.push("header")
	- bodyClasses.push("page-content")
	
//- Add Header
block header
	include page/header.pug

//- Add Body
block body
	include page/_index.pug
	include page/_position_preview.pug
	include page/mobile/_index.pug
	include page/rating_block.pug
	//- include page/rating_component.pug
//- Add Modal
block modal
	include page/modal_edit_img.pug
//- Add Popup
block popup
	include page/mobile/popup_edit_img.pug

block javaScripts extend
	script(src="https://www.googletagmanager.com/gtag/js?id=UA-75517706-1" async)
	script.
		$('#banned-3 span').click(function(){
			alert('asd')
		});
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-75517706-1');
	noscript
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5W5QTD2" height="0" width="0" style="display:none;visibility:hidden"></iframe>


		