block Body

.header-tabs.is-large.is-fixed
	.header-tabs-container
		ul
			li
				a(href="campaign_list.html") Chiến dịch
			li
				a.is-active(href="ad_list.html") Quảng cáo
	.layer

.body.has-dockbar
	.field
		.control.has-icons-left
			input.input(type="text" placeholder="Tìm kiếm quảng cáo" value="")
			span.icon.is-left
				i.icz.icz-search
	.section-filter
		.filter-group.is-outside.has-filter-box
			ul
				li
					a.tag.is-outlined.is-rounded.is-active(href="javascript:void(0);") 7 ngày gần nhất
				li
					a.tag.is-outlined.is-rounded(href="javascript:void(0);") Đang chạy
			// Add class is-active vào Bộ lọc sau khi đã chạy chức năng lọc 
			a.tag.is-outlined.is-rounded.is-button-filter.func-popup-filterAd(href="javascript:void(0);")
				i.icz.icz-fill-filter.mr-1 
				| Bộ lọc
	.title
		span 5 quảng cáo
	.notification.is-warning.mb-3
		i.icz.icz-warning-triangle
		button.delete
		h4 Tạm dừng vì không đủ tiền trong tài khoản
		p Số tiền hiện tại trong tài khoản của bạn không đủ để thực hiện quảng cáo Zalo Ads. Vui lòng nạp thêm tiền!
		button.button.is-white.is-small.has-text-link(onclick="window.open('topup.html', '_blank')") Nạp thêm tiền
	.section-campaign
		.item-campaign
			a.link-item(href="ad_detail_draft.html")
			.ico-ad(style="background-image:url(https://via.placeholder.com/256x133)")
			.desc
				h2 Quảng cáo website Nevada
				p Ngày kết thúc: 23/12/2019
				p Lượt hiển thị: 5.200
				p Lượt nhấn: 1.000
				p Chi phí: 500đ
				p.status Bản nháp
		.item-campaign
			a.link-item(href="ad_detail_active.html")
			.ico-ad(style="background-image:url(https://via.placeholder.com/256x133)")
			.desc
				h2 Quảng cáo website Nevada
				p Ngày kết thúc: 23/12/2019
				p Lượt hiển thị: 5.200
				p Lượt nhấn: 1.000
				p Chi phí: 500đ
				p.status.is-success Đang chạy
			.action-group
				.switch
					input(id="switch-1" type="checkbox" checked)
					label.slider.round(for="switch-1")
		.item-campaign
			a.link-item(href="ad_detail_pause.html")
			.ico-ad(style="background-image:url(https://via.placeholder.com/256x133)")
			.desc
				h2 Quảng cáo website Nevada
				p Ngày kết thúc: 23/12/2019
				p Lượt hiển thị: 5.200
				p Lượt nhấn: 1.000
				p Chi phí: 500đ
				p.status Tạm dừng
			.action-group
				.switch
					input(id="switch-2" type="checkbox")
					label.slider.round(for="switch-2")
		.item-campaign
			a.link-item(href="ad_detail_waiting.html")
			.ico-ad(style="background-image:url(https://via.placeholder.com/256x133)")
			.desc
				h2 Quảng cáo website Nevada
				p Ngày kết thúc: 23/12/2019
				p Lượt hiển thị: 5.200
				p Lượt nhấn: 1.000
				p Chi phí: 500đ
				p.status.is-warning Đang chờ duyệt
		.item-campaign
			a.link-item(href="ad_detail_denied.html")
			.ico-ad(style="background-image:url(https://via.placeholder.com/256x133)")
			.desc
				h2 Quảng cáo website Nevada
				p Ngày kết thúc: 23/12/2019
				p Lượt hiển thị: 5.200
				p Lượt nhấn: 1.000
				p Chi phí: 500đ
				p.status.is-danger Bị từ chối
		.item-campaign
			a.link-item(href="ad_detail_complete.html")
			.ico-ad(style="background-image:url(https://via.placeholder.com/256x133)")
			.desc
				h2 Quảng cáo website Nevada
				p Ngày kết thúc: 23/12/2019
				p Lượt hiển thị: 5.200
				p Lượt nhấn: 1.000
				p Chi phí: 500đ
				p.status Hoàn thành
		a.feature-hidden.func-modal-template-1(href="javascript:void(0)") T/h khi bấm vào tab Tạo quảng cáo và tab Account bật modal

