block Body

.body#first-screen
	img.logo(src='./images/zalo_ai/logo_zaloai.png')
	.banner
		img(src='https://via.placeholder.com/375x258')
	h2 Xác thực giấy tờ online 
	p Để xác thực thông tin của bạn, chúng tôi cần một ảnh chụp xác thực mới nhất
	button.button.is-primary.is-large#start Bắt đầu
	.bottom-block
		p.grey Vui lòng chuẩn bị sẵn giấy tờ sau:
		p Giấy CMND/CCCD mặt trước &amp; mặt sau
.body#second-screen.is-hidden 
	.header-block 
		.logo-block
			a.go-back
				i.icz.icz-arrow-left 
			img.logo(src='./images/zalo_ai/logo_zaloai.png')
		.tab-step
			.step#s1.active 
			.step#s2
			.step#s3 
	.body-block
		.block-content.first 
			p Vui lòng thực hiện các thao tác xác thực khuôn mặt theo hướng dẫn
			img.intruction(src='https://via.placeholder.com/327x200')
		.block-content.second.is-hidden 
			p Xác thực CMND/CCCD
			img.intruction(src='https://via.placeholder.com/327x200')
		.block-content.third.is-hidden 
			.result.success
				.container-blk
					i.icz.icz-check
					h3 Xác minh danh tính thành công
			.result.error 
				.container-blk
					i.icz.icz-close
					h3 Xác minh danh tính thất bại
				p Hình ảnh selfie không khớp hình ảnh cmnd
			.img-preview 
				.avatar-preview
					img(src='./images/zalo_ai/img_demo_person.png')
				.id-preview
					img(src='./images/zalo_ai/img_cccd_demo.png')
			.result-block-content
				h4 Kết quả scan thông tin
				.info-block
					.block
						p Họ và tên:
						p Ngày sinh:
						p Số CMND/CCCD:
						p 	Nơi cấp:
						p Ngày cấp:
					.block
						p Nguyễn Văn A
						p 01/01/2000
						p 0241111111
						p Tp.Hồ Chí Minh
						p 02/02/2018
	.footer-block 
		.block-content.first
			.list-instruction 
				.item
					img(src='https://via.placeholder.com/48')
					p Ảnh chụp không bị chói lóa, mờ hay quá tối
				.item
					img(src='https://via.placeholder.com/48')
					p Chụp toàn bộ khuôn mặt, nhìn thẳng
				.item 
					img(src='https://via.placeholder.com/48')
					p Không đeo kính, khẩu trang, che mặt
			button.button.is-primary.is-fullwidth.func-popup-avatarPhoto Bắt đầu chụp
		.block-content.second.is-hidden 
			.list-instruction 
				.item
					img(src='https://via.placeholder.com/48')
					p Ảnh chụp không bị chói lóa, mờ hay quá tối khiến thông tin không rõ ràng
				.item
					img(src='https://via.placeholder.com/48')
					p Chụp rõ 4 cạnh của CMND/CCCD
				.item 
					img(src='https://via.placeholder.com/48')
					p Không để ngón tay hay vật dụng đè vào giấy tờ khi chụp
			button.button.is-primary.is-fullwidth.func-popup-avatarId Bắt đầu chụp
		.block-content.third.is-hidden 
			button.button.is-primary.is-fullwidth Xác thực bằng Zalo
			button.cancel  Bỏ qua