block Body

.body#first-screen
	img.logo(src='./images/logo_zaloai.png')
	.banner
		img(src='./images/img_intro.png')
	h2 Xác thực giấy tờ online 
	p Để xác thực thông tin của bạn, chúng tôi cần một ảnh chụp xác thực mới nhất
	button.button.is-primary.is-large#start Bắt đầu
	.bottom-block
		p.grey Vui lòng chuẩn bị sẵn giấy tờ sau:
		p Giấy CMND/CCCD mặt trước &amp; mặt sau
.body#second-screen.is-hidden 
	.header-block 
		.logo-block
			a.go-back
				i.icz.icz-arrow-left 
			img.logo(src='./images/logo_zaloai.png')
		.tab-step
			.step#s1.active 
			.step#s2
			.step#s3 
	.body-block
		.block-content.first
			p Vui lòng thực hiện các thao tác xác thực khuôn mặt theo 1 trong 2 phương thức sau
			.options 
				//- .option 
				//- 	p Xác thực qua hành động
				//- 	img(src='./images/img_scan_active.png')
				//- 	p.small Di chuyển khuôn mặt theo 4 hướng trên, dưới, trái, phải để xác thực 
				//- 	button.button.is-primary.is-large#optionScan1 Bắt đầu
				.option
					p Xác thực qua ảnh
					img(src='./images/img_scan_passive.png')
					p.small Nhìn thẳng khuôn mặt vào camera và nhấn nút chụp ảnh 
					button.button.is-primary.is-large#optionScan2 Bắt đầu
		.block-content.second.is-hidden 
			p Xác thực CMND/CCCD
			img.intruction(src='./images/img_step2.png')
		.block-content.third.is-hidden 
			.result.success
				.container-blk
					i.icz.icz-check
					h3 Xác minh danh tính thành công
			.result.error.is-hidden 
				.container-blk
					i.icz.icz-close
					h3 Xác minh danh tính thất bại
				p Hình ảnh selfie không khớp hình ảnh cmnd
			.img-preview 
				.avatar-preview
					img(src='./images/img_demo_person.png')
				.id-preview
					img(src='./images/img_cccd_demo.png')
			.result-block-content
				h4 Kết quả scan thông tin
				.info-block
					.block
						p Họ và tên:
						p Nguyễn Văn A Nguyễn Văn A
					.block
						p Ngày sinh:
						p 01/01/2000
					.block
						p Số CMND/CCCD:
						p 0241111111
					.block 
						p Nơi cấp:
						p Tp.Hồ Chí Minh Tp.Hồ Chí Minh
					.block 
						p Ngày cấp:
						p 02/02/2018
			h5 Xác thực thông tin qua Zalo:<br>
				span.is-success 60% độ tương đồng
			h5 Xác thực thông tin qua Zalo:<br>
				span.is-fail 40% độ tương đồng

	.footer-block 
		.block-content.first 
			.list-instruction
				.item
					img(src='./images/ico_face_1.png')
					p Ảnh chụp không bị chói lóa, mờ hay quá tối
				.item
					img(src='./images/ico_face_2.png')
					p Chụp toàn bộ khuôn mặt, nhìn thẳng
				.item 
					img(src='./images/ico_face_3.png')
					p Không đeo kính, khẩu trang, che mặt
			//- button.button.is-primary.is-large.is-fullwidth.func-popup-avatarPhoto Bắt đầu chụp
		.block-content.second.is-hidden 
			.list-instruction 
				.item
					img(src='./images/ico_cccd_1.png')
					p Ảnh chụp không bị chói lóa, mờ hay quá tối khiến thông tin không rõ ràng
				.item
					img(src='./images/ico_cccd_2.png')
					p Chụp rõ 4 cạnh của CMND/CCCD
				.item 
					img(src='./images/ico_cccd_3.png')
					p Không để ngón tay hay vật dụng đè vào giấy tờ khi chụp
			button.button.is-primary.is-large.is-fullwidth.func-popup-Id Bắt đầu chụp
		.block-content.third.is-hidden
			//- button.button.is-primary.is-large.is-fullwidth#verifyZalo Xác thực bằng Zalo
			button.button.is-primary.is-large.is-fullwidth Hoàn tất
			button.button.is-primary.is-large.is-fullwidth Xác thực lại
			//- button.button.is-primary.is-outlined.is-large.is-fullwidth.go-back-home  Bỏ qua
.body#verifyZaloScreen.is-hidden
	.header-block 
		.logo-block
			a.go-back
				i.icz.icz-arrow-left 
			img.logo(src='./images/logo_zaloai_white.png')
			a.guiding-sound.sound-on
				img(src='./images/ico_speaker.png')
				img(src='./images/ico_speaker_disable.png')
		p Kiểm tra thông tin bằng Zalo
		.footer-block 
			p Vui lòng nhập số điện thoại đăng ký Zalo
			input(type='tel' id="phoneInput" placeholder="Số điện thoại" maxlength="10")
			button.feature-hidden.func-popup-verifyResult#resultFail case kiểm tra fail
			button.feature-hidden.func-popup-verifyResult#numberInvalid case không tìm thấy số dt
			button.button.is-primary.is-large.is-fullwidth.func-popup-verifyResult#checkMobileNumber(disabled) Kiểm tra