block footer

.context-dockbar
	ul
		li
			a.btn_manageTab(href="campaign_list.html")
				.ico-wrap
					i.icz.icz-board
					i.icz.icz-fill-board
				span Quản lý
		li
			a.btn_createAdTab(href="adType_select.html")
				.ico-wrap
					i.icz.icz-add-circle
					i.icz.icz-fill-add
				span Tạo quảng cáo
		li
			a.btn_accountTab(href="account.html")
				.ico-wrap
					i.icz.icz-account
					i.icz.icz-fill-account
				span Tài khoản