block Popup


.popup-container#popup-avatar-scanning
	.bl-popup-heading
		span Xác thực khuôn mặt
		a.func-close-popup(href="javascript:void(0)")
			i.icz.icz-close
		a.func-next.guiding-sound.sound-on
			img(src='./images/ico_speaker.png')
			img(src='./images/ico_speaker_disable.png')
	.bl-popup-context.scanning
		.camera
			video(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4')
			//- .svg-guiding 
			//- 	svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 54.18 107.38')
			//- 		defs
			//- 			style.
			//- 				.cls-1{fill:#1af7fc;}
			//- 		path.cls-1(d='M880.53,1319.69l.18,13.39.1,13.39.08,26.78-.08,26.77-.1,13.39-.18,13.39a.13.13,0,0,1-.14.13.13.13,0,0,1-.13-.13l-.18-13.39L880,1400l-.08-26.77.08-26.78.1-13.39.18-13.39a.13.13,0,0,1,.14-.13A.13.13,0,0,1,880.53,1319.69Z')

			//- img.loading(src='./images/circle_step_0.png')
			
		.content
			//- .step#ava-0 
			//- 	p Đầu tiên, bạn phải đặt khuôn mặt mình trong hình tròn. Sau đó bạn bắt đầu di chuyển theo hướng dẫn
			//- 	button.button.is-primary.is-large#toStep1 Bắt đầu
			.step#ava-1
				p Vui lòng quay mặt từ từ sang trái
				img(src='./images/img_head_left.png')
				button.feature-hidden#toStep2 nhấn để chuyển
			.step#ava-2.is-hidden 
				p Vui lòng quay mặt từ từ sang phải
				img(src='./images/img_head_right.png')
				button.feature-hidden#toStep3 nhấn để chuyển
			.step#ava-3.is-hidden 
				p Vui lòng ngước mặt lên từ từ
				img(src='./images/img_head_up.png')
				button.feature-hidden#toStep4 nhấn để chuyển (case scan fail)
			.step#ava-4.is-hidden 
				p Vui lòng cúi mặt xuống từ từ
				img(src='./images/img_head_down.png')
				button.feature-hidden#toSuccess nhấn để chuyển
	
	.bl-popup-context.successful.is-hidden
		.camera 
			img(src='./images/img_demo_person.png')
		.content
			.step
				p Xác thực khuôn mặt thành công
		button.button.is-primary.is-large.is-fullwidth#scanFaceDone Tiếp tục
.popup-container#popup-avatar
	.bl-popup-heading
		span Xác thực khuôn mặt
		a.func-close-popup(href="javascript:void(0)")
			i.icz.icz-close
		a.func-next.guiding-sound.sound-on
			img(src='./images/ico_speaker.png')
			img(src='./images/ico_speaker_disable.png')
	
	.bl-popup-context.scanByImage.is-hidden
		.camera
			video(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4')
		.content
			.step 
				p Đăt toàn bộ khuôn mặt trong hình tròn và nhìn thẳng rồi nhấn nút "chụp ảnh" 
				p.fail.is-hidden Hình ảnh của bạn chưa nhìn thẳng
				img(src='./images/img_head_directfront.png')
				
				button.button.is-primary.is-rounded.is-loading
				button.button.is-primary.is-rounded#toSuccess1
					img(src='./images/ico_capture.png')
	.bl-popup-context.scanByImageResult.is-hidden
		.camera 
			img(src='./images/img_demo_person.png')
		.content
			.step
				p.mess 
		.buttons 
			button.button.is-primary.is-large.is-outlined.is-fullwidth#scanFaceImgFail Chụp lại
			button.button.is-primary.is-large.is-fullwidth#scanFaceImgDone Dùng ảnh này
.popup-container#popup-id
	.bl-popup-heading
		span Ảnh CMND/CCCD mặt trước
		a.func-close-popup(href="javascript:void(0)")
			i.icz.icz-close
		a.func-next.guiding-sound.sound-on
			img(src='./images/ico_speaker.png')
			img(src='./images/ico_speaker_disable.png')
	.bl-popup-context.capture.is-hidden
		p Đặt toàn bộ mặt thẻ vào trong khung và đảm bảo mặt trước khớp với khung hình
		.camera 
			video(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4')
		//- button.feature-hidden#captureIdfail case chụp CMND thất bại
		button.button.is-primary.is-rounded#captureId 
			img(src='./images/ico_capture.png')
	.bl-popup-context.check-again.is-hidden
		h4 Kiểm tra hình chụp
		p Đảm bảo ảnh chụp rõ ràng, dễ đọc và là hình CMND/CCCD bản gốc (không phải bản sao)
		.camera 
			img(src='./images/img_cccd_demo.png')
		.content
			.step
				p.mess.fail
		//- button.button.is-primary.is-large.is-fullwidth#captureAgain Chụp lại
		//- button.button.is-primary.is-large.is-fullwidth#acceptId Dùng ảnh này
		//- button.feature-hidden#captureIdfail case xác thực CMND thất bại
		.buttons 
			button.button.is-primary.is-large.is-outlined#captureAgain Chụp lại
			button.button.is-primary.is-large#acceptId Dùng ảnh này
	.bl-popup-context.capture-behind.is-hidden
		p Đặt toàn bộ mặt thẻ vào trong khung và đảm bảo mặt sau khớp với khung hình
		.camera 
			video(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4')
		button.button.is-primary.is-rounded#captureIdBehind 
			img(src='./images/ico_capture.png')
	.bl-popup-context.check-again-behind.is-hidden
		h4 Kiểm tra hình chụp
		p Đảm bảo ảnh chụp rõ ràng, dễ đọc và là hình CMND/CCCD bản gốc (không phải bản sao)
		.camera 
			img(src='./images/img_cccd_demo_behind.png')
		.content
			.step
				p.mess.fail
		//- button.button.is-primary.is-large.is-fullwidth#captureAgainBehind Chụp lại
		//- button.button.is-primary.is-large.is-fullwidth#acceptIdBehind Dùng ảnh này
		.buttons
			button.button.is-primary.is-large.is-outlined#captureAgainBehind Chụp lại
			button.button.is-primary.is-large#acceptIdBehind Dùng ảnh này
	.bl-popup-context.upload-loading.is-hidden
		i.icz.icz-arrow-up
		p Đang tải ảnh…
		p.grey Vui lòng chờ trong giây lát
		button.feature-hidden#toVerifySuccess nhấn để chuyển kết quả thành công
		button.feature-hidden#toVerifyFail nhấn để chuyển kết quả thất bại

.popup-container#popup-verifyResult
	.bl-popup-heading
		span Kết quả kiểm tra
		//- a.func-close-popup(href="javascript:void(0)")
		//- 	i.icz.icz-close
	.bl-popup-context.is-hidden 
		img.success_result(src='./images/img_success.png')
		img.fail_result.is-hidden(src='./images/img_fail.png')
		p.verify-mess Xác thực Zalo thành công
		.cheking-percent.success_result
			img(src='./images/ico_check.png')
			.num-percent 
				p.percent 95%
				p Độ tương đồng
		.cheking-percent.fail_result.is-hidden 
			img(src='./images/ico_check_fail.png')
			.num-percent 
				p.percent 49%
				p Độ tương đồng
		button.button.is-primary.is-large.is-fullwidth Xác thực lại
		button.button.is-primary.is-large.is-fullwidth.go-back-home-final Hoàn thành
		button.button.is-primary.is-outlined.is-large.is-fullwidth.cancel-pass Bỏ qua




