block Popup


.popup-container#popup-avatar
	.bl-popup-heading
		span Xác thực khuôn mặt
		a.func-close-popup(href="javascript:void(0)")
			i.icz.icz-close
	.bl-popup-context.scanning
		.camera
		.content
			.step#ava-0 
				p Đầu tiên, bạn phải đặt khuôn mặt mình trong hình tròn. Sau đó bạn bắt đầu di chuyển theo hướng dẫn
				button.feature-hidden#toStep1 nhấn để chuyển
			.step#ava-1.is-hidden
				p Vui lòng quay mặt từ từ sang trái
				img(src='./images/img_head_left.png')
				button.feature-hidden#toStep2 nhấn để chuyển
			.step#ava-2.is-hidden 
				p Vui lòng quay mặt từ từ sang phải
				img(src='./images/img_head_right.png')
				button.feature-hidden#toStep3 nhấn để chuyển
			.step#ava-3.is-hidden 
				p Vui lòng ngước mặt lên từ từ
				img(src='./images/img_head_up.png')
				button.feature-hidden#toStep4 nhấn để chuyển
			.step#ava-4.is-hidden 
				p Vui lòng cúi mặt xuống từ từ
				img(src='./images/img_head_down.png')
				button.feature-hidden#toSuccess nhấn để chuyển
	.bl-popup-context.successful.is-hidden
		.camera 
			img(src='./images/img_demo_person.png')
		.content
			.step
				p Xác thực khuôn mặt thành công
		button.button.is-primary.is-large.is-fullwidth#scanFaceDone Tiếp tục

.popup-container#popup-id
	.bl-popup-heading
		span Ảnh CMND/CCCD mặt trước
		a.func-close-popup(href="javascript:void(0)")
			i.icz.icz-close
	.bl-popup-context.capture.is-hidden
		p Đặt toàn bộ mặt thẻ vào trong khung và đảm bảo mặt trước khớp với khung hình
		.camera 
		button.button.is-primary.is-rounded#captureId 
			img(src='./images/ico_capture.png')
	.bl-popup-context.check-again.is-hidden
		h4 Kiểm tra hình chụp
		p Đảm bảo ảnh chụp rõ ràng, dễ đọc và là hình CMND/CCCD bản gốc (không phải bản sao)
		.camera 
			img(src='./images/img_cccd_demo.png')
		.buttons 
			button.button.is-normal.is-outlined.is-large#captureAgain Chụp lại
			button.button.is-primary.is-large#acceptId Dùng ảnh này
	.bl-popup-context.upload-loading.is-hidden
		i.icz.icz-arrow-up
		p Đang tải ảnh…
		p.grey Vui lòng chờ trong giây lát
		button.feature-hidden#toVerifySuccess nhấn để chuyển kết quả thành công
		button.feature-hidden#toVerifyFail nhấn để chuyển kết quả thất bại

.popup-container#popup-verifyResult
	.bl-popup-heading
		span Kết quả kiểm tra
		a.func-close-popup(href="javascript:void(0)")
			i.icz.icz-close
	.bl-popup-context.is-hidden 
		img(src='./images/img_success.png')
		p Xác thực Zalo thành công
		.cheking-percent 
			img(src='./images/ico_check.png')
			.num-percent 
				p.percent 95%
				p Độ tương đồng
		button.button.is-primary.is-large.is-fullwidth.go-back-home-final Hoàn thành




