block Popup


.popup-container#popup-avatar
	.bl-popup-heading
		span Xác thực khuôn mặt
		a.func-close-popup(href="javascript:void(0)")
			i.icz.icz-close
		a.func-next.guiding-sound.sound-on
			img(src='./images/ico_speaker.png')
			img(src='./images/ico_speaker_disable.png')
		
	.bl-popup-context.choose-option 
		p Chọn 1 trong 2 phương thức xác thực
		.options 
			.option 
				p Xác thực qua hành động
				img(src='./images/img_scan_active.png')
				p.small Di chuyển khuôn mặt theo 4 hướng trên, dưới, trái, phải để xác thực 
				button.button.is-primary.is-large#optionScan1 Bắt đầu
			.option
				p Xác thực qua ảnh
				img(src='./images/img_scan_passive.png')
				p.small Nhìn thẳng khuôn mặt vào camera và nhấn nút chụp ảnh 
				button.button.is-primary.is-large#optionScan2 Bắt đầu

	.bl-popup-context.scanning.is-hidden
		.camera
			video(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4')
			//- img.loading(src='./images/circle_step_0.png')
			svg.loading(viewbox='0 0 126 126')
				g#Layer_2(data-name='Layer 2')
					g#Layer_1-2(data-name='Layer 1')
					rect.cls-1.loading-step-1(width='1.11' height='6.68' x='62.44' rx='.56')
					rect.cls-1.loading-step-2(width='1.11' height='6.68' x='62.44' y='119.32' rx='.56')
					rect.cls-1.loading-step-1(width='1.11' height='6.68' x='122.1' y='59.66' rx='.56' transform='rotate(90 122.66 63)')
					rect.cls-1.loading-step-3(width='1.11' height='6.68' x='2.78' y='59.66' rx='.56' transform='rotate(90 3.34 63)')
					rect.cls-1.loading-step-1(width='1.11' height='6.68' x='104.63' y='17.47' rx='.56' transform='rotate(45 105.18625 20.81957)')
					rect.cls-1.loading-step-3(width='1.11' height='6.68' x='20.26' y='101.85' rx='.56' transform='rotate(45 20.81265 105.18088)')
					rect.cls-1.loading-step-2(width='1.11' height='6.68' x='104.63' y='101.85' rx='.56' transform='rotate(135 105.18444 105.1877)')
					rect.cls-1.loading-step-4(width='1.11' height='6.68' x='20.26' y='17.47' rx='.56' transform='rotate(135 20.8151 20.81212)')
					rect.cls-1.loading-step-4(width='1.11' height='6.68' x='39.61' y='4.54' rx='.56' transform='rotate(-22.5 40.1633 7.88445)')
					rect.cls-1.loading-step-2(width='1.11' height='6.68' x='85.27' y='114.78' rx='.56' transform='rotate(-22.5 85.83694 118.1236)')
					rect.cls-1.loading-step-1(width='1.11' height='6.68' x='117.56' y='36.83' rx='.56' transform='rotate(67.5 118.11938 40.17077)')
					rect.cls-1.loading-step-3(width='1.11' height='6.68' x='7.33' y='82.49' rx='.56' transform='rotate(67.5 7.88256 85.82717)')
					rect.cls-1.loading-step-1(width='1.11' height='6.68' x='85.27' y='4.54' rx='.56' transform='rotate(22.5 85.84085 7.88055)')
					rect.cls-1.loading-step-3(width='1.11' height='6.68' x='39.61' y='114.78' rx='.56' transform='rotate(22.5 40.16721 118.1197)')
					rect.cls-1.loading-step-2(width='1.11' height='6.68' x='117.56' y='82.49' rx='.56' transform='rotate(112.5 118.11945 85.83175)')
					rect.cls-1.loading-step-4(width='1.11' height='6.68' x='7.33' y='36.83' rx='.56' transform='rotate(112.5 7.88185 40.16963)')
					rect.cls-1.loading-step-4(width='1.11' height='6.68' x='50.81' y='1.15' rx='.56' transform='rotate(-11.25 51.37928 4.49658)')
					rect.cls-1.loading-step-2(width='1.11' height='6.68' x='74.08' y='118.17' rx='.56' transform='rotate(-11.25 74.65929 121.50555)')
					rect.cls-1.loading-step-1(width='1.11' height='6.68' x='120.96' y='48.02' rx='.56' transform='rotate(78.75 121.51416 51.35893)')
					rect.cls-1.loading-step-3(width='1.11' height='6.68' x='3.93' y='71.3' rx='.56' transform='rotate(78.75 4.48686 74.64272)')
					rect.cls-1.loading-step-1(width='1.11' height='6.68' x='95.59' y='10.05' rx='.56' transform='rotate(33.9 95.38219 13.25898)')
					rect.cls-1.loading-step-3(width='1.11' height='6.68' x='29.3' y='109.26' rx='.56' transform='rotate(33.75 29.85561 112.60218)')
					rect.cls-1.loading-step-2(width='1.11' height='6.68' x='112.05' y='92.8' rx='.56' transform='rotate(123.75 112.6074 96.14457)')
					rect.cls-1.loading-step-4(width='1.11' height='6.68' x='12.84' y='26.51' rx='.56' transform='rotate(123.75 13.39588 29.85289)')
					rect.cls-1.loading-step-4(width='1.11' height='6.68' x='29.3' y='10.05' rx='.56' transform='rotate(-33.75 29.84858 13.39235)')
					rect.cls-1.loading-step-2(width='1.11' height='6.68' x='95.59' y='109.26' rx='.56' transform='rotate(-33.75 96.13892 112.60922)')
					rect.cls-1.loading-step-1(width='1.11' height='6.68' x='112.05' y='26.51' rx='.56' transform='rotate(56.25 112.6065 29.85596)')
					rect.cls-1.loading-step-3(width='1.11' height='6.68' x='12.84' y='92.8' rx='.56' transform='rotate(56.25 13.39463 96.13944)')
					rect.cls-1.loading-step-1(width='1.11' height='6.68' x='74.08' y='1.15' rx='.56' transform='rotate(11.25 74.61319 4.49191)')
					rect.cls-1.loading-step-3(width='1.11' height='6.68' x='50.81' y='118.17' rx='.56' transform='rotate(11.25 51.38394 121.49589)')
					rect.cls-1.loading-step-2(width='1.11' height='6.68' x='120.96' y='71.3' rx='.56' transform='rotate(101.25 121.51198 74.63633)')
					rect.cls-1.loading-step-4(width='1.11' height='6.68' x='3.93' y='48.02' rx='.56' transform='rotate(101.25 4.48886 51.36232)')

		.content
			.step#ava-0 
				p Đầu tiên, bạn phải đặt khuôn mặt mình trong hình tròn. Sau đó bạn bắt đầu di chuyển theo hướng dẫn
				button.button.is-primary.is-large#toStep1 Bắt đầu
			.step#ava-1.is-hidden
				p Vui lòng quay mặt từ từ sang trái
				img(src='./images/img_head_left.png')
				button.feature-hidden#toStep2 nhấn để chuyển
			.step#ava-2.is-hidden 
				p Vui lòng quay mặt từ từ sang phải
				img(src='./images/img_head_right.png')
				button.feature-hidden#toStep3 nhấn để chuyển
			.step#ava-3.is-hidden 
				p Vui lòng ngước mặt lên từ từ
				img(src='./images/img_head_up.png')
				button.feature-hidden#toStep4 nhấn để chuyển (case scan fail)
			.step#ava-4.is-hidden 
				p Vui lòng cúi mặt xuống từ từ
				img(src='./images/img_head_down.png')
				button.feature-hidden#toSuccess nhấn để chuyển
	.bl-popup-context.scanByImage.is-hidden 
		.camera
			video(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4')
		.content
			.step 
				p Đăt toàn bộ khuôn mặt trong hình tròn và nhìn thẳng  rồi nhấn nút  "chụp ảnh" 
				img(src='./images/img_head_directfront.png')
				button.button.is-primary.is-rounded#toSuccess1
					img(src='./images/ico_capture.png')
	.bl-popup-context.successful.is-hidden
		.camera 
			img(src='./images/img_demo_person.png')
		.content
			.step
				p Xác thực khuôn mặt thành công
		button.button.is-primary.is-large.is-fullwidth#scanFaceDone Tiếp tục

.popup-container#popup-id
	.bl-popup-heading
		span Ảnh CMND/CCCD mặt trước
		a.func-close-popup(href="javascript:void(0)")
			i.icz.icz-close
		a.func-next.guiding-sound.sound-on
			img(src='./images/ico_speaker.png')
			img(src='./images/ico_speaker_disable.png')
	.bl-popup-context.capture.is-hidden
		p Đặt toàn bộ mặt thẻ vào trong khung và đảm bảo mặt trước khớp với khung hình
		.camera 
			video(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4')
		button.button.is-primary.is-rounded#captureId 
			img(src='./images/ico_capture.png')
	.bl-popup-context.check-again.is-hidden
		h4 Kiểm tra hình chụp
		p Đảm bảo ảnh chụp rõ ràng, dễ đọc và là hình CMND/CCCD bản gốc (không phải bản sao)
		.camera 
			img(src='./images/img_cccd_demo.png')
		.buttons 
			button.button.is-normal.is-outlined.is-large#captureAgain Chụp lại
			button.button.is-primary.is-large#acceptId Dùng ảnh này
	.bl-popup-context.capture-behind.is-hidden
		p Đặt toàn bộ mặt thẻ vào trong khung và đảm bảo mặt sau khớp với khung hình
		.camera 
			video(src='http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4')
		button.button.is-primary.is-rounded#captureIdBehind 
			img(src='./images/ico_capture.png')
	.bl-popup-context.check-again-behind.is-hidden
		h4 Kiểm tra hình chụp
		p Đảm bảo ảnh chụp rõ ràng, dễ đọc và là hình CMND/CCCD bản gốc (không phải bản sao)
		.camera 
			img(src='./images/img_cccd_demo_behind.png')
		.buttons 
			button.button.is-normal.is-outlined.is-large#captureAgainBehind Chụp lại
			button.button.is-primary.is-large#acceptIdBehind Dùng ảnh này
	.bl-popup-context.upload-loading.is-hidden
		i.icz.icz-arrow-up
		p Đang tải ảnh…
		p.grey Vui lòng chờ trong giây lát
		button.feature-hidden#toVerifySuccess nhấn để chuyển kết quả thành công
		button.feature-hidden#toVerifyFail nhấn để chuyển kết quả thất bại

.popup-container#popup-verifyResult
	.bl-popup-heading
		span Kết quả kiểm tra
		a.func-close-popup(href="javascript:void(0)")
			i.icz.icz-close
	.bl-popup-context.is-hidden 
		img(src='./images/img_success.png')
		p Xác thực Zalo thành công
		.cheking-percent 
			img(src='./images/ico_check.png')
			.num-percent 
				p.percent 95%
				p Độ tương đồng
		button.button.is-primary.is-large.is-fullwidth.go-back-home-final Hoàn thành




