extends layout.pug

//- Setting
block setting
	- var layout = true
	- var header = true
	- var footer = false
	- var modal = true
	- var wow = true
	- var swiperjs = true
	- var videjs = true
	- var fancyboxjs = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("project-layout")
	- headerClasses.push("")
	- bodyClasses.push("page-content")
	- footerClasses.push("")
	
//- Add Header
block header
	include page/header.pug

//- Add Body
block body
	include page/_home.pug

//- Add Footer
block footer
	include page/footer.pug

//- Add Modal
block modal
	//- include page/modal_register.pug

block javaScripts extend
	script.
		var swiper = new Swiper('.swiper-apply', {
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
		});

		$('.list-unstyled > li').click(function(){
			$('.list-unstyled').toggleClass('is-visible');
			$('.cd-nav-trigger').removeClass('menu-is-open')
		})

		
		
