@font-face {
    font-family: 'Louis George Cafe';
    src: url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-BoldItalic.eot');
    src: url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-BoldItalic.woff2') format('woff2'),
        url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-BoldItalic.woff') format('woff'),
        url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-BoldItalic.ttf') format('truetype'),
        url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-BoldItalic.svg#LouisGeorgeCafe-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-Italic.eot');
    src: url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-Italic.woff2') format('woff2'),
        url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-Italic.woff') format('woff'),
        url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-Italic.ttf') format('truetype'),
        url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-Italic.svg#LouisGeorgeCafe-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-Bold.eot');
    src: url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-Bold.woff2') format('woff2'),
        url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-Bold.woff') format('woff'),
        url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-Bold.ttf') format('truetype'),
        url('../fonts/LouisGeorgeCafe/LouisGeorgeCafe-Bold.svg#LouisGeorgeCafe-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('../fonts/LouisGeorgeCafeLight-Italic.eot');
    src: url('../fonts/LouisGeorgeCafeLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LouisGeorgeCafeLight-Italic.woff2') format('woff2'),
        url('../fonts/LouisGeorgeCafeLight-Italic.woff') format('woff'),
        url('../fonts/LouisGeorgeCafeLight-Italic.ttf') format('truetype'),
        url('../fonts/LouisGeorgeCafeLight-Italic.svg#LouisGeorgeCafeLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('../fonts/LouisGeorgeCafeLight.eot');
    src: url('../fonts/LouisGeorgeCafeLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LouisGeorgeCafeLight.woff2') format('woff2'),
        url('../fonts/LouisGeorgeCafeLight.woff') format('woff'),
        url('../fonts/LouisGeorgeCafeLight.ttf') format('truetype'),
        url('../fonts/LouisGeorgeCafeLight.svg#LouisGeorgeCafeLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Louis George Cafe';
    src: url('../fonts/LouisGeorgeCafe.eot');
    src: url('../fonts/LouisGeorgeCafe.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LouisGeorgeCafe.woff2') format('woff2'),
        url('../fonts/LouisGeorgeCafe.woff') format('woff'),
        url('../fonts/LouisGeorgeCafe.ttf') format('truetype'),
        url('../fonts/LouisGeorgeCafe.svg#LouisGeorgeCafe') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Snell Roundhand';
    src: url('../fonts/SnellRoundhand/SnellRoundhand-BoldScript.eot');
    src: url('../fonts/SnellRoundhand/SnellRoundhand-BoldScript.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SnellRoundhand/SnellRoundhand-BoldScript.woff2') format('woff2'),
        url('../fonts/SnellRoundhand/SnellRoundhand-BoldScript.woff') format('woff'),
        url('../fonts/SnellRoundhand/SnellRoundhand-BoldScript.ttf') format('truetype'),
        url('../fonts/SnellRoundhand/SnellRoundhand-BoldScript.svg#SnellRoundhand-BoldScript') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Snell';
    src: url('../fonts/SnellRoundhand/SnellBT-Bold.eot');
    src: url('../fonts/SnellRoundhand/SnellBT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SnellRoundhand/SnellBT-Bold.woff2') format('woff2'),
        url('../fonts/SnellRoundhand/SnellBT-Bold.woff') format('woff'),
        url('../fonts/SnellRoundhand/SnellBT-Bold.ttf') format('truetype'),
        url('../fonts/SnellRoundhand/SnellBT-Bold.svg#SnellBT-Bold') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Snell Roundhand';
    src: url('../fonts/SnellRoundhand/SnellRoundhand-BlackScript.eot');
    src: url('../fonts/SnellRoundhand/SnellRoundhand-BlackScript.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SnellRoundhand/SnellRoundhand-BlackScript.woff2') format('woff2'),
        url('../fonts/SnellRoundhand/SnellRoundhand-BlackScript.woff') format('woff'),
        url('../fonts/SnellRoundhand/SnellRoundhand-BlackScript.ttf') format('truetype'),
        url('../fonts/SnellRoundhand/SnellRoundhand-BlackScript.svg#SnellRoundhand-BlackScript') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Snell';
    src: url('../fonts/SnellRoundhand/SnellBT-Regular.eot');
    src: url('../fonts/SnellRoundhand/SnellBT-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SnellRoundhand/SnellBT-Regular.woff2') format('woff2'),
        url('../fonts/SnellRoundhand/SnellBT-Regular.woff') format('woff'),
        url('../fonts/SnellRoundhand/SnellBT-Regular.ttf') format('truetype'),
        url('../fonts/SnellRoundhand/SnellBT-Regular.svg#SnellBT-Regular') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Altona Sans';
    src: url('../fonts/AltonaSans/AltonaSans-Italic.eot');
    src: url('../fonts/AltonaSans/AltonaSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AltonaSans/AltonaSans-Italic.woff2') format('woff2'),
        url('../fonts/AltonaSans/AltonaSans-Italic.woff') format('woff'),
        url('../fonts/AltonaSans/AltonaSans-Italic.ttf') format('truetype'),
        url('../fonts/AltonaSans/AltonaSans-Italic.svg#AltonaSans-Italic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Altona Sans';
    src: url('../fonts/AltonaSans/AltonaSans-Regular.eot');
    src: url('../fonts/AltonaSans/AltonaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AltonaSans/AltonaSans-Regular.woff2') format('woff2'),
        url('../fonts/AltonaSans/AltonaSans-Regular.woff') format('woff'),
        url('../fonts/AltonaSans/AltonaSans-Regular.ttf') format('truetype'),
        url('../fonts/AltonaSans/AltonaSans-Regular.svg#AltonaSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

