block base
main.body-single(role='main')
	.page-404-content
		img(src='images/ZAD_Illus_404.png')
		p Chúng tôi không thấy trang mà bạn <span class='text-nowrap'>đang tìm kiếm</span>
		a.button.is-primary Trở về Trang chủ
		