main.body-single(role='main')
	.section-cover-post-article
		.columns
			img.column(src="images/demo_post_cover.png")
			.container.column
				.category-container
					.square-cate
					a.post-category Tạo quảng cáo
				.post-title
					p.has-text-weight-bold Bạn nên chọn hình thức quảng cáo nào?
				.post-time
					p 12 tháng 3, 2020
	// section
	.section-list-contents
		section.section-single.container
			.post-affix-content
				.func-neo.affix.is-hidden-touch
					ul
						li(data-tippy-content="Về đầu trang" data-tippy-placement="right" )
							a.func-social.func-scroll
								i.top-icon
						li(data-tippy-content="Chia sẻ Zalo" data-tippy-placement="right")
							a.func-social.zalo-share-button(data-href="https://zing.vn" data-oaid="1676759766280665870" data-layout="2" data-color="blue" data-customize="true")
								i.icn.icn-zalo
						li(data-href="https://developers.facebook.com/docs/plugins/" data-layout="button" data-tippy-content="Chia sẻ Facebook" data-tippy-placement="right")
							a.func-social.fb-share-button(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://ads.zalo.me/business/" class="fb-xfbml-parse-ignore")
								i.icn.icn-facebook
						li(data-tippy-content="Liên hệ" data-tippy-placement="right")
							a.func-social(href="https://ads.zalo.me/Support" target="_blank") 
								i.icn.icn-bold-mail
				
				// article
				article#post-16.post-16.post.type-post.status-publish.format-standard.has-post-thumbnail.hentry.category-huong-dan
					p
						strong Quảng cáo Video
						|  là hình thức tạo quảng cáo tương tác với người mua hàng một cách trực quan, sinh động và sáng tạo hơn, giúp nâng cao tỉ lệ mua hàng từ khách hàng tiềm năng trên Zalo.
					p
						| Để tạo quảng cáo Video, nhà quảng cáo truy cập vào trang Zalo Ads và thực hiện theo các bước hướng dẫn dưới đây.
					p
						strong Bước 1: Thiết lập chiến dịch quảng cáo
					p
						| Người dùng vào trang 
						strong Tạo Quảng Cáo
						|  >> chọn 
						strong Loại chiến dịch 
						| (Hình thức quảng cáo) >> Nhấn 
						strong Bắt đầu
						| .
					figure.wp-block-image.large-width-img
						img(src='https://zalo-article-photo.zadn.vn/f27e40060247eb19b256#75404864', alt='')
					p
						strong Bước 2: Đặt tên chiến dịch và chọn ZOA để quảng cáo
					p
						| Chọn tài khoản Zalo Official Account thực hiện quảng cáo. Điền đường dẫn (liên kết) đến website cần quảng cáo. Nhấn nút 
						strong Tạo quảng cáo.
					figure.wp-block-image.large-width-img
						img(src='https://zalo-article-photo.zadn.vn/48c2d9ba9bfb72a52bea#75404899', alt='')
					p
						strong Bước 3: Nhắm chọn đối tượng quảng cáo:
					figure.wp-block-image.large-width-img
						img(src='https://zalo-article-photo.zadn.vn/a2a661182659cf079648#75190324', alt='')
					p
						strong 1. Địa điểm
					p >> Để chọn địa điểm, chọn một trong hai lựa chọn:
					p
						| · 
						strong Tỉnh/Thành phố:
						|  điền tên tỉnh/thành phố vào ô bên dưới. Tối đa 5 tỉnh/thành phố
					p
						| · 
						strong Vị trí cụ thể:
						|  điền tên thành phố, tỉnh thành hoặc một địa chỉ cụ thể
					p >> Để giới hạn hoặc mở rộng phạm vi:
					p
						em
							strong Cách 1:
						| Chọn vào icon hình mũi tên để tăng giảm phạm vi.
					p
						strong
							em Cách 2: 
						| Chọn vào mũi tên trên ô địa điểm để điền chính xác phạm vi bán kính cần mở rộng hay thu hẹp.
					figure.wp-block-image
						img(src='https://zalo-article-photo.zadn.vn/799e5a381d79f427ad68#75188436', alt='')
					p
						strong 2. Giới tính
						| : chọn theo nhóm đối tượng mục tiêu mà chiến dịch quảng cáo hướng đến.
					p
						strong 3. Nền tảng:
						|  chọn hệ điều hành theo mục tiêu.
					p
						strong 4. Độ tuổi: 
						| di chuyển trên thanh để chọn độ tuổi phù hợp mục tiêu.
					p
						strong 5. Tiêu chí khác: 
						| chọn nhân khẩu học và sở thích theo hành vi nhóm khách hàng mục tiêu.
					p
						strong Bước 4: Thiết lập ngân sách và chi phí quảng cáo
					p
						| Nhà quảng cáo thiết lập ngân sách quảng cáo bằng cách chọn 
						strong Số lượng nhấp chuột 
						| và 
						strong Đặt giá
						|  cho một nhấp chuột
					figure.wp-block-image
						img(src='https://zalo-article-photo-td.zadn.vn/cd7289721f35f66baf24#44755042', alt='')
					p
						strong * Lưu ý:
					p
						strong
							| · Giá Lượt hiển thị (chi phí hiển thị) / Lượt xem hoàn tất tùy thuộc việc nhà quảng cáo chọn nhóm đối tượng và thời điểm chạy quảng cáo mà giá hiển thị /xem hoàn tất sẽ thay đổi. Nhà quảng cáo cần linh động khi đặt giá quảng cáo .
					h2 this it title dude
					p
						strong · 1M tương đương với 1000 lượt hiển thị.
					p
						strong Bước 5: Chuẩn bị nội dung quảng cáo
					p Nhà quảng cáo đăng tải hình ảnh và chuẩn bị nội dung quảng cáo theo yêu cầu.
					figure.wp-block-image
						img(src='https://zalo-article-photo.zadn.vn/aa982ce06ea187ffdeb0#75404916', alt='')
					p
						strong 1. Tên chiến dịch quảng cáo
					p
						strong 2. Hình mô tả: 
						| thể hiện hình ảnh sử dụng cho quảng cáo. Nhà quảng cáo đăng tải ảnh có kích thước 
						strong 1200×627(px) 
						| và dung lượng không vượt quá 2MB.
					p
						strong 3. Tải video 
						| lên hệ thống sử dụng cho quảng cáo, có định dạng 
						strong .MP4 H.264
						| , thời lượng tối đa 
						strong 60 giây
						| , 
						strong tỉ lệ 16:9
						| .
					p
						strong 4. Mô tả: 
						| thể hiện thông tin ngắn gọn của sản phẩm, nội dung không vượt quá 
						strong 30 
						| ký tự.
					p
						strong 5. Thông tin thêm: 
						| thể hiện thông tin giá sản phẩm hoặc khuyến mãi cho sản phẩm, nội dung không vượt quá 
						strong 60
						|  ký tự
					p
						strong Bước 6: Chọn Thông tin thêm
					p
						| Cung cấp giấy xác nhận nội dung quảng cáo nếu sản phẩm là thuốc, thực phẩm chức năng, hoặc các sản phẩm/dịch vụ BQT Zalo Ads quy định yêu cầu giấy phép tại 
						strong Chính sách quảng cáo.
					figure.wp-block-image
						img(src='https://zalo-article-photo.zadn.vn/6dedda539d12744c2d03#75190336', alt='')
					p
						strong Bước 7: Gửi duyệt
					p
						| Sau khi tạo nội dung quảng cáo, nhà quảng cáo có thể lưu nội dung để chỉnh sửa sau hoặc tiến hành gửi duyệt để đội ngũ quản trị Zalo Ads phê duyệt quảng cáo.
					figure.wp-block-image
						img(src='https://zalo-article-photo.zadn.vn/d5f0604e270fce51971e#75190338', alt='')
					p
						| 1. Chọn 
						strong Lưu 
						| để lưu lại nội dung và quay lại chỉnh sửa sau. Khi quảng cáo chưa được gửi duyệt sẽ có trạng thái 
						strong Tạo mới
						|  và sẽ không phân phối cho đến khi được gửi duyệt
					p
						| 2. Chọn 
						strong Gửi duyệt 
						| để đưa quảng cáo đến đội ngũ vận hành Zalo Ads kiểm tra và tiến hành xét duyệt. Thời gian duyệt quảng cáo trong khoảng 1 tiếng.
					p
						| Nếu nhà quảng cáo có thắc mắc cần hỗ trợ, nhà quảng cáo có thể liên hệ với đội ngũ CSKH Zalo Ads theo phương thức sau:
					a.banner-adchecker.is-desktop(href='https://ads.zalo.me/business/creative/adchecker?utm_source=CH_landing_banner' target = "_blank")
						img(src='./images/banner-adchecker-single.png')
					.footer-contact-post
						p Zalo hi vọng rằng bài viết đã cho bạn một góc nhìn rõ hơn để có thể chọn được một hình thức quảng cáo phù hợp với nhu cầu của mình.
						p Nếu có bất kì thắc mắc nào, bạn có thể liên hệ với đội ngũ Chăm sóc khách hàng của Zalo Ads qua:
						p 
							|Liên hệ trong hệ thống: 
							a https://ads.zalo.me
							br
							|Email: 
							a ads@zalo.me
							br
							|Hotline: 
							a 1900988912
					.useful-article
						p#thank-you Cám ơn bạn đã góp ý cho chúng tôi!
						
						#percent_useful_bar
							#green_percent_userful_bar
							p
						form#form-sending(target="_self" onsubmit="return postToGoogle();" action="")
							p Bạn có thấy bài viết này hữu ích?
							.field.is-grouped#group-button
								.control
									.button.like-button#like-button
										img(src='images/like.png')
										|Có
								.control
									.button.dislike-button#dislike-button
										img(src='images/dislike.png')
										|Không
							.checkbox-radio#when-useless
								.radio
									input(type='radio' name='useless' value='Đây không phải là những gì tôi đang tìm kiếm.' checked)
									label Đây không phải là những gì tôi đang tìm kiếm.
								.radio
									input(type='radio' name='useless' value='Không có những ví dụ cụ thể')
									label Không có những ví dụ cụ thể.
								.radio
									input(type='radio' name='useless' value='Nội dung quá khó để hiểu.')
									label Nội dung quá khó để hiểu.
								.radio
									input(type='radio' name='useless' value='Thông tin trên không thể giải quyết vấn đề của tôi.')
									label Thông tin trên không thể giải quyết vấn đề của tôi.
								.radio
									input(type='radio' name='useless' value='Khác')
									label Khác
								textarea#another-option(placeholder='Vấn đề mà bạn đang cố gắng giải quyết là gì?')
							textarea#useful_note(style='display:none') Đây không phải là những gì tôi đang tìm kiếm.
							button#send-to.button.is-primary(type="submit") Gửi đi		
					p(style='display:none')
						| Categorised in: 
						a(href='https://staging.ads.zaloapp.com/?cat=1', rel='category') Hướng dẫn
					p(style='display:none') This post was written by admin
					a.post-edit-link(href='https://staging.ads.zaloapp.com/wp-admin/post.php?post=16&action=edit') Edit This
					.comments
						p Comments are closed here.
				// /article
		
			// /section
			.func-share.is-hidden-desktop
				ul
					li
						a.func-social(href="#!")
							i.ic.ic-zalo
					li
						a.func-social(href="#!")
							i.ic.ic-fb
					li
						a.func-social(href="contact.html")
							i.ic.ic-email
			.article-button-wrap
				.article-button.article-prev
					ul.post-categories
						li
							a(href="https://staging.ads.zaloapp.com/?cat=1" rel="category") Hướng dẫn
					h2
						a(href="#!") Top 5 marketing campaigns on Zalo in 2016
				.article-button.article-next
					ul.post-categories
						li
							a(href="https://staging.ads.zaloapp.com/?cat=1" rel="category") Hướng dẫn
					h2
						a(href="#!") Redefining customer’s path to purchase through mobile
		
		
<script src="https://sp.zalo.me/plugins/sdk.js"></script>
<script src="https://stc-sp.zadn.vn/session-sdk/session-sdk.min.js"></script>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0"></script>
	