main.body-single(role='main').begin-page
    .section-cover-beginpage
        img.image-beginpage(src='images/demo_batdau_cover.png')
        .overlay
        .container
            h2.title.has-text-centered.is-1.is-size-2-touch Bắt đầu sử dụng 
                span.text-nowrap Zalo Ads
            p Bạn mới sử dụng Zalo Ads? Các bài viết dưới đây sẽ dành riêng cho bạn để bắt đầu kinh doanh trên 
                span.text-nowrap Zalo Ads.
    section.section-beginpage
        .video
            video#video-homepage-ad(
                src="https://streaming.interactive.brand.zing.vn/media/videos/Zads_video2.mp4"
                poster="images/batdau-poster-video.jpg")
            .background-overlay#background-overlay
                .button-play#button-play(onclick="playPause()")
                    i.icn.icn-bold-play
    section.ready-create-ad
        .context
            h2.title.has-text-centered.is-3 Bạn đã sẵn sàng tạo quảng cáo trên 
                span.text-nowrap Zalo Ads
            p Sau khi xác định được mục tiêu cụ thể, bạn hãy bắt đầu tạo quảng cáo đầu tiên cho doanh nghiệp của mình theo các hướng dẫn chi tiết bên dưới
        .tab-cards
            .card.collapsed
                #head-1.card-header
                    a.collapsed(data-toggle='collapse', href='#collapse-1', aria-expanded='false', aria-controls='collapse-1')  Bước 1: Tạo tài khoản quảng cáo riêng cho doanh nghiệp
                #collapse-1.collapse(aria-labelledby='head-1')
                    .card-body.columns
                        .card-content.column
                            p Để tạo được quảng cáo trên 
                                span.text-nowrap Zalo Ads, 
                                |bước đầu tiên bạn cần tạo tài khoản quảng cáo riêng cho chính doanh nghiệp của mình. Các bước chi tiết để dễ dàng tạo thành công tài khoản quảng cáo bạn đều có trong bài viết này.
                            a.button.is-primary.is-outlined(href='https://ads.zalo.me/business/cach-tao-tai-khoan-quang-cao-zalo-ads/') Cách tạo tài khoản quảng cáo 
                        img.column(src='images/ZAD_bay_buoc_huong_dan_bat_dau_ZAD_Huong Dan_Buoc_01.jpg')     
            .card.collapsed
                #head-2.card-header
                    a.collapsed(data-toggle='collapse', href='#collapse-2', aria-expanded='false', aria-controls='collapse-2')  Bước 2: Xác định hình thức quảng cáo phù hợp với mục tiêu
                #collapse-2.collapse(aria-labelledby='head-2')
                    .card-body.columns
                        .card-content.column
                            p Khi đã xác định rõ mục tiêu marketing của doanh nghiệp, bạn hãy lựa chọn 1 trong 7 hình thức quảng cáo phù hợp mà Zalo Ads đang hỗ trợ cho đa dạng mục tiêu như: Xây dựng thương hiệu, thu hút khách hàng tiềm năng, tăng doanh thu…
                            a.button.is-primary.is-outlined(href='https://ads.zalo.me/business/cac-hinh-thuc-quang-cao-tren-zalo-ads/') Các hình thức quảng cáo
                        img.column(src='images/ZAD_bay_buoc_huong_dan_bat_dau_ZAD_Huong Dan_Buoc_02.jpg')
            .card.collapsed
                #head-3.card-header
                    a.collapsed(data-toggle='collapse', href='#collapse-3', aria-expanded='false', aria-controls='collapse-3')  Bước 3: Tạo trang Zalo Official Account ngay trên Zalo Ads
                #collapse-3.collapse(aria-labelledby='head-3')
                    .card-body.columns
                        .card-content.column
                            p Zalo Official Account là trang thông tin, sự hiện chính thức của doanh nghiệp trên nền tảng Zalo. Và chỉ cần vài phút với một số bước chuẩn bị đơn giản bạn đã tạo được ngay trang Zalo Official Account cho doanh nghiệp của mình trên chính trang Zalo Ads theo sự hướng dần chi tiết sau.
                            a.button.is-primary.is-outlined(href='https://ads.zalo.me/business/huong-dan-tao-zalo-official-account-trong-zalo-ads/') Cách tạo Zalo Official Account 
                        img.column(src='images/ZAD_bay_buoc_huong_dan_bat_dau_ZAD_Huong Dan_Buoc_03.jpg')
            .card.collapsed
                #head-4.card-header
                    a.collapsed(data-toggle='collapse', href='#collapse-4', aria-expanded='false', aria-controls='collapse-4')  Bước 4: Tạo mẫu quảng cáo đầu tiên
                #collapse-4.collapse(aria-labelledby='head-4')
                    .card-body.columns
                        .card-content.column
                            p Mọi thứ đã sẵn sàng, bạn có thể bắt đầu tạo ngay quảng cáo đầu tiên cho doanh nghiệp của mình. Zalo Ads sẽ hướng dẫn bạn chi tiết từng bước trong bài viết này, bạn hãy làm theo nhé.
                            a.button.is-primary.is-outlined(href='https://ads.zalo.me/business/thiet-lap-quang-cao-de-dang/') Thiết lập quảng cáo dễ dàng
                        img.column(src='images/ZAD_bay_buoc_huong_dan_bat_dau_ZAD_Huong Dan_Buoc_04.jpg')
            .card.collapsed
                #head-5.card-header
                    a.collapsed(data-toggle='collapse', href='#collapse-5', aria-expanded='false', aria-controls='collapse-5')  Bước 5: Chọn nhóm đối tượng có đặc điểm phù hợp
                #collapse-5.collapse(aria-labelledby='head-5')
                    .card-body.columns
                        .card-content.column
                            p Bạn hãy xác định rõ về nhóm đối tượng mà doanh nghiệp muốn tiếp cận như độ tuổi, vị trí, giới tính và các chi tiết khác cùng thông tin nhân khẩu học, sở thích và hành vi nào thể hiện rõ nhất đối tượng đó để nhắm chọn phù hợp.
                            a.button.is-primary.is-outlined(href='https://ads.zalo.me/business/chon-nhom-doi-tuong-quang-cao/') Cách chọn đối tượng quảng cáo
                        img.column(src='images/ZAD_bay_buoc_huong_dan_bat_dau_ZAD_Huong Dan_Buoc_05.jpg')
            .card.collapsed
                #head-6.card-header
                    a.collapsed(data-toggle='collapse', href='#collapse-6', aria-expanded='false', aria-controls='collapse-6')  Bước 6: Thiết lập mức chi phí cho quảng cáo của bạn
                #collapse-6.collapse(aria-labelledby='head-6')
                    .card-body.columns
                        .card-content.column
                            p Bạn có thể lựa chọn mức giá thầu, ngân sách theo ngày hoặc toàn chiến dịch và khoảng thời gian mà bạn muốn chạy quảng cáo. Với cách thức này bạn hoàn toàn có thể kiểm soát mức chi tiêu mà không bị vượt mức mong muốn.
                            a.button.is-primary.is-outlined(href='https://ads.zalo.me/business/lam-sao-de-tim-ra-ngan-sach-hop-ly-cho-mau-quang-cao-dau-tien/') Tìm mức ngân sách hợp lý
                        img.column(src='images/ZAD_bay_buoc_huong_dan_bat_dau_ZAD_Huong Dan_Buoc_06.jpg')
            .card.collapsed
                #head-7.card-header
                    a.collapsed(data-toggle='collapse', href='#collapse-7', aria-expanded='false', aria-controls='collapse-7')  Bước 7: Quản lý và tối ưu hiệu quả quảng cáo
                #collapse-7.collapse(aria-labelledby='head-7')
                    .card-body.columns
                        .card-content.column
                            p Sau khi chạy quảng cáo của bạn đã được duyệt và chạy, bạn có thể theo dõi các chỉ số báo cáo và đánh giá quảng cáo hoạt động tốt không hay quảng cáo của bạn có đang phân phối hiệu quả không, sau đó bạn có thể thay đổi và điều chỉnh ngay trên quảng cáo đó.
                            a.button.is-primary.is-outlined(href='https://ads.zalo.me/business/huong-dan-quan-ly-chien-dich/') Hướng dẫn quản lý chiến dịch
                        img.column(src='images/ZAD_bay_buoc_huong_dan_bat_dau_ZAD_Huong Dan_Buoc_07.jpg')