.covid-header#covid-header
    .covid-header-container
        .hamburger-rule-detail(onclick="openNav()")
            svg(width='18px', height='8px', viewBox='0 0 18 8', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                defs
                    rect#path-1(x='0', y='0', width='375', height='60')
                    filter#filter-2(x='-1.9%', y='-8.3%', width='103.7%', height='123.3%', filterUnits='objectBoundingBox')
                        feoffset(dx='0', dy='2', in='SourceAlpha', result='shadowOffsetOuter1')
                        fegaussianblur(stdDeviation='2', in='shadowOffsetOuter1', result='shadowBlurOuter1')
                        fecolormatrix(values='0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.1 0', type='matrix', in='shadowBlurOuter1')
                g#Promotion-Landing(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                    g#Group-15(transform='translate(-16.000000, -25.000000)')
                        g#Rectangle
                            use(fill='black', fill-opacity='1', filter='url(#filter-2)', xlink:href='#path-1')
                            use(fill='#FFFFFF', fill-rule='evenodd', xlink:href='#path-1')
                        g#nav(transform='translate(16.000000, 25.000000)', fill='#000000')
                            rect#Rectangle(x='0', y='0', width='18', height='2', rx='1')
                            rect#Rectangle(x='0', y='6', width='14', height='2', rx='1')
        .logo-zalo-ad-header
            svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 386.64 73.57')
                defs
                    style.
                        .zaloadcls-1{fill:#0068ff;}
                g#Layer_2(data-name='Layer 2')
                    g#Layer_1-2(data-name='Layer 1')
                        path.zaloadcls-1(d='M226.47,72.16h-8.39L247.19,2.45h7.54l28.83,69.71h-8.48L267,52.56h-32.5Zm24.21-60.95L236.83,46.16h27.79Z')
                        path.zaloadcls-1(d='M341.78,72.16h-6.69V61.7c-3.58,6.69-10.36,11.87-20.91,11.87C298,73.57,288,61,288,46.72c0-15.07,10.93-26.66,26.09-26.66,11.12,0,18.47,6.41,20.73,11.69V2.45h7ZM294.86,46.82C295,57,302,67.07,315.21,67.07a20.13,20.13,0,0,0,14.42-5.93,19.89,19.89,0,0,0,5.65-14.6,19.47,19.47,0,0,0-5.84-14.23,20.32,20.32,0,0,0-34.58,14.41Z')
                        path.zaloadcls-1(d='M378.33,34.19c0-5.37-3.58-8.38-8.66-8.38-5.56,0-8.95,3.77-8.76,8.2.18,4.8,3.86,6.78,10,8.57,7.26,2,15.36,4.05,15.73,14.88.38,9.33-7.16,16.11-16.77,16.11-8.19,0-17.24-5.18-17.33-15.82h6.88c.28,7,5.46,10.08,10.55,10.08,5.84,0,9.89-4.34,9.8-9.52-.19-5.75-4-8.1-12.72-10.64-7.26-2.17-12.91-5.09-13.1-13.1,0-9.14,7.26-14.51,15.83-14.51,7.07,0,15,3.87,15.45,14.13Z')
                        path.zaloadcls-1(d='M59.37,0H1.65V12.37h40l-39.54,49A11.2,11.2,0,0,0,0,68.62v3.11H54.42a5,5,0,0,0,4.95-4.94v-6.6h-42L54.46,13.6c.52-.67,1.61-1.91,2.08-2.44l.26-.29a14.7,14.7,0,0,0,2.57-9.11Z')
                        path.zaloadcls-1(d='M132.74,71.73H141V0H128.62V67.61A4.12,4.12,0,0,0,132.74,71.73Z')
                        path.zaloadcls-1(d='M107.17,17.46h11.55a0,0,0,0,1,0,0V71.73a0,0,0,0,1,0,0h-6.39a5.17,5.17,0,0,1-5.17-5.17V17.46A0,0,0,0,1,107.17,17.46Z')
                        path.zaloadcls-1(d='M90.54,15.89a28.18,28.18,0,1,0,28.18,28.18A28.18,28.18,0,0,0,90.54,15.89Zm0,44.76a16.58,16.58,0,1,1,16.58-16.58A16.58,16.58,0,0,1,90.54,60.65Z')
                        path.zaloadcls-1(d='M177.55,15.55a28.38,28.38,0,1,0,28.38,28.37A28.37,28.37,0,0,0,177.55,15.55Zm0,45.06a16.69,16.69,0,1,1,16.69-16.69A16.69,16.69,0,0,1,177.55,60.61Z')

    .field.is-grouped
        .control.rule-detail
            a.func-covid-modal-form(href='javascript:void(0)') Xem thể lệ
        .control
            a.button.is-primary(href="https://r3.dotdigital-pages.com/p/4T76-16Y/zad-bd-promotion-q2-2020-1?pfredir=3" target='_blank') Đăng ký tham gia
#mySidenav.covid-sidenav
    #covid-after-background(onclick="closeNav()")
    .covid-background#covid-background
        a.func-covid-modal-form(href='javascript:void(0)') Xem thể lệ
main.body-single(role='main').covid-page
    
    .section-background
        .container
            img(src="images/ZAD_Illus_Covid19.png")
            .logo-zalo-ad
                svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 386.64 73.57')
                    defs
                        style.
                            .zaloadcls-1{fill:#0068ff;}
                    g#Layer_2(data-name='Layer 2')
                        g#Layer_1-2(data-name='Layer 1')
                            path.zaloadcls-1(d='M226.47,72.16h-8.39L247.19,2.45h7.54l28.83,69.71h-8.48L267,52.56h-32.5Zm24.21-60.95L236.83,46.16h27.79Z')
                            path.zaloadcls-1(d='M341.78,72.16h-6.69V61.7c-3.58,6.69-10.36,11.87-20.91,11.87C298,73.57,288,61,288,46.72c0-15.07,10.93-26.66,26.09-26.66,11.12,0,18.47,6.41,20.73,11.69V2.45h7ZM294.86,46.82C295,57,302,67.07,315.21,67.07a20.13,20.13,0,0,0,14.42-5.93,19.89,19.89,0,0,0,5.65-14.6,19.47,19.47,0,0,0-5.84-14.23,20.32,20.32,0,0,0-34.58,14.41Z')
                            path.zaloadcls-1(d='M378.33,34.19c0-5.37-3.58-8.38-8.66-8.38-5.56,0-8.95,3.77-8.76,8.2.18,4.8,3.86,6.78,10,8.57,7.26,2,15.36,4.05,15.73,14.88.38,9.33-7.16,16.11-16.77,16.11-8.19,0-17.24-5.18-17.33-15.82h6.88c.28,7,5.46,10.08,10.55,10.08,5.84,0,9.89-4.34,9.8-9.52-.19-5.75-4-8.1-12.72-10.64-7.26-2.17-12.91-5.09-13.1-13.1,0-9.14,7.26-14.51,15.83-14.51,7.07,0,15,3.87,15.45,14.13Z')
                            path.zaloadcls-1(d='M59.37,0H1.65V12.37h40l-39.54,49A11.2,11.2,0,0,0,0,68.62v3.11H54.42a5,5,0,0,0,4.95-4.94v-6.6h-42L54.46,13.6c.52-.67,1.61-1.91,2.08-2.44l.26-.29a14.7,14.7,0,0,0,2.57-9.11Z')
                            path.zaloadcls-1(d='M132.74,71.73H141V0H128.62V67.61A4.12,4.12,0,0,0,132.74,71.73Z')
                            path.zaloadcls-1(d='M107.17,17.46h11.55a0,0,0,0,1,0,0V71.73a0,0,0,0,1,0,0h-6.39a5.17,5.17,0,0,1-5.17-5.17V17.46A0,0,0,0,1,107.17,17.46Z')
                            path.zaloadcls-1(d='M90.54,15.89a28.18,28.18,0,1,0,28.18,28.18A28.18,28.18,0,0,0,90.54,15.89Zm0,44.76a16.58,16.58,0,1,1,16.58-16.58A16.58,16.58,0,0,1,90.54,60.65Z')
                            path.zaloadcls-1(d='M177.55,15.55a28.38,28.38,0,1,0,28.38,28.37A28.37,28.37,0,0,0,177.55,15.55Zm0,45.06a16.69,16.69,0,1,1,16.69-16.69A16.69,16.69,0,0,1,177.55,60.61Z')
            .content
                p CHƯƠNG TRÌNH ƯU ĐÃI | 12/4-12/6/2020
                .rect.rect-1
                .rect.rect-2
                h1.title Zalo Ads cùng doanh nghiệp vượt qua Covid 19
                h2.title Zalo Ads cùng doanh nghiệp vượt qua Covid 19
                a.button.is-primary#btn-dang-ky-uudai(href="https://r3.dotdigital-pages.com/p/4T76-16Y/zad-bd-promotion-q2-2020-1?pfredir=3" target='_blank') Đăng ký tham gia
            .button-scrolldown
                svg(width='20px', height='12px', viewBox='0 0 20 12', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                    g#Promotion-Landing(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', stroke-linecap='square')
                        g#Zalo-Ads-Promotion-2(transform='translate(-159.000000, -653.000000)', stroke='#686E76', stroke-width='2')
                            g#Group-15(transform='translate(146.000000, 613.000000)')
                                g#minimal-down(transform='translate(15.000000, 42.000000)')
                                    polyline#Path(points='0 0 8 8 16 0')
    .section-uu-dai.section-small
        .context
            h3.title Ưu đãi đặc biệt
            .rect
        .content
            .col-custom
                img.square-icon(src='images/ZAD_icon_TangVoucher.png')
                .context-h4
                    h4.title Tặng voucher lên đến 2.000.000đ
                    p Cho khách hàng chi tiêu tối thiểu từ xx trong vòng 2 tháng diễn ra chương trình, tối đa 1 voucher/ khách hàng trong suốt quá trình diễn ra chương trình.
            .col-custom
                img.square-icon(src='images/ZAD_icon_ChuyenGiaTuVan.png')
                .context-h4    
                    h4.title Hỗ trợ từ chuyên gia quảng cáo
                    p Chuyên gia Zalo Ads giúp bạn Hướng dẫn, tìm hiểu hệ thống; Tối ưu chiến dịch; Tư vấn hình ảnh, nội dung, v.v.....
    .section-doi-tuong.section-small
        .context
            h3.title Đối tượng áp dụng
            .rect
            p Khách hàng đáp ứng đủ 3 tiêu chí 
        .content
            ul
                li
                    .svg-icon
                        svg(width='47px', height='47px', viewBox='0 0 47 47', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            defs
                                lineargradient#linearGradient-1(x1='41.0104917%', y1='23.4292095%', x2='70.0739219%', y2='88.0966804%')
                                    stop(stop-color='#FFFFFF', offset='0%')
                                    stop(stop-color='#DBDBDB', offset='8%')
                                    stop(stop-color='#A2A2A2', offset='22%')
                                    stop(stop-color='#707070', offset='36%')
                                    stop(stop-color='#484848', offset='50%')
                                    stop(stop-color='#292929', offset='63%')
                                    stop(stop-color='#121212', offset='77%')
                                    stop(stop-color='#050505', offset='89%')
                                    stop(stop-color='#000000', offset='100%')
                            g#Promotion-Landing(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                g#Zalo-Ads-Promotion-2(transform='translate(-500.000000, -1206.000000)')
                                    g#Group-10(transform='translate(148.000000, 1206.000000)')
                                        g#Group-9(transform='translate(352.000000, 0.000000)')
                                            g#Group-2
                                                g#Check
                                                    path#Path(d='M46.9651533,22.11 C46.9951567,30.2317289 42.5730265,37.7171056 35.445,41.61 C32.2318749,43.3856935 28.6160527,44.3051454 24.945,44.28 C19.0654561,44.2879993 13.4248596,41.9538458 9.27020613,37.7935628 C5.11555268,33.6332797 2.7890392,27.9895277 2.805,22.11 C2.77876344,20.9262081 2.88949885,19.7433526 3.135,18.585 C3.95924059,13.0448113 6.92078581,8.04787679 11.385,4.665 C11.385,4.665 11.52,4.665 11.595,4.53 C15.4083639,1.58549396 20.097216,0.00142230599 24.915,0.0296200063 C31.2425546,0.0181262996 37.2633621,2.75485697 41.415,7.53 C44.9932134,11.5432222 46.9688374,16.7332399 46.9651533,22.11 L46.9651533,22.11 Z', fill='#B4F7FF', style='mix-blend-mode: overlay;')
                                                    path#Path(d='M44.2351273,24 C44.2373627,30.9173493 40.980297,37.4314806 35.445,41.58 C31.621554,44.5164071 26.9308768,46.0993128 22.11,46.0801746 C9.91751962,46.0635238 0.0330308499,36.1924468 5.53376789e-16,24 C-0.015766219,22.5219338 0.140280342,21.0470421 0.465,19.605 C1.69664665,13.2313611 5.697931,7.73509141 11.385,4.605 C11.385,4.605 11.52,4.605 11.595,4.47 C14.8106013,2.70056999 18.4247638,1.78154009 22.095,1.7997273 C27.9785315,1.79597736 33.6213679,4.13552996 37.7760205,8.30144174 C41.930673,12.4673535 44.2549456,18.1165009 44.2351273,24 Z', fill='#429BFC')
                                                    path#Path(d='M17.49,36.9601941 L17.415,36.9601941 C16.6283987,36.9387486 15.9059256,36.5210688 15.495,35.85 L9.99,26.85 C9.31730292,25.7471342 9.65862544,24.3082255 10.755,23.625 C11.2815276,23.2985095 11.9165862,23.1956652 12.5192464,23.3392898 C13.1219065,23.4829144 13.6423204,23.8611284 13.965,24.39 L17.61,30.315 L30.345,12 C31.1006746,10.9919516 32.5187968,10.7631309 33.5531735,11.482346 C34.5875502,12.201561 34.8668391,13.6106129 34.185,14.67 L19.41,36 C18.9631857,36.6119958 18.2476852,36.9697461 17.49,36.9601941 L17.49,36.9601941 Z', fill='#FFFFFF', fill-rule='nonzero')
                                                    path#Path(d='M46.9651533,22.11 C46.9951567,30.2317289 42.5730265,37.7171056 35.445,41.61 C31.621554,44.5464071 26.9308768,46.1293128 22.11,46.1101746 C9.90583588,46.0934744 0.0165256343,36.2041641 5.53593629e-16,24 C-0.015766219,22.5219338 0.140280342,21.0470421 0.465,19.605 C1.30216265,19.1436122 2.2013849,18.8051409 3.135,18.6 C5.33130743,17.9021607 7.62571923,17.5628106 9.93,17.595 C11.9741179,17.5670524 14.0065594,17.9074863 15.93,18.6 C18.3861713,19.6992637 20.6902019,21.1109236 22.785,22.8 C24.040223,23.7377084 25.4053426,24.5184964 26.85,25.125 C27.3903202,25.3474605 27.9469649,25.527994 28.515,25.665 C29.851738,25.9384986 31.2166508,26.0493033 32.58,25.995 C34.5312845,26.1438953 36.49085,25.8463696 38.31,25.125 C40.4650853,24.0035337 42.0413335,22.0182246 42.645,19.665 C42.9118794,18.8004301 43.0434344,17.8997843 43.035,16.995 C43.1482204,15.4903126 43.062481,13.9772643 42.78,12.495 C42.5376255,10.7807159 42.0841845,9.1029841 41.43,7.5 C45.0096709,11.5231493 46.9803463,16.724878 46.9651533,22.11 Z', fill='url(#linearGradient-1)', fill-rule='nonzero', style='mix-blend-mode: overlay;')
                    p Các khách hàng có tài khoản quảng cáo trên 
                        a(href="ads.zalo.me") ads.zalo.me
                li
                    .svg-icon
                        svg(width='47px', height='47px', viewBox='0 0 47 47', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            defs
                                lineargradient#linearGradient-1(x1='41.0104917%', y1='23.4292095%', x2='70.0739219%', y2='88.0966804%')
                                    stop(stop-color='#FFFFFF', offset='0%')
                                    stop(stop-color='#DBDBDB', offset='8%')
                                    stop(stop-color='#A2A2A2', offset='22%')
                                    stop(stop-color='#707070', offset='36%')
                                    stop(stop-color='#484848', offset='50%')
                                    stop(stop-color='#292929', offset='63%')
                                    stop(stop-color='#121212', offset='77%')
                                    stop(stop-color='#050505', offset='89%')
                                    stop(stop-color='#000000', offset='100%')
                            g#Promotion-Landing(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                g#Zalo-Ads-Promotion-2(transform='translate(-500.000000, -1206.000000)')
                                    g#Group-10(transform='translate(148.000000, 1206.000000)')
                                        g#Group-9(transform='translate(352.000000, 0.000000)')
                                            g#Group-2
                                                g#Check
                                                    path#Path(d='M46.9651533,22.11 C46.9951567,30.2317289 42.5730265,37.7171056 35.445,41.61 C32.2318749,43.3856935 28.6160527,44.3051454 24.945,44.28 C19.0654561,44.2879993 13.4248596,41.9538458 9.27020613,37.7935628 C5.11555268,33.6332797 2.7890392,27.9895277 2.805,22.11 C2.77876344,20.9262081 2.88949885,19.7433526 3.135,18.585 C3.95924059,13.0448113 6.92078581,8.04787679 11.385,4.665 C11.385,4.665 11.52,4.665 11.595,4.53 C15.4083639,1.58549396 20.097216,0.00142230599 24.915,0.0296200063 C31.2425546,0.0181262996 37.2633621,2.75485697 41.415,7.53 C44.9932134,11.5432222 46.9688374,16.7332399 46.9651533,22.11 L46.9651533,22.11 Z', fill='#B4F7FF', style='mix-blend-mode: overlay;')
                                                    path#Path(d='M44.2351273,24 C44.2373627,30.9173493 40.980297,37.4314806 35.445,41.58 C31.621554,44.5164071 26.9308768,46.0993128 22.11,46.0801746 C9.91751962,46.0635238 0.0330308499,36.1924468 5.53376789e-16,24 C-0.015766219,22.5219338 0.140280342,21.0470421 0.465,19.605 C1.69664665,13.2313611 5.697931,7.73509141 11.385,4.605 C11.385,4.605 11.52,4.605 11.595,4.47 C14.8106013,2.70056999 18.4247638,1.78154009 22.095,1.7997273 C27.9785315,1.79597736 33.6213679,4.13552996 37.7760205,8.30144174 C41.930673,12.4673535 44.2549456,18.1165009 44.2351273,24 Z', fill='#429BFC')
                                                    path#Path(d='M17.49,36.9601941 L17.415,36.9601941 C16.6283987,36.9387486 15.9059256,36.5210688 15.495,35.85 L9.99,26.85 C9.31730292,25.7471342 9.65862544,24.3082255 10.755,23.625 C11.2815276,23.2985095 11.9165862,23.1956652 12.5192464,23.3392898 C13.1219065,23.4829144 13.6423204,23.8611284 13.965,24.39 L17.61,30.315 L30.345,12 C31.1006746,10.9919516 32.5187968,10.7631309 33.5531735,11.482346 C34.5875502,12.201561 34.8668391,13.6106129 34.185,14.67 L19.41,36 C18.9631857,36.6119958 18.2476852,36.9697461 17.49,36.9601941 L17.49,36.9601941 Z', fill='#FFFFFF', fill-rule='nonzero')
                                                    path#Path(d='M46.9651533,22.11 C46.9951567,30.2317289 42.5730265,37.7171056 35.445,41.61 C31.621554,44.5464071 26.9308768,46.1293128 22.11,46.1101746 C9.90583588,46.0934744 0.0165256343,36.2041641 5.53593629e-16,24 C-0.015766219,22.5219338 0.140280342,21.0470421 0.465,19.605 C1.30216265,19.1436122 2.2013849,18.8051409 3.135,18.6 C5.33130743,17.9021607 7.62571923,17.5628106 9.93,17.595 C11.9741179,17.5670524 14.0065594,17.9074863 15.93,18.6 C18.3861713,19.6992637 20.6902019,21.1109236 22.785,22.8 C24.040223,23.7377084 25.4053426,24.5184964 26.85,25.125 C27.3903202,25.3474605 27.9469649,25.527994 28.515,25.665 C29.851738,25.9384986 31.2166508,26.0493033 32.58,25.995 C34.5312845,26.1438953 36.49085,25.8463696 38.31,25.125 C40.4650853,24.0035337 42.0413335,22.0182246 42.645,19.665 C42.9118794,18.8004301 43.0434344,17.8997843 43.035,16.995 C43.1482204,15.4903126 43.062481,13.9772643 42.78,12.495 C42.5376255,10.7807159 42.0841845,9.1029841 41.43,7.5 C45.0096709,11.5231493 46.9803463,16.724878 46.9651533,22.11 Z', fill='url(#linearGradient-1)', fill-rule='nonzero', style='mix-blend-mode: overlay;')
                    p Khách hàng không thuộc các tài khoản agency của Zalo Ads
                li
                    .svg-icon
                        svg(width='47px', height='47px', viewBox='0 0 47 47', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                            defs
                                lineargradient#linearGradient-1(x1='41.0104917%', y1='23.4292095%', x2='70.0739219%', y2='88.0966804%')
                                    stop(stop-color='#FFFFFF', offset='0%')
                                    stop(stop-color='#DBDBDB', offset='8%')
                                    stop(stop-color='#A2A2A2', offset='22%')
                                    stop(stop-color='#707070', offset='36%')
                                    stop(stop-color='#484848', offset='50%')
                                    stop(stop-color='#292929', offset='63%')
                                    stop(stop-color='#121212', offset='77%')
                                    stop(stop-color='#050505', offset='89%')
                                    stop(stop-color='#000000', offset='100%')
                            g#Promotion-Landing(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                                g#Zalo-Ads-Promotion-2(transform='translate(-500.000000, -1206.000000)')
                                    g#Group-10(transform='translate(148.000000, 1206.000000)')
                                        g#Group-9(transform='translate(352.000000, 0.000000)')
                                            g#Group-2
                                                g#Check
                                                    path#Path(d='M46.9651533,22.11 C46.9951567,30.2317289 42.5730265,37.7171056 35.445,41.61 C32.2318749,43.3856935 28.6160527,44.3051454 24.945,44.28 C19.0654561,44.2879993 13.4248596,41.9538458 9.27020613,37.7935628 C5.11555268,33.6332797 2.7890392,27.9895277 2.805,22.11 C2.77876344,20.9262081 2.88949885,19.7433526 3.135,18.585 C3.95924059,13.0448113 6.92078581,8.04787679 11.385,4.665 C11.385,4.665 11.52,4.665 11.595,4.53 C15.4083639,1.58549396 20.097216,0.00142230599 24.915,0.0296200063 C31.2425546,0.0181262996 37.2633621,2.75485697 41.415,7.53 C44.9932134,11.5432222 46.9688374,16.7332399 46.9651533,22.11 L46.9651533,22.11 Z', fill='#B4F7FF', style='mix-blend-mode: overlay;')
                                                    path#Path(d='M44.2351273,24 C44.2373627,30.9173493 40.980297,37.4314806 35.445,41.58 C31.621554,44.5164071 26.9308768,46.0993128 22.11,46.0801746 C9.91751962,46.0635238 0.0330308499,36.1924468 5.53376789e-16,24 C-0.015766219,22.5219338 0.140280342,21.0470421 0.465,19.605 C1.69664665,13.2313611 5.697931,7.73509141 11.385,4.605 C11.385,4.605 11.52,4.605 11.595,4.47 C14.8106013,2.70056999 18.4247638,1.78154009 22.095,1.7997273 C27.9785315,1.79597736 33.6213679,4.13552996 37.7760205,8.30144174 C41.930673,12.4673535 44.2549456,18.1165009 44.2351273,24 Z', fill='#429BFC')
                                                    path#Path(d='M17.49,36.9601941 L17.415,36.9601941 C16.6283987,36.9387486 15.9059256,36.5210688 15.495,35.85 L9.99,26.85 C9.31730292,25.7471342 9.65862544,24.3082255 10.755,23.625 C11.2815276,23.2985095 11.9165862,23.1956652 12.5192464,23.3392898 C13.1219065,23.4829144 13.6423204,23.8611284 13.965,24.39 L17.61,30.315 L30.345,12 C31.1006746,10.9919516 32.5187968,10.7631309 33.5531735,11.482346 C34.5875502,12.201561 34.8668391,13.6106129 34.185,14.67 L19.41,36 C18.9631857,36.6119958 18.2476852,36.9697461 17.49,36.9601941 L17.49,36.9601941 Z', fill='#FFFFFF', fill-rule='nonzero')
                                                    path#Path(d='M46.9651533,22.11 C46.9951567,30.2317289 42.5730265,37.7171056 35.445,41.61 C31.621554,44.5464071 26.9308768,46.1293128 22.11,46.1101746 C9.90583588,46.0934744 0.0165256343,36.2041641 5.53593629e-16,24 C-0.015766219,22.5219338 0.140280342,21.0470421 0.465,19.605 C1.30216265,19.1436122 2.2013849,18.8051409 3.135,18.6 C5.33130743,17.9021607 7.62571923,17.5628106 9.93,17.595 C11.9741179,17.5670524 14.0065594,17.9074863 15.93,18.6 C18.3861713,19.6992637 20.6902019,21.1109236 22.785,22.8 C24.040223,23.7377084 25.4053426,24.5184964 26.85,25.125 C27.3903202,25.3474605 27.9469649,25.527994 28.515,25.665 C29.851738,25.9384986 31.2166508,26.0493033 32.58,25.995 C34.5312845,26.1438953 36.49085,25.8463696 38.31,25.125 C40.4650853,24.0035337 42.0413335,22.0182246 42.645,19.665 C42.9118794,18.8004301 43.0434344,17.8997843 43.035,16.995 C43.1482204,15.4903126 43.062481,13.9772643 42.78,12.495 C42.5376255,10.7807159 42.0841845,9.1029841 41.43,7.5 C45.0096709,11.5231493 46.9803463,16.724878 46.9651533,22.11 Z', fill='url(#linearGradient-1)', fill-rule='nonzero', style='mix-blend-mode: overlay;')
                    .list-major
                        p Khách hàng quảng cáo thuộc các ngành nêu sau:
                        ul
                            li Giáo dục
                            li Việc làm
                            li Doanh nghiệp bán lẻ
                            li F&B
                            li Bất động sản
                            li Sức khỏe và làm đẹp
                            li Thiết bị điện tử
                            li Đồ gia dụng
                            li Thời trang
                            li Tài chính
                            li Bảo hiểm
                            li Ô tô & xe cộ
                            li Lữ hành & du lịch
    .section-huongdan-thamgia.section-small
        .context
            h3.title Hướng dẫn tham gia
            .rect
        .content
            .container-row
                .row-custom
                    p.big-num 01
                    .context-h4
                        h4.title Điền đầy đủ thông tin theo đường dẫn 
                        p Truy cập form đăng ký tại trang này. Các thông tin đăng ký cần phải chính xác để đảm bảo quyền lợi của khách hàng khi tham gia chương trình.
                .row-custom
                    p.big-num 02
                    .context-h4
                        h4.title BQT Zalo Ads phản hồi email trong trong 2 ngày
                        p BQT Zalo Ads sẽ xem xét thông tin đăng ký và phản hồi qua email về kết quả đăng ký tham gia chương trình trong 02 ngày làm việc.
                .row-custom
                    p.big-num 03
                    .context-h4
                        h4.title Nhận ngay voucher khi có kết quả chương trình
                        p Sau khi kết thúc chương trình, kết quả sẽ được BQT Zalo Ads thông báo trực tiếp qua email khách hàng đã đăng ký cùng thông tin voucher.
            a.button.button-detail.func-covid-modal-form(href='javascript:void(0)') Xem thể lệ chi tiết   
    .section-cantrogiup.section-small
        .context
            h3.title Cần trợ giúp?
            .rect
        .need-help-content.content
            p(style="line-height: 45px;margin-bottom: 0.5rem;") ads@zalo.me
            p 1900 988 912      


script.
    var screen_width = window.screen.width;
    var button_sign_up = document.getElementById('btn-dang-ky-uudai')
    if(screen_width >= 1024){
        button_sign_up.className += ' is-large'
    }
    function openNav() {
        document.getElementById("mySidenav").style.width = "100%";
        setTimeout(()=>{
            document.getElementById("covid-after-background").style.opacity = "1";
        },200)  
    }

    function closeNav() {
        setTimeout(()=>{
            document.getElementById("mySidenav").style.width = "0";
        },150)  
        document.getElementById("covid-after-background").style.opacity = "0";
    }
