block base

main(role='main').partner-template.body-single
    section.section-list-doitac
        .section-cover-list-doitac
            .cover-container
                h2.title Danh sách đối tác cao cấp 
                    span.text-nowrap Zalo Ads
                .sub-title
                    p Đối tác cao cấp của chúng tôi là các chuyên gia đã qua đào tạo với đầy đủ chuyên môn và kinh nghiệm được chứng nhận bởi Zalo Ads.
        .image-logo.pb-0
            a.bl-partner
                img.hover(src="images/logo_mediaz.png")
                img.grayscale(src="images/logo_mediaz_grayscale.png")
                p.partner-name Mediaz
                p.partner-desc Mang đến các dịch vụ Digital Marketing toàn diện tại Việt Nam từ tư vấn đến triển khai và đo lường hiệu quả cho chiến dịch.
            a.bl-partner
                img.hover(src="images/logo_sapo.png")
                img.grayscale(src="images/logo_sapo_grayscale.png")
                p.partner-name Sapo
                p.partner-desc Chuyên về Ecom & Internet. Cung cấp nền tảng bán hàng đa kênh, tư vấn tổng thể  & triển khai các hoạt động marketing mang hiệu quả tối đa.
            a.bl-partner
                img.hover(src="images/logo_newtab.png")
                img.grayscale(src="images/logo_newtab_grayscale.png")
                p.partner-name Newtab Digital
                p.partner-desc Chuyên hoạch định & triển khai các hoạt động MKT Online, đa dạng các dịch vụ, chi phí tối ưu, hiệu quả cao, đo lường và báo cáo minh bạch.
            a.bl-partner
                img.hover(src="images/logo_zafago.png")
                img.grayscale(src="images/logo_zafago_grayscale.png")
                p.partner-name Zafago
                p.partner-desc Chuyên cung cấp các giải pháp toàn diện Digital Marketing đem lại hiệu quả doanh thu, tăng % lợi nhuận. Hỗ trợ KH trên nền tảng kênh Zalo
            a.bl-partner
                img.hover(src="images/logo_ants.png")
                img.grayscale(src="images/logo_ants_grayscale.png")
                p.partner-name ANTS
                p.partner-desc Với nền tảng KTS & dữ liệu công nghệ hàng đầu ĐNA, ANTS nhắm mục tiêu chính xác, hiệu quả, tần suất tiếp cận & phân phối đúng KH tiềm năng.
            a.bl-partner
                img.hover(src="images/logo_ants.png")
                img.grayscale(src="images/logo_ants_grayscale.png")
                p.partner-name ANTS
                p.partner-desc Với nền tảng KTS & dữ liệu công nghệ hàng đầu ĐNA, ANTS nhắm mục tiêu chính xác, hiệu quả, tần suất tiếp cận & phân phối đúng KH tiềm năng.
        .main-container
            .question
                p.has-text-weight-bold Các Đối Tác Khác 
                    span.text-nowrap Zalo Ads
            p Các đối tác cao cấp với đầy đủ chuyên môn và kinh nghiệm được chứng nhận bởi 
                span.text-nowrap Zalo Ads.
        .image-logo.is-small#image-logo
        //- .module-loading.is-active#loading-circle
        //-     .context-loading
        //-         svg(class="spinner" width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg")
        //-             circle(class="path" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30")
        .box-be-collab
            .context
                p Nhanh tay đăng ký để được đội ngũ Zalo Ads hỗ trợ trực tiếp.
                h2 Bạn đã sẵn sàng trở thành đối tác cao cấp của Zalo Ads?
                .buttons.is-centered
                    a.button(href="#!") Trở thành đối tác cao cấp
    .section-footer
        .columns
            .column.is-two-fifths
                h2.subtitle.is-4.mb-3 Thông tin liên hệ
                ul.addr-list
                    li
                        span.lab Hotline
                        span.content <a href="tel:1900988912">1900 988 912</a>
                    li
                        span.lab Email
                        span.content <a href="mailto:ads@zaloapp.com">ads@zaloapp.com</a>
                    li
                        span.lab Địa chỉ
                        span.content VNG Campus - Đường 13, KCX Tân Thuận, 
                            span.text-nowrap phường Tân Thuận Đông, 
                            |quận 7, Tp.HCM
            .column
                h2.subtitle.is-4.mb-3 Liên kết
                .columns
                    .column
                        ul.link-list
                            li
                                a(href="https://ads.zalo.me/client/member/profile") Thông tin tài khoản
                            li
                                a(href="https://ads.zalo.me/client/payment/add-budget") Nạp tiền vào tài khoản
                            li
                                a(href="https://ads.zalo.me/client/ads/select-campaign") Tạo quảng cáo
                            li
                                a(href="https://ads.zaloapp.com/client/campaigns") Quản lý quảng cáo	
                    .column
                        ul.link-list
                            li
                                a(href="https://beta.ads.zalo.me/tai-lieu-huong-dan/" target="_blank") Tài liệu hướng dẫn
                            li
                                a(href="https://beta.ads.zalo.me/p/tai-nguyen/chinh-sach/" target="_blank") Chính sách quảng cáo
                            li
                                a(href="https://beta.ads.zalo.me/cau-hoi-thuong-gap/" target="_blank") Câu hỏi thường gặp
                            li
                                a(href="https://beta.ads.zalo.me/p/tai-nguyen/toi-uu-quang-cao/" target="_blank") Tối ưu quảng cáo
                    .column
                        ul.link-list
                            li
                                a(href="https://beta.ads.zalo.me/doi-tac-cao-cap/" target="_blank") Đối tác cao cấp
                            li
                                a.func-modal-form(href='javascript:void(0)') Liên hệ tư vấn
                            li
                                a(href="https://ads.zalo.me/Support" target="_blank") Các kênh hỗ trợ
                            li
                                a(href="https://www.facebook.com/ZaloAds/" target="_blank") Zalo Ads trên facebook
        p.cpr ©
            script.
                var a = new Date()
                document.write(a.getFullYear()); 
            |
            |Zalo Ads. Một sản phẩm của Zalo