block base

main.body-single(role='main')#category
	.section-cover
		.head
			h1 Hướng dẫn
	.section-category-search#search-only-category
		.search-input-form
			input(type="text" placeholder="Bạn cần tìm tài liệu gì?" id="s")
			button.button-search(disabled onclick="console.log('check')" id='button-search-category')
				i.icn.icn-search
		.suggestion-search
			h3 Tài liệu được xem nhiều
			.suggestion-list
				a.suggestion-item(onclick="alert('check')")
					i.icn.icn-book
					span Bạn nên chọn hình thức quảng cáo nào?
				a.suggestion-item(onclick="alert('check111')")
					i.icn.icn-book
					span Hướng dẫn chỉnh sửa quảng cáo có trang đích giả trang tin
				a.suggestion-item
					i.icn.icn-book
					span Hướng dẫn nạp tiền vào tài khoản Zalo Ads
	.tabs.is-centered.is-desktop
		ul
			li.tab-links
				a Tất cả
			li.tab-links
				a Tạo quảng cáo	
			li.tab-links
				a Chỉnh sửa quảng cáo		
			li.tab-links
				a Tối ưu quảng cáo	
	.top-title-container
		p Chọn chuyên mục
		.dropdown
			.dropdown-toggle(href="#" role="button" id="category-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
				span Tất cả tài liệu
					i.icn.icn-small-down
			.context-arr.dropdown-menu(aria-labelledby="category-dropdown-menu")
				ul
					li
						a(href='#!')
							|Tất cả tài liệu hướng dẫn
					li
						a(href='#!')
							|Tạo quảng cáo
					li
						a(href='#!')
							span Chỉnh sửa quảng cáo	
					li
						a(href='#!')
							span Tối ưu quảng cáo
	// section
	section.section-article-latest.container
		h1(style='display:none') Categories for Hướng dẫn
		
		.article-list
			// article
			article#post-16.bl-article
				.article-container
					a.overlay(href="")
					//post category
					.category-container
						.square-cate
						a.post-category Tạo quảng cáo
					// /post category
					// post title
					h2.subtitle.is-3.has-text-weight-bold.mb-4
						|Quảng cáo Video
					// /post title
					// post details
					span.date(style='display:none') December 6, 2019 10:32 am
					span.author(style='display:none')
						| Published by 
						a(href='https://staging.ads.zaloapp.com/?author=1', title='Posts by admin', rel='author') admin
					span.comments(style='display:none')
					// /post details
					p
						| Quảng cáo Video là hình thức tạo quảng cáo tương tác với người mua hàng một cách trực quan, sinh động... 
						a.view-article(href='https://staging.ads.zaloapp.com/?p=16') View Article
					
					a.button.is-primary.is-light(href='') Xem tiếp
					a.post-edit-link(href='https://staging.ads.zaloapp.com/wp-admin/post.php?post=16&action=edit') Edit This
			// /article
			// article
			article#post-14.bl-article
				.article-container
					a.overlay(href="")
					//post category
					.category-container
						.square-cate
						a.post-category Tạo quảng cáo
					// /post category
					// post title
					h2.subtitle.is-3.has-text-weight-bold.mb-4
						|Quảng cáo sản phẩm trên Zalo
					// /post title
					// post details
					span.date(style='display:none') December 6, 2019 10:31 am
					span.author(style='display:none')
						| Published by 
						a(href='https://staging.ads.zaloapp.com/?author=1', title='Posts by admin', rel='author') admin
					span.comments(style='display:none')
					// /post details
					p
						| Quảng cáo sản phẩm trên Zalo là hình thức quảng cáo để quảng bá sản phẩm từ cửa hàng của Doanh... 
						a.view-article(href='https://staging.ads.zaloapp.com/?p=14') View Article
					a.button.is-primary.is-light(href='') Xem tiếp
					a.post-edit-link(href='https://staging.ads.zaloapp.com/wp-admin/post.php?post=14&action=edit') Edit This	
			// /article
			// article
			article#post-12.bl-article
				.article-container
					a.overlay(href="")
					//post category
					.category-container
						.square-cate
						a.post-category Tạo quảng cáo
					// /post category
					// post title
					h2.subtitle.is-3.has-text-weight-bold.mb-4
						|Quảng cáo website trên Zalo
					// /post title
					// post details
					span.date(style='display:none') December 6, 2019 10:31 am
					span.author(style='display:none')
						| Published by 
						a(href='https://staging.ads.zaloapp.com/?author=1', title='Posts by admin', rel='author') admin
					span.comments(style='display:none')
					// /post details
					p
						| Quảng cáo website trên Zalo là hình thức quảng cáo tăng lượng truy cập về website của doanh nghiệp/cửa hàng. Quảng cáo... 
						a.view-article(href='https://staging.ads.zaloapp.com/?p=12') View Article
					a.button.is-primary.is-light(href='') Xem tiếp
					a.post-edit-link(href='https://staging.ads.zaloapp.com/wp-admin/post.php?post=12&action=edit') Edit This	
			// /article
			// article
			article#post-8.bl-article
				.article-container
					a.overlay(href="")
					//post category
					.category-container
						.square-cate
						a.post-category Tạo quảng cáo
					// /post category
					// post title
					h2.subtitle.is-3.has-text-weight-bold.mb-4
						|Quảng cáo Zalo Official Account
					// /post title
					// post details
					span.date(style='display:none') December 6, 2019 4:53 am
					span.author(style='display:none')
						| Published by 
						a(href='https://staging.ads.zaloapp.com/?author=1', title='Posts by admin', rel='author') admin
					span.comments(style='display:none')
					// /post details
					p
						| Quảng cáo Zalo Official Account là hình thức tạo quảng cáo để tăng lượng quan tâm, tăng tương tác và giới... 
						a.view-article(href='https://staging.ads.zaloapp.com/?p=8') View Article
					a.button.is-primary.is-light(href='') Xem tiếp
					a.post-edit-link(href='https://staging.ads.zaloapp.com/wp-admin/post.php?post=8&action=edit') Edit This
			.pagination
script.
	window.addEventListener('load',() =>{
		document.getElementsByTagName('BODY')[0].classList.add('is-bg-grey-v2')
	})

