main.body-single(role='main').zad-page
    section.logo
        .zad-header
            h2 
                a(href="") Logo
                    i.icn.icn-url
            p.content-sub
                |Please reference 
                a this folder
                |
                |for the following
        .download-container
            img.logo-image(src='images/zalo-logo.png', alt='')
            .download-button.button.is-primary.is-outlined
                a(href="")
                    i.icn.icn-download
                    |Download
    section.product-wordmarks
        .zad-header
            h3 
                a(href="") Product wordmarks
                    i.icn.icn-url
            p.content-sub
                |Products are the only sub-brand logos within our system.
                br
                |Programs and initiatives don’t have custom logos.
        .download-container
            img.product-wordmarks-image(src='images/zalo-product-wordmarks.png', alt='')
            .download-button.button.is-primary.is-outlined
                a(href="")
                    i.icn.icn-download
                    |Download
    section.ecosystems
        .zad-header
            h3 Ecosystems
            p.content-sub
                |Please use our 
                a icons
                |
                |when mentioning specific applications
        .ecosystems-icons
            .icons-row
                a.download-container
                    img.zad-icons(src='images/zalo-icon.png', alt='')
                a.download-container
                    img.zad-icons(src='images/zing-mp3-icon.png', alt='')
                a.download-container
                    img.zad-icons(src='images/zingvn-icon.png', alt='')
                a.download-container
                    img.zad-icons(src='images/zingtv-icon.png', alt='')
                a.download-container
                    img.zad-icons(src='images/baomoi-icon.png', alt='')
    section.solid-colors
        .zad-header
            h2 Solid colors
            p.content-sub
                |To guarantee that you are using the right shade of our colours,
                br
                |Please follow these references.
                br
                br
                strong.content-sub CMYK 
                |- for printed materials: flyers, business card, folders, etc
                br
                strong.content-sub RGB 
                |- for digital materials: email markteking, social media, videos, etc
                br
                strong.content-sub HEXA 
                |- for websites (html)
        .color-preview-content
            .color-col
                .color-show-0.color-preview
                p.content-sub
                    strong CMYK 
                    |81 61 0 0
                    br
                    strong RGB 
                    |0 104 255
                    br
                    |#0068FF
            .color-col
                .color-show-1.color-preview
                p.content-sub
                    strong CMYK 
                    |100 93 10 4
                    br
                    strong RGB 
                    |0 41 145
                    br
                    |#002991
            .color-col
                .color-show-2.color-preview
                p.content-sub
                    strong CMYK 
                    |63 0 11 0
                    br
                    strong RGB 
                    |54 200 227
                    br
                    |#36C8E3
    section.typography
        .zad-header
            h2 Typography
            p.content-sub
                |The typography is a graphic element of branding.
                br
                |Different type weights of 
                a the main typology
                |
                |(light, regular, bold and black) can be used,
                br
                |how and when depends on the context. It is important to make sure the text is legible.
                br
                a The second typology
                |
                |can be used in numeric.
        .sub-header
            h3 Muli font (ENG-VN)
                    
            a(href="").content-sub MAIN TYPOLOGY
                 i.icn.icn-url
            .download-container
                img(src='images/muli-font-preview.png', alt='')
                .download-button.button.is-primary.is-outlined
                    a(href="")
                        i.icn.icn-download
                        |Download
        .sub-header
            h3.ando-font Ando font
            a(href="").content-sub SECOND TYPOLOGY
                i.icn.icn-url
            .download-container
                img(src='images/ando-font-preview.png', alt='')
                .download-button.button.is-primary.is-outlined
                    a(href="")
                        i.icn.icn-download
                        |Download 
    section.illustration
        .zad-header
            h2 
                a(href="") Illustration
                    i.icn.icn-url
            p.content-sub
                |You can see the full case study 
                a(href="") here
                |.
        .sub-header
            h3 
                a(href="") Namecard
                    i.icn.icn-url
            .download-container
                img.logo-image(src='images/namecard-preview.png', alt='')
                .download-button.button.is-primary.is-outlined
                    a(href="")
                        i.icn.icn-download
                        |Download
        .sub-header
            h3 
                a(href="") Icons
                    i.icn.icn-url
            .download-container
                img.logo-image(src='images/icons-preview.png', alt='')
                .download-button.button.is-primary.is-outlined
                    a(href="")
                        i.icn.icn-download
                        |Download
        .sub-header
            h3 
                a(href="") Artworks
                    i.icn.icn-url
            .download-container
                img.logo-image(src='images/artworks-preview.png', alt='')
                .download-button.button.is-primary.is-outlined
                    a(href="")
                        i.icn.icn-download
                        |Download
    section.zad-templates
        .zad-header
            h2 
                a(href="") Templates
                    i.icn.icn-url
            p.content-sub
                |You can see the full case study 
                a here
                |.
        .download-container      
                img.logo-image(src='images/templates-preview.png', alt='')
                .download-button.button.is-primary.is-outlined
                    a(href="")
                        i.icn.icn-download
                        |Download
    section.free-stock-photos
        .zad-header
            h2 Free Stock Photos
            p.content-sub
                |Get it for free from one of these free stock photo websites!
            p.content-sub.link-free-stock
                a Unsplash
                br
                a Morguefile
                br
                a Pexels
                br
                a Pixabay
                br
                a Stockvault
    