block Modal

.modal.fade.covid-modal-form(id="covid-modal-form" tabindex="-1" role="dialog")
	.modal-dialog.is-medium.modal-dialog-centered(role="document")
		.modal-content.is-form
			.header-modal
				h1.title Thể lệ chi tiết
				a.close(data-dismiss="modal" aria-label="Close")
					i.icn.icn-small-remove
			#section-form.section-form
				h2.title Nội dung chương trình:
				.context
					h2.title 1.	Tên chương trình: 
						span 1 Tỷ Đồng: Zalo Ads chung tay cùng doanh nghiệp vượt Covid-19
				.context
					h2.title 2.	Thời gian: 
						span 09/04/2020 - 09/06/2020 (thời gian có thể thay đổi tùy vào tình hình dịch bệnh)
				.context
					h2.title 3.	Đối tượng: 
					p Các khách hàng có tài khoản quảng cáo trên ads.zalo.me
					p Khách hàng quảng cáo thuộc các ngành:
					ul
						li Giáo dục
						li Việc làm
						li Doanh nghiệp bán lẻ
						li F&B
						li Bất động sản
						li Sức khỏe và làm đẹp
						li Thiết bị điện tử
						li Đồ gia dụng
						li Thời trang
						li Tài chính
						li Bảo hiểm
						li Ô tô & xe cộ
						li Lữ hành & du lịch
					p Khách hàng không thuộc các tài khoản agency của Zalo Ads
				.context
					h2.title 4. Ưu đãi:
					p Trong suốt thời gian diễn ra chương trình, nếu:
					ul
						li Mức chi tiêu tối thiểu đạt từ 5.000.000đ, KH sẽ nhận được voucher trị giá 200.000đ
						li Mức chi tiêu tối thiểu đạt từ 10.000.000đ, KH sẽ nhận được voucher trị giá 500.000đ
						li Mức chi tiêu tối thiểu đạt từ 20.000.000đ, KH sẽ nhận được voucher trị giá 1.000.000đ
						li Mức chi tiêu tối thiểu đạt từ 30.000.000đ, KH sẽ nhận được voucher trị giá 1.500.000đ
						li Mức chi tiêu tối thiểu đạt từ 40.000.000đ, KH sẽ nhận được voucher trị giá 2.000.000đ
					p Và mỗi khách hàng chỉ nhận tối đa 1 voucher trong suốt quá trình diễn ra chương trình
					p Hỗ trợ từ chuyên gia quảng cáo Zalo Ads: Hướng dẫn, tìm hiểu hệ thống; Tối ưu chiến dịch; Tư vấn hình ảnh, nội dung,...
				.context
					h2.title 5.	Mô tả chương trình:
					p Khách hàng truy cập vào landingpage của chương trình và đăng ký thông tin để BQT Zalo Ads xét duyệt đồng ý tham gia.

