block Modal

.modal.fade(id="modal-form" tabindex="-1" role="dialog")
	.modal-dialog.is-medium.modal-dialog-centered(role="document")
		.modal-content.is-form
			a.close(data-dismiss="modal" aria-label="Close")
				i.icn.icn-small-remove
			#section-form.section-form
				h2.title.is-size-3.has-text-centered.mb-4.is-hidden-touch Liên hệ với chúng tôi để được tư vấn
				h2.title.is-size-3.has-text-centered.mt-3.mb-4.is-hidden-desktop Liên hệ tư vấn
				form#formContact(name='formContact')
					.columns
						.column.is-half
							label.is-size-6.is-block.mb-1(for='full_name') Họ và tên
							input#full_name.input(name='full_name', type='text', placeholder='Nhập tên của bạn', tabindex='1', autocomplete='off')
						.column.is-half
							label.is-size-6.is-block.mb-1(for='phone_zalo') Điện thoại liên hệ
							input#phone_zalo.input(name='phone_zalo', type='text', placeholder='Ví dụ: 098xxxxxx', tabindex='2', autocomplete='off')
					.columns(style='display:none;')
						.column.is-half
							label.is-size-6.is-block.mb-1(for='sex') Giới tính
							.wrap-select
								select#sex(name='sex', autocomplete='off')
									option(value='1', selected='') Nam
									option(value='2') Nữ
						.column.is-half
							label.is-size-6.is-block.mb-1(for='birthday') Ngày sinh
							input#birthday.input(value='01/01/1990', name='birthday', type='text', placeholder='', autocomplete='off')
					.columns
						.column.is-half
							label.is-size-6.is-block.mb-1(for='email') Email
							input#email.input(name='email', type='text', placeholder='Nhập email của bạn', tabindex='4', autocomplete='off')
						.column.is-half
							label.is-size-6.is-block.mb-1(for='addr') Địa chỉ
							input#addr.input(name='addr', type='text', placeholder='Ví dụ: Số 182, Lê Đại Hành, P. 15, Quận 11, Tp.HCM', tabindex='3', autocomplete='off')
					.columns.mb-4
						.column.is-half
							label.is-size-6.is-block.mb-1(for='work') Lĩnh vực hoạt động <em>(Không bắt buộc)</em>
							.wrap-select.select
								select#work(name='work', tabindex='5', autocomplete='off')
									option(value='1', disabled='', selected='') Chọn lĩnh vực hoạt động
						.column.is-half.frm-source
							label.is-size-6.is-block.mb-1(for='ads') Bạn biết đến Zalo Ads từ?
							.wrap-select.select
								select#ads(name='ads', tabindex='6')
									option(disabled='', selected='') Chọn kênh phù hợp
									option(value='Organic_Friend_Referral') Bạn bè/đối tác giới thiệu
									option(value='Event_Sponsored_Referral') Tham dự sự kiện/ chương trình liên quan
									option(value='Digital') Thấy quảng cáo của Zalo Ads trên Internet
									option(value='Offline') Thấy quảng cáo của Zalo Ads offline
									option(value='Sale') Đội ngũ Zalo Ads liên hệ với tôi
									option(value='Agency') Agency quảng cáo của tôi tư vấn
									option(value='Organic_Search') Tôi chủ động tìm kiếm
					.columns
						.column
							.buttons.is-centered
								button.button.is-primary.is-medium.btn Gửi thông tin
