block menuMobile

.navbar-container
    .upload-image-block
        h3 Thêm hình ảnh
        p Hỗ trợ định dạng .JPG, .PNG
        input#upload-image(type="file" accept="image/*" style="display: none;")
        .upload-image-button
            i.icz.icz-file-add 
                p Tải ảnh lên