.rating-block.is-hidden
    .button-icon-close#close-rating-block(type="button")
        i.icz.icz-close
    .first.view
        p Mức độ hài lòng của bạn về công cụ này
        .rating-num
            label.rating-button 1
            label.rating-button 2
            label.rating-button 3
            label.rating-button 4
            label.rating-button 5
            label.rating-button 6
            label.rating-button 7
        .text-rating
            p Không hài lòng
            p Rất hài lòng
        textarea.is-hidden(type='text' placeholder='Nhập ý kiến của bạn' rows=3)
        button.button.is-primary#send-rating-feedback(disabled) Gửi phản hồi
    .second.view.is-hidden
        i.icz.icz-fill-check
        p Phản hồi của bạn đã được gửi đi, chúng tôi sẽ lưu lại những đóng góp của bạn để hoàn thiện sản phẩm.