title=page

block meta
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content=`${responsiveDevice}`)
	meta(name="description" content=`Bắt đầu cùng Zalo Ads`)
	meta(name="format-detection" content="telephone=no")
	meta(name="author" content="Zalo Ads")
	meta(name="copyright" content="2020 Zalo Ads")
	meta(name="robots" content="index, follow")
	meta(name="revisit-after" content="7 days")
	meta(property="og:url" content="https://ads.zalo.me/business/bat-dau-cung-zalo-ads/")
	meta(property="og:title" content="Bắt đầu cùng Zalo Ads")
	meta(property="og:image" content="https://ads.zalo.me/business/wp-content/uploads/2020/10/zad_mini-game_thumb.png")
	link(rel="icon" type="image/ico" href="images/zalo_ads.ico")

//- Include css
block css
	link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
	link(href="css/layout.css" rel="stylesheet" type="text/css")
	
//- Include css
style.
