extends layout.pug

//- Setting
block setting
	- var layout = true
	- var header = false
	- var footer = false
	- var modal = false
	- var popup = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("form-layout")
	- headerClasses.push("")
	- bodyClasses.push("page-content")
	- footerClasses.push("")
	
//- Add Header
block header
	include page/header.pug

//- Add Body
block body
	include page/_home.pug

//- Add Footer
block footer
	include page/footer.pug

//- Add Modal
block modal

//- Add Popup
block popup
	include page/popup_job_major.pug

block javaScripts extend
	script.
		$(".func-popup-job-major").click(function(){
			$("html").addClass("overlay-popup");
			$("#popup-job-major").addClass("is-show");
		});
		$(".func-close-popup").click(function(){
			$("html").removeClass("overlay-popup");
			$(".popup-container").removeClass("is-show");
		});
