// Core variables and mixins bourbon
@import "bourbon";

// Tooltip
.bl-tooltip{display:block;z-index:-1;opacity:0;visibility:hidden;@include position(fixed, 0);@extend %tr-all;background-color:rgba(#35425B, 0.85);overflow:hidden;
	&.is-hidden{z-index:-1!important;opacity:0!important;visibility:hidden!important;}
}
.overlay-tooltip{}
.overlay-tooltip{
	.bl-tooltip{z-index:1001;opacity:1;visibility:visible;@extend %tr-all;
		.tooltip-container{
			&.is-show{bottom:0;@extend %tr-all;}
		}
	}
}
.bl-tooltip{
	.tooltip-container{@include position(absolute, null);bottom:-100%;background-color:#fff;width:100%;border-top-left-radius:$gutter;border-top-right-radius:$gutter;overflow:hidden;
		@include from($tablet){left:50%;width:600px;margin-left:-300px}
		.bl-tooltip-heading{display:flex;justify-content:space-between;align-items:center;height:50px;@include padding(null $gutter);border-bottom:1px solid $border;
			span{color:$text;font-size:$size-medium;font-weight:$weight-semibold}
			.func-close-tooltip{flex-shrink:0;@include size(50px);margin-right:-$gutter;color:inherit;
				[class^=icz]{display:inline-block;@include size(50px);@include padding(15px);font-size:1.25rem;vertical-align:middle}
			}
		}
		.bl-tooltip-context{max-height:440px;@include padding($gutter);font-size:$size-normal;overflow-y:scroll;-webkit-overflow-scrolling:touch;
			p{margin-bottom:$gutter}
			ul{
				li{position:relative;margin-bottom:$gutter;padding-left:20px;
					&:before{@include position(absolute, 8px null null 4px);content:"";background-color:$text;@include size(4px);border-radius:100%}
					&.has-icon{
						&:before{display:none}
						[class^=icz]{@include position(absolute, 2px null null 0);@include size(16px);@include padding(2px);color:$primary;font-size:0.75rem;vertical-align:middle}
					}
				}
			}
			@media only screen and (max-height:600px){max-height:320px}
		}
	}
}

// Modal
.bl-modal{display:block;z-index:-1;opacity:0;visibility:hidden;@include position(fixed, 0);@extend %tr-all;background-color:rgba(#35425B, 0.85);overflow:hidden;
	&.is-hidden{z-index:-1!important;opacity:0!important;visibility:hidden!important;}
}
.overlay-modal{overflow:hidden;}
.overlay-modal{
	.bl-modal{z-index:1002;opacity:1;visibility:visible;@extend %tr-all;
		.modal-container{
			&.is-show{top:64px;transition:all 0.35s ease;}
		}
	}
}
.bl-modal{
	.modal-container{@include position(absolute, null $gutter);top:-100%;background-color:#fff;@extend %is-radius;overflow:hidden;
		@include from($tablet){left:50%;width:600px;margin-left:-300px}
		.bl-modal-heading{display:flex;justify-content:space-between;align-items:center;height:50px;@include padding(null $gutter);border-bottom:1px solid $border;
			span{color:$text;font-size:$size-medium;font-weight:$weight-semibold}
			.func-close-modal{flex-shrink:0;@include size(50px);margin-right:-$gutter;color:inherit;
				[class^=icz]{display:inline-block;@include size(50px);@include padding(15px);font-size:1.25rem;vertical-align:middle}
			}
		}
		.bl-modal-context{@include padding($gutter);
			p{margin-bottom:$gutter}
			.buttons.is-2b{@include margin(null (-$gutter/2));
				.button{flex-shrink:0;width:calc(50% - 16px);@include margin(null ($gutter/2))}
			}
		}
	}
}

// Popup
.bl-popup{display:block;z-index:-1;opacity:0;visibility:hidden;@include position(fixed, 0);@extend %tr-all;background-color:rgba(36, 46, 66, 0.85);overflow:hidden;
	&.is-hidden{z-index:-1!important;opacity:0!important;visibility:hidden!important;}
}
.overlay-popup{height:100%;overflow:hidden;}
.overlay-popup{
	//.page-content{height:100%;overflow:hidden;transform-style:preserve-3d;transform-origin:0% 50%;animation:rotateBox 0.5s forwards ease-in;transition:all 0.5s;}
	.bl-popup{z-index:102;opacity:1;visibility:visible;@extend %tr-all;
		.popup-container{height:0;
			&.is-show{z-index:1;bottom:0;height:100%;@extend %tr-all;
				.bl-popup-context{
					&.has-fixed{
						.bottom{opacity:1;visibility:visible;}
					}
				}
			}
		}
	}
}
.bl-popup{
	.popup-container{@include position(absolute, null);bottom:-100%;background-color:#fff;width:100%;
		// border-top-left-radius:$gutter;border-top-right-radius:$gutter;
		overflow:hidden;
		@include from($tablet){left:50%;width:600px;margin-left:-300px}
		&#popup-daterangepicker{height:auto;}
		&.has-calendar-right{height:98.5% !important;
			.func-select-ranges{display:none;}
			.result-daterangepicker{position:fixed;width:100%;z-index:100;max-width:600px;}
			.daterangepicker{margin-top:50px}
			.drp-calendar.right{display:block;}
			.drp-calendar.left{margin-bottom:30px;}
		}
		.bl-popup-heading{
			display:flex;justify-content:center;align-items:center;
			// @include position(absolute, 0 0 null 0);
			z-index:102;background-color:$white;
			// border-bottom:1px solid $border;
			text-align:center;
			padding-top: 24px;
			position: relative;
			// border-top-left-radius:$gutter;border-top-right-radius:$gutter;
			&.is-show-back{
				.func-close-popup{display:none}
				.func-back-popup{display:block}
			}
			span{color:$text;font-size:$size-large;font-weight:$weight-semibold}
			[class^=func-]{@include position(absolute, null null null 6px);@include size(40px);color:inherit;
				[class^=icz]{display:inline-block;@include size(40px);@include padding(10px);font-size:1.25rem;vertical-align:middle}
				&.is-right{right:0;left:initial}
			}
			.func-back-popup{display:none;}
			.func-next{
				@include position(absolute, null 6px null initial);
				width:50px;
				color:$link;
				bottom: 0;
				img{
					position: absolute;
					right: 0;
					transition: all ease 0.3s;
				}
				&.guiding-sound{
					&.sound-on{
						img:nth-child(2){
							opacity: 0;
						}
					}
					&.sound-off{
						img:nth-child(1){
							opacity: 0;
						}
					}
				}
			}
			.control{
				&.is-search{width:calc(100% - 30px);margin-left:30px}
			}
		}
		.bl-popup-context{
			position:relative;
			z-index:101;
			height:100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			@include padding(null 24px);
			text-align: center;
			overflow-y:hidden;
			-webkit-overflow-scrolling:touch;
			padding-top:48px;
			&.is-grey{background-color:$grey-light}
			&.is-crop{background-color:$text}
			&.is-less{padding-top:49px}
			&.has-fixed{padding-bottom:76px;
				&.has-checkbox{padding-bottom:116px;
					.bottom{border-top:1px solid rgba($border, 0.5)}
				}
				.bottom{@include position(fixed, null 0 0 0);z-index:1;background-color:$white;@include padding($gutter);opacity:0;visibility:hidden;
					@include from($desktop){max-width:600px;@include margin(null auto)}
				}
			}
			.camera{
				border-radius: 99%;
				margin-bottom: 2em;
				width: 250px;
				height: 250px;
				@media screen and (min-height: 800px) {
					min-width: 285px;
					min-height: 285px;
				}
				overflow: hidden;
    			// padding-top: 250px;
				background-color:  $text;
				position: relative;
				video{
					height: 100%;
					object-fit: cover;
				}
				img{
					height: 250px;
					@media screen and (min-height: 800px) {
						min-height: 285px;
					}
				}
				.loading{
					width: 235px;
					height: 235px;
					@media screen and (min-height: 800px) {
						width: 270px;
						height: 270px;
					}
					position: absolute;
					left: 7px;
					top: 7px;
					rect{
						transition: all ease 0.3s;
						fill: #E6E6E6;
						&.cls-2{
							&.success{
								fill: #0068FF;
							}
							&.fail{
								fill: #BC1600;
							}
						}
						&.cls-1{
							&.success{
								fill: #0CB8AB;
							}
							&.fail{
								fill: #FF1E00;
							}
						}
					}
				}
			}
			.button{
				height: 48px;
			}
			
			.content{
				max-width: 350px;
				.step{
					display: flex;
					flex-direction: column;
					align-items: center;
					p{
						color: $text;
						font-size: 1em;
						line-height: 24px;
						font-weight: 400;
						&.fail{
							color: #BC1600;
							font-weight: 600;
							margin-top: .5em;
						}
					}
					p+.button{
						margin-top: 24px;
					}
					img{
						width: 96px;
						height: auto;
						margin-top: 24px;
					}
				}
			}
			&.fail{
				.camera{
					padding-top: unset;
					background-color: unset;
				}
				.content{
					.step{
						p{
							color: #BC1600;
						}
					}
				}
				.button{
					position: fixed;
					bottom: 24px;
					width: calc(100% - 48px);
					@media screen and (min-width: 768px) {
						width: calc(600px - 48px)
					}
				}
			}
			&.successful{
				.camera{
					padding-top: unset;
					background-color: unset;
				}
				.content{
					.step{
						p{
							color: #0CB8AB;
						}
					}
				}
				.button{
					position: fixed;
					bottom: 24px;
					width: calc(100% - 48px);
					@media screen and (min-width: 768px) {
						width: calc(600px - 48px)
					}
				}
			}
			&.scanByImage{
				.content{
					.step{
						@media screen and (max-height: 670px) {
							img{
								width: 70px;
								margin-top: 16px;
							}
						}
					}
					button{
						width: 72px;
						height:72px;
						position: fixed;
						bottom: 40px;
						img{
							width: 27px;
							margin-top: 0 !important;
						}
						&.is-loading{
							img{
								opacity: 0;
							}
						}
						&.is-loading:after{
							width: 48px;
							height: 48px;
							border: 2px solid #fff;
							top: 11px;
							left: 11px;
						}
						&:after{
							content: '';
							border: 1px solid #fff;
							border-radius: 99%;
							width: 63px;
							height: 63px;
							position: absolute;
							top: 4.5px;
							left: 4.5px;
						}
					}
				}
			}
		}
		&#popup-avatar{
			.content{
				.step{
					@media screen and (max-height: 670px) {
						p+img{
							display: none;
						}
					}
				}
			}
		}
		&#popup-avatar, &#popup-avatar-scanning{
			
			.camera{
				video{
					transform: scaleX(-1);
					border-radius: 99%;
				}
			}
			.successful{
				.camera{
					img{
						@media screen and (min-height: 800px) {
							min-width: 285px;
							min-height: 285px;
						}
						transform: scaleX(-1);
						min-width: 250px;
						min-height: 250px;
					}
				}
				
			}
		}
		&#popup-id{
			.bl-popup-context{
				p{
					font-size: 1em;
					line-height: 24px;
					color: $text;
				}
				.camera{
					border-radius: 8px;
					width: calc(100vw - 24px);
					// padding-top: 220px;
					height: calc(9 * calc(100vw - 24px) / 16);
					margin-bottom: 0;
					img{
						height: calc(100vw - 24px);
						width: calc(100vw - 24px);
						object-fit: cover;
						min-height: calc(100vw - 24px);
					}
					video{
						height: calc(100vw - 24px);
						min-height: calc(100vw - 24px);
					}
					@media screen and (min-width: 768px) {
						max-width: calc(600px - 24px);
						height: calc(9 * calc(600px - 24px) / 16);
						img{
							max-width: calc(600px - 24px);
							height: calc(600px - 24px);
							min-height: calc(600px - 24px);
						}
						video{
							height: calc(600px - 24px);
							min-height: calc(600px - 24px);
						}
					}
				}
				.content{
					.step{
						p{
							margin-bottom: 0;
							margin-top: 24px;
							&.success{
								color: #0CB8AB;
							}
							&.fail{
								color: #FF1E00;
							}
						}
					}
				}
				&.capture, &.capture-behind{
					p{
						margin-bottom: 2em;
					}
					button{
						width: 72px;
						height:72px;
						position: fixed;
						bottom: 40px;
						img{
							width: 27px
						}
						&:after{
							content: '';
							border: 1px solid #fff;
							border-radius: 99%;
							width: 63px;
							height: 63px;
							position: absolute;
							top: 4.5px;
							left: 4.5px;
						}
						&#captureIdfail{
							bottom: 96px;
						}
					}
				}
				&.check-again, &.check-again-behind{
					.camera{
						background-color: unset;
					}
					h4{
						font-size: 1.125em;
						color: $text;
						line-height: 36px;
						font-weight: 600;
						margin-bottom: 6px;
					}
					p{
						margin-bottom: $gutter;
					}
					// .button{
					// 	width: calc(100% - 48px);
					// 	position: fixed;
					// 	bottom: $gutter;
					// 	@media screen and (min-width: 768px) {
					// 		max-width: calc(600px - 48px);
					// 	}
					// }
					.buttons{
						display: flex;
						justify-content: space-between;
						position: fixed;
						bottom: $gutter;
						left: $gutter;
						right: $gutter;
						.button{
							max-width: calc(50% - 8px);
							&.is-outlined{
								color: #131820;
								border-color: #989EA5;
								background-color: #fff;
							}
						}
						@media screen and (min-width: 768px) {
							max-width: calc(600px - 48px);
							margin: 0 auto;
						}
					}
				}
				&.upload-loading{
					
					padding-top: 0;
					justify-content: center;
					i{
						font-size: 1.5em;
						color: #fff;
						background-color: $primary;
						padding: 12px;
						border-radius: 99%;
						margin-bottom: 20px;
						animation: move 0.7s infinite alternate;
					}
					p{
						font-weight: 500;
						line-height: 24px;
						&.grey{
							opacity: 0.5;
							font-weight: normal;
							margin-top: 6px;
						}
					}
				}
			}
		}
		&#popup-verifyResult{
			height: 98%;
			border-radius: 16px 16px 0 0;
			.bl-popup-heading{
				padding-top: 16px;
			}
			.bl-popup-context{
				padding:18px 40px 24px;
				p{
					font-size: 16px;
					font-weight: 500;
					letter-spacing: 0;
					line-height: 24px;
					text-align: center;
					margin-bottom: 32px;
					margin-top: 24px;
				}
				@media screen and (min-height: 670px) and (min-width: 768px){
					img{
						width: 85%;
					}
				}
				.cheking-percent {
					@media screen and (max-height: 670px) {
						padding: 16px;
					}
					padding: 24px;
					display: flex;
					flex-direction: row;
					align-items: center;
					background-color: #F5F7FC;
					border-radius: 8px;
					img{
						width: 48px;
						height: 48px;
						object-fit: contain;
						margin-right: 1em;
					}
					.num-percent{
						p{
							margin-bottom: 0;
							margin-top: 0;
							text-align: start;
						}
						.percent{
							font-size: 40px;
							font-weight: 700;
							letter-spacing: 0;
							line-height: 48px;
							margin-bottom: 0;
							margin-top: 0;
						}
						
					}
				}
				button{
					position: fixed;
					width: calc(100% - 48px);
					margin: 0 auto;
					bottom: 24px;
					@media screen and (min-width: 768px) {
						width: calc(600px - 48px);
					}
				}
			}
		}
	}
}
@keyframes move{
	0% { transform: translateY(0); }
    100% { transform: translateY(-12px); }
}
@keyframes rotateBox{
	50%{transform:scale(0.92, 1);transform-origin:center top;}
	100%{transform:scale(0.88, 0.99);transform-origin:center top;}
}

/* Setup OA */
.bl-popup-heading{
	&.has-steps{
		&:before{display:block;@include position(absolute, null null -1px 0);content:"";background-color:$primary;width:0;height:2px;@extend %tr-all;}
		&.is-step-1{
			&:before{width:25%}
		}
		&.is-step-2{
			&:before{width:50%}
		}
		&.is-step-3{
			&:before{width:75%}
		}
		&.is-step-4{
			&:before{width:100%}
		}
		&.is-done{
			&:before{width:0;transition:none;}
		}
	}
}
[class^=context-step]{display:flex;flex-direction:column;align-items:stretch;min-height:100%;
	div:first-child{flex-grow:1;}
	.bottom{flex-shrink:0}
	.img-success{display:block;max-width:250px;@include margin(null auto)}
	.img-welcome-oa{display:block;max-width:240px;@include margin(($gutter) auto)}
	.info-oa-group{align-items:center;
		.desc{flex-grow:1;min-width:0;
			h4{color:$text;font-size:$size-medium;font-weight:$weight-normal}
			p{color:$grey;font-size:$size-small}
		}
		.ico-edit{@include position(absolute, 50% null null 50%);z-index:2;display:flex;justify-content:center;align-items:center;@include size(48px);margin-top:-24px;margin-left:-24px;@extend %is-radius-rounded;
			[class^=icz]{color:$white!important;font-size:1rem!important}
		}
		.avatar-oa{position:relative;background-color:$grey-lightest;@include size(72px);margin-left:auto;border:1px dashed $border;@extend %is-radius-rounded;
			.src{@extend %is-radius-rounded;
				&:before{@extend %is-radius-rounded;}
			}
		}
		.cover-oa{position:relative;display:flex;justify-content:center;align-items:center;background-color:$grey-lighter;border:1px dashed $border;
			&:before{@extend %ratio;}
			.src{@extend %is-radius-small;
				&:before{@extend %is-radius-small;}
			}
		}
		.avatar-oa, .cover-oa{
			&:after{@include position(absolute, 50% null null 50%);content:"\ea12";display:flex;justify-content:center;align-items:center;@include size(32px);margin-top:-16px;margin-left:-16px;color:$grey;font-size:1.5rem;font-family:$font-icon;}
			.src{@include position(absolute, -1px);z-index:1;@extend %backgroundCover--center;
				&:before{@include position(absolute, 0);content:"";background-color:rgba($text, 0.5);}
			}
		}
		.avatar-oa{
			&:after{font-size:1rem}
		}
	}
}
.context-step-2{
	&.has-bottom{
		.bottom{@include position(fixed, null $gutter $gutter $gutter);z-index:-1;opacity:0;visibility:hidden;@extend %tr-all;}
		&.is-show{padding-bottom:32px;
			.bottom{z-index:10;opacity:1;visibility:visible}
		}
	}
}

/* Setup Audience */
.section-ul{position:relative;background-color:$grey-lighter;min-height:56px;margin-bottom:8px;@include padding(10px $gutter);padding-left:56px;
	img{@include position(absolute, 12px null null $gutter);width:32px;height:auto}
	p{color:$text;font-size:$size-small;line-height:1.4;
		strong{font-size:$size-medium;font-weight:$weight-semibold}
	}
}
.bl-popup-context{
	& > .section-ul{@include margin(-$gutter);margin-bottom:0}
	& > .audience-list{@include margin((-$gutter) (-$gutter) 0);@include padding($gutter);padding-top:$gutter/2;
		& + .buttons{background-color:$white}
	}
}

/* Setup Budget */ 
.input-budget{display:block;width:100%;@include padding($gutter*2);color:$text;font-size:$size-xdisplay;text-align:center;outline:0;box-shadow:none;border:0}

/* Ad Document */
.info-ad-list{background-color:$grey-lightest;@include padding($gutter);
	h2{display:block;margin-bottom:2px;color:$text;font-size:$size-medium;font-weight:$weight-normal}
	ul{
		li{position:relative;padding-left:12px;color:$grey;font-size:$size-small;
			&:before{@include position(absolute, 6px null null 0);content:"";background-color:$grey;@include size(4px);@extend %is-radius-rounded;}
		}
	}
}
.img-welcome-library{display:block;max-width:256px;@include margin($gutter auto)}