@charset "utf-8";

/* Prevent Tap */
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);/* Stops flash on tap iOS */}

/* Typography */
.h1, .h2, .h3, .h4, .h5, .h6{font-family:$family-sans-serif;font-weight:$weight-bold}
h1{@extend .h1;}
h2{@extend .h2;}
h3{@extend .h3;}
h4{@extend .h4;}
h5{@extend .h5;}
h6{@extend .h6;}

/* Color */
.color-base{color:$text!important}
.color-main{color:$primary!important}
.color-dark{color:$dark!important}
.color-grey{color:$grey!important}
.color-light{color:$light!important}
.color-error{color:$danger!important}
.color-success{color:$success!important}
.color-warning{color:$warning!important}

/* Box Shadow */
%is-shadow-small, .is-shadow-small{box-shadow:0 2px 8px rgba(0,0,66,0.25)!important}
%is-shadow, .is-shadow{box-shadow:0 10px 20px rgba(0,0,0,0.05)!important}
%is-shadow-large, .is-shadow-large{box-shadow:0 2px 8px rgba(0,0,66,0.25)!important}

/* Radius */
%is-radius-small, .is-radius-small{border-radius:$radius-small!important}
%is-radius, .is-radius{border-radius:$radius!important}
%is-radius-large, .is-radius-large{border-radius:$radius-large!important}
%is-radius-rounded, .is-radius-rounded{border-radius:$radius-rounded!important}

%backgroundCover--center{background-repeat:no-repeat;background-size:cover;background-position:center center}
%tr-all{transition:all .4s ease}
%userSelect-none{user-select:none}

/* Wow */
.wow{visibility:hidden}

/* BS */
.tab-content>.tab-pane{display:none}
.tab-content>.active{display:block}
.fade:not(.show){opacity:0}
.fade{transition:opacity .15s linear}
.collapse:not(.show){display:none}
.collapsing{position:relative;height:0;overflow:hidden;transition:height .35s ease}
