block header

.container
	.logo
		a(href="#!") Zalo AI 2020
	.menu-wrap#menu-wrap
		ul
			li: a.active(href="index.html#intro") Introduction
			li: a(href="index.html#speakers") Speakers
			li: a(href="index.html#agenda") Agenda