block Modal

.modal.fade(id="modal-speaker-duynguyen" tabindex="-1" role="dialog")
	.modal-dialog.is-large(role="document")
		.modal-content
			.modal-body.text-center
				.context-speaker
					.profile
						span.avatar(style="background-image:url(images/speaker_duynguyen.JPG)")
						.info
							h4.name Duy Nguyen
							p.company Zalo AI
					.desc-more
						p Duy is currently Software Engineer Lead of Kiki Project. He is the person to write the very first lines of code for this project. 
						p Graduated from the Honor Program at Ho Chi Minh city University of Science, Duy has started learning programming very early and has achieved multiple prizes since high school, including 2 Third Prizes and 1 Second Prize at the National Olympiad in Informatics.
						p With the ambition to build the best virtual assistant for Vietnamese people, Duy and his team still continue to create more useful features for Kiki that are going to make your life easier.
					
			a.func-close-modal.is-normal(type="button" data-dismiss="modal" aria-label="Close")
				i.icn.icn-small-remove
