block Modal

.modal.fade(id="modal-speaker-mynguyen" tabindex="-1" role="dialog")
	.modal-dialog.is-large(role="document")
		.modal-content
			.modal-body.text-center
				.context-speaker
					.profile
						span.avatar(style="background-image:url(images/speaker_mynguyen.jpeg)")
						.info
							h4.name My Nguyen 
							p.company Amazon Web Services
					.desc-more
						p My Nguyen is Solutions Architect working at Amazon Web Services ASEAN, focusing on supporting customers in Startup segment.
						p Her team helps customers in different industries scale, innovate and optimize their systems.
						p Specialized in Machine Learning, My had been helping a lot of customers make the best of their data and kick starting their AI/ML journey.
					
			a.func-close-modal.is-normal(type="button" data-dismiss="modal" aria-label="Close")
				i.icn.icn-small-remove
