block Modal

.modal.fade(id="modal-speaker-chuongnguyen" tabindex="-1" role="dialog")
	.modal-dialog.is-large(role="document")
		.modal-content
			.modal-body.text-center
				.context-speaker
					.profile
						span.avatar(style="background-image:url(images/speaker_chuongnguyen.jpg)")
						.info
							h4.name Chuong Nguyen
							p.company Zalo
					.desc-more
						p Chuong Nguyen received the Ph.D. degree in Electrical and Computer Engineering from the University of Oklahoma in 2012.
						p Joined Zalo in Sept 2017, Chuong is founder of ZA AI Lab. His research interest is developing machine learning techniques to solve computer vision and speech problems.
						p Many of the AI Lab's works have been deployed in the Zalo eco system including Baomoi TTS, KiKi TTS, FaceID, and Image Content Filters.
			a.func-close-modal.is-normal(type="button" data-dismiss="modal" aria-label="Close")
				i.icn.icn-small-remove
