block Modal

.modal.fade(id="modal-speaker-minhnguyen" tabindex="-1" role="dialog")
	.modal-dialog.is-large(role="document")
		.modal-content
			.modal-body.text-center
				.context-speaker
					.profile
						span.avatar(style="background-image:url(images/speaker_minhnguyen.jpg)")
						.info
							h4.name Minh Nguyen
							p.company JAIST
					.desc-more
						p Le-Minh Nguyen is currently Professor of School of Information Science and Director of the Interpretable AI Center at JAIST.
						p He leads the Machine Learning and Natural language Understanding Laboratory at JAIST. 
						p His research interests include machine learning & deep learning, natural language processing, and legal text processing. 
			a.func-close-modal.is-normal(type="button" data-dismiss="modal" aria-label="Close")
				i.icn.icn-small-remove
