block Modal

.modal.fade(id="modal-speaker-vqk" tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		.modal-content
			.modal-body.text-center
				.context-speaker
					.profile
						span.avatar(style="background-image:url(images/speaker_vqk.jpg)")
						.info
							h4.name Vuong Quang Khai
							p.company Zalo
					.desc-more
						p More than 20 years of experience in the online industry. Has been known as the father of Zalo, Zing – The best Internet brand in Vietnam.
						p MSc of Computer Science from Columbia University in New York, by a fellowship of Vietnam Education Foundation (VEF).
						p The author of the popular intranet Tri Tue Viet Nam, and the search engine Hoatieu.com.
			a.func-close-modal.is-normal(type="button" data-dismiss="modal" aria-label="Close")
				i.icn.icn-small-remove
