block Modal

.modal.fade(id="modal-speaker-sonnguyen" tabindex="-1" role="dialog")
	.modal-dialog.is-large(role="document")
		.modal-content
			.modal-body.text-center
				.context-speaker
					.profile
						span.avatar(style="background-image:url(images/speaker_sonnguyen.JPG)")
						.info
							h4.name Son Nguyen
							p.company Zalo AI
					.desc-more
						p Son Nguyen received a Ph.D. degree in Computer Science at Japan Advanced Institute of Science and Technology in 2018. He is now a lecturer at the University of Science, VNU-HCMC. 
						p Joined Zalo in October 2018, Son and his team aimed to build Kiki - the first virtual assistant for Vietnamese people.
						p His research interest is solving problems in the Natural Language Processing Field. He published several papers in international journals, conferences, and workshops such as AI and Law, PACLING, ACL. 
					
			a.func-close-modal.is-normal(type="button" data-dismiss="modal" aria-label="Close")
				i.icn.icn-small-remove
