block Modal

.modal.fade(id="modal-speaker-baonguyen" tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		.modal-content
			.modal-body.text-center
				.context-speaker
					span.avatar(style="background-image:url(images/speaker_baonguyen.jpg)")
					h4.name Bao Nguyen
					p.company Lead Scientist, Zalo AI Lab
					.desc-more
						p Zalo AI Lab is a research and development center of Zalo to build AI-first products that serve the daily needs of Vietnamese.
						
			a.func-close-modal.is-normal(type="button" data-dismiss="modal" aria-label="Close")
				i.icn.icn-small-remove
