.module-first
	.container-bg
		.content
			img.logo-big(src="images/logo_big.png")
			h1.title Radio Star
			p Đồng hành cùng XONE,<br>
				|trở thành ngôi sao mới ngành Radio<br>
				|và truyền thông đa phương tiện
			button.button Ứng tuyển ngay
.module-content#intro
	.intro-desc
		h2.title Xone Radio Star
		p.desc <strong>XONE RADIO STAR</strong> là chương trình tìm kiếm ngôi sao mới ngành Radio và truyền thông đa phương tiện. Thực tập và trải nghiệm 3 đến 6 tháng tại Xone Radio, ứng viên xuất sắc có cơ hội được đào tạo bài bản từ nhân sự đầu ngành, đưa ra đề xuất và sáng kiến, trực tiếp tham gia vào sản xuất và lên sóng. <strong>XONE RADIO STAR</strong> là cơ hội để bạn bắt đầu sự nghiệp ngay từ bây giờ.
	ul.list-elements
		li.item
			img.icon(src='images/xone_lp_icon_icon_02.png')
			.content
				h3.title Sáng tạo nội dung
				p Thực tập 6 tháng, luân chuyển bộ phận  đa dạng, phát triển kỹ năng biên tập –  phỏng vấn để lên 1 show hoàn hảo
		li.item
			img.icon(src='images/xone_lp_icon_icon_03.png')
			.content
				h3.title Nghệ thuật kể chuyện
				p Học cách kể câu chuyện hấp dẫn với sự đào tạo và làm việc trực tiếp cùng nhân sự đầu ngành Radio
		li.item
			img.icon(src='images/xone_lp_icon_icon_04.png')
			.content
				h3.title Voice Talent
				p Cơ hội tiếp cận hàng triệu thính giả cho Voice Talent xuất sắc khi xuất hiện trên sóng Xone FM, các kênh kỹ thuật số của XONE và nền tảng ZingMP3
		li.item
			img.icon(src='images/xone_lp_icon_icon_01.png')
			.content
				h3.title Truyền thông đa phương tiện
				p Làm việc đa nhiệm trong môi trường đa phương tiện với tư duy hiện đại, vận hành tổ chức rõ ràng
.module-swiper
	.content-module
		h1.title Nếu bạn là
		ul
			li Sinh viên Đại học từ năm 3 trở lên
			li Có background Kinh tế - Xã hội
			li Máu lửa - Sáng tạo
		p Tham gia ngay quy trình ứng tuyển
		button.button.desktop-only Ứng tuyển ngay
	.swiper-container.swiper-apply.desktop-only
		.swiper-wrapper
			.swiper-slide
				img(src='images/xone_lp_icon_step_01.png')
				.content
					h4.title Vòng ứng tuyển
					p Thể hiện mình qua CVs và bản thu âm.
			.swiper-slide
				img(src='images/xone_lp_icon_step_02.png')
				.content
					h4.title Vòng đánh giá chuyên môn – Phỏng vấn
					p Chứng tỏ năng lực tỏa sáng với ban lãnh đạo XONE.
			.swiper-slide
				img(src='images/xone_lp_icon_step_03.png')
				.content
					h4.title Thông báo kết quả
					p XONE gửi thư mời nhận việc đến những ứng viên xuất sắc.
			.swiper-slide
				img(src='images/xone_lp_icon_step_03.png')
				.content
					h4.title Nhận việc
					p Hòa nhập và bắt nhịp môi trường làm việc tại XONE.
		.swiper-pagination
	.swiper-container.swiper-apply.mobile-only
		.swiper-wrapper
			.swiper-slide
				img(src='images/xone_lp_icon_step_01_mobile.png')
				.content
					h4.title Vòng ứng tuyển
					p Thể hiện mình qua CVs và bản thu âm.
			.swiper-slide
				img(src='images/xone_lp_icon_step_02_mobile.png')
				.content
					h4.title Vòng đánh giá chuyên môn – Phỏng vấn
					p Chứng tỏ năng lực tỏa sáng với ban lãnh đạo XONE.
			.swiper-slide
				img(src='images/xone_lp_icon_step_03_mobile.png')
				.content
					h4.title Thông báo kết quả
					p XONE gửi thư mời nhận việc đến những ứng viên xuất sắc.
			.swiper-slide
				img(src='images/xone_lp_icon_step_03_mobile.png')
				.content
					h4.title Nhận việc
					p Hòa nhập và bắt nhịp môi trường làm việc tại XONE.
		.swiper-pagination
	button.button.mobile-only Ứng tuyển ngay
.module-content#why
	.bg-yellow-radio
	.intro-desc
		h2.title Tại sao là XONE?
		p.desc XONE là kênh âm nhạc, giải trí hàng đầu dành cho giới trẻ thành thị. Định hình phong cách Tây – Trẻ - Chất, Xone dẫn đầu trong nắm bắt xu hướng và thổi làn gió mới vào các chương trình mỗi ngày trên kênh radio FM 89 MHz và các nền tảng kỹ thuật số.
.module-contact#contact
	.first-content.desktop-only
		img.logo-big(src="images/logo_big.png")
		.yellow-line
		h3.title Kết nối
	.intro-desc.mobile-only
		h2.title Kết nối
	ul.second-content
		li
			img(src="images/xone_lp_icon_icon_05.png")
			.content
				.label Email
				p radiostar@xone.fm
		li
			img(src="images/xone_lp_icon_icon_06.png")
			.content
				.label Liên hệ
				p +84 2222 2222
		li
			img(src="images/xone_lp_icon_icon_07.png")
			.content
				.label Địa chỉ
				p 100 Nguyễn Lương Bằng, Q.7, TP.hcm
	.third-content
