.module-first
	.container
		img(src='images/bg_intro.jpg')
		.right-content
			.logo-container
				img(src='images/logo_bg_black.jpg')
				h1 Radio<br>Star
			p Cơ hội trở thành “Radio Host” cùng Xone - kênh âm nhạc, giải trí hàng đầu Việt Nam
			a.button(href="register.html") Ứng tuyển ngay

.module-content#intro
	.intro-desc
		h2.title Xone Radio Star
		p.desc <strong>XONE RADIO STAR</strong> là chương trình tìm kiếm <strong>“Radio Host”</strong> cho ngành Radio và <span>truyền thông đa phương tiện.</span>
			|<br> Ứng viên được đào tạo bài bản và trải nghiệm 3 tháng làm việc tại
			|<br>Xone - kênh âm nhạc, giải trí hàng đầu Việt Nam.
		p.desc.bigger <br><strong>XONE RADIO STAR</strong> là cơ hội để bạn chinh phục giấc mơ ngay từ bây giờ!
	ul.list-elements
		li.item
			img.icon(src='images/xone_lp_icon_icon_02.png')
			.content
				h3.title Sáng tạo nội dung
				h4.title (Content Creation)
				p Phát triển kĩ năng Biên tập - Phỏng vấn - Sản xuất chương trình
		li.item
			img.icon(src='images/xone_lp_icon_icon_03.png')
			.content
				h3.title Nghệ thuật kể chuyện
				h4.title (Story Telling)
				p Học cách kể câu chuyện hấp dẫn 
		li.item
			img.icon(src='images/xone_lp_icon_icon_04.png')
			.content
				h3.title Tài năng giọng nói
				h4.title (Voice Talent)
				p Cơ hội tiếp cận hàng triệu thính giả qua sóng FM, các kênh kỹ thuật số của XONE và Zing MP3
		li.item
			img.icon(src='images/xone_lp_icon_icon_01.png')
			.content
				h3.title Truyền thông đa phương tiện
				h4.title (MultiMedia)
				p Làm việc đa nhiệm trong môi trường đa phương tiện với tư duy hiện đại

.module-introduce
	img(src='images/bg_2.png')
	.content-text
		h1.title Nếu bạn đang tìm kiếm cơ hội...
		ul
			li Trải nghiệm thực tế 3 tháng tại nhiều vị trí
			li Phát triển các kĩ năng đa dạng
			li Được đào tạo từ nhân sự đầu ngành
			li Đề xuất ý tưởng &amp; tham gia sản xuất chương trình
			li Làm việc trong môi trường trẻ trung, năng động
			li Tiếp cận nhiều thương hiệu lớn
			li Chế độ lương thưởng cạnh tranh
		p.block-yellow trở thành XONE RADIO STAR

.module-content#joining
	.intro-desc
		h2.title Đối tượng tham gia
	ul
		li
			img(src='images/icon_student.png')
			p Sinh viên năm 3 trở lên hoặc <span>mới tốt nghiệp</span> trong vòng 2 năm 
		li
			img(src='images/icon_voice.png')
			p Chất giọng tốt, phát âm rõ ràng, <span>diễn đạt lưu loát</span>, tự nhiên
		li
			img(src='images/icon_grade.png')
			p Điểm trung bình tích lũy từ 7.0/10 hoặc tương đương
		li
			img(src='images/icon_talk.png')
			p Khả năng giao tiếp tốt bằng <span>tiếng Việt</span> và <span>tiếng Anh</span> 
		li
			img(src='images/icon_teamwork.png')
			p Kỹ năng làm việc nhóm &amp; <span>độc lập</span> trong <span>môi trường</span>  sáng tạo

.module-content#career
	.intro-desc
		h2.title Quy trình tuyển dụng
	ul
		li
			img(src='images/apply_0.png')
			.text-container
				.title-text
					h2 Ứng tuyển
					p (Hạn chót: 11.04.2021)
				.normal-text
					p Ứng viên chọn 1 trong 2 đề, biên tập, thu âm và gửi kèm CV 
						|<a href="register.html">tại đây</a>.
						|<br><em><strong>Đề 1:</strong> Điều gì là cần thiết để radio hiện đại có thể cạnh tranh với các hình thức giải trí khác? Vì sao?</em>
						|<br><em><strong>Đề 2:</strong> Ba tố chất quan trọng cần có của 1 Radio Host là gì? Vì sao?</em>
						|<br><em>Lưu ý: Thời lượng không quá 4 phút, dung lượng ≤ 30MB, định đạng: .mp3, .wav, .wma, .m4a.
			.number-letter 1
		li
			img(src="images/apply_1.png")
			.text-container
				.title-text
					h2 Bài kiểm tra và phỏng vấn
					p (dự kiến Tháng 4.2021)
				.normal-text
					p 1. Bài kiểm tra tổng quát về Logic, Kiến thức xã hội và tiếng Anh. 
						|<br>2. Chứng tỏ năng lực tỏa sáng qua phỏng vấn với ban lãnh đạo XONE.
			.number-letter 2
		li
			img(src="images/apply_2.png")
			.text-container
				.title-text
					h2 Trở thành Radio Star
					p (dự kiến Tháng 4.2021)
				.normal-text
					p Các ứng viên xuất sắc vượt qua 2 vòng trên sẽ được nhận lời mời tham gia chương trình Xone Radio Star.
			.number-letter 3
.module-about#about
	.bg-yello-container
		img.bg-this-girl(src="images/thegirl.png")
		.right-container
			img.logo-xone(src='images/title_xone.png')
			.text-contain
				p Xone là kênh âm nhạc, giải trí hàng đầu dành cho giới trẻ thành thị. Xone dẫn đầu trong nắm bắt xu hướng và thổi làn gió mới vào các chương trình mỗi ngày trên kênh radio FM 89 MHz và các nền tảng kỹ thuật số.
				.block-icon
					img(src='images/icon_xone.jpg')
					img(style='width: 55px; height: 50px' src='images/icon_mp3.png')
					img(src='images/icon_fm89.png')

.module-contact#contact
	.intro-desc
		h2.title Kết nối
	ul.second-content
		li
			img(src="images/xone_lp_icon_icon_07.png")
			.content
				p.label Địa chỉ
				p 100 Nguyễn Lương Bằng, Phường Tân Phú, Quận 7, Tp Hồ Chí Minh
		li
			img(src="images/xone_lp_icon_icon_05.png")
			.content
				p.label Email
				a(href="mailto: careers@xone.fm") careers@xone.fm
		li
			img(src="images/xone_lp_icon_icon_06.png")
			.content
				p.label Liên hệ
				a(href="tel:+842839623888") Tel: (028) 3962 3888 - ext: 3012<br>
				a(href="tel:+84772799975 ") Mobile: 077 279 9975 
		
		li.list-icon
			a(href='https://www.facebook.com/xonefm/' target="_blank")
				img(src='images/icon_fb.png')
			a(href='https://www.instagram.com/xoneradio/' target="_blank")
				img(src='images/icon_instagram.png')
			a(href='https://www.youtube.com/c/XONETV' target="_blank")
				img(src='images/icon_youtube.png')
	p.grey Copyright © 2021 XONE FM. All rights reserved.
