.module-first
	.container
		img(src='images/bg_intro.png')
		.right-content
			.logo-container
				img(src='images/logo_bg_yellow.png')
				h1 Radio Star
			p Cơ hội trở thành “Radio Host” cùng Xone - kênh Radio giải trí hàng đầu Việt Nam 
			a.button Ứng tuyển ngay

.module-content#intro
	.intro-desc
		h2.title Xone Radio Star
		p.desc XONE RADIO STAR là chương trình tìm kiếm “Radio host” và “Voice Talent” tiềm năng cho ngành Radio và truyền thông đa phương tiện của Việt Nam. 
			|<br>Ứng viên sẽ được đào tạo bài bản và trải nghiệm 3 tháng làm việc thực tế tại 
			|<br>Xone - kênh thông tin giải trí hàng đầu Việt Nam.
			|<br><br><strong>XONE RADIO STAR</strong> là cơ hội để bạn chinh phục giấc mơ ngay từ bây giờ!
	ul.list-elements
		li.item
			img.icon(src='images/xone_lp_icon_icon_02.png')
			.content
				h3.title Sáng tạo nội dung
				h4.title (Content Creation)
				p Phát triển kĩ năng Biên tập - Phỏng vấn - Sản xuất chương trình
		li.item
			img.icon(src='images/xone_lp_icon_icon_03.png')
			.content
				h3.title Nghệ thuật kể chuyện
				h4.title (Story Telling)
				p Học cách kể câu chuyện hấp dẫn 
		li.item
			img.icon(src='images/xone_lp_icon_icon_04.png')
			.content
				h3.title Voice Talent
				//- h4.title Voice Talent
				p Cơ hội tiếp cận hàng triệu thính giả qua sóng Xone FM, các kênh kỹ thuật số của XONE và nền tảng ZingMP3
		li.item
			img.icon(src='images/xone_lp_icon_icon_01.png')
			.content
				h3.title Truyền thông đa phương tiện
				h4.title (MultiMedia)
				p Làm việc đa nhiệm trong môi trường đa phương tiện với tư duy hiện đại
.module-introduce
	img(src='images/bg_2.png')
	.content-text
		h1.title Nếu bạn đang tìm kiếm cơ hội...
		ul
			li Trải nghiệm thực tế 3 tháng tại nhiều vị trí
			li Phát triển các kĩ năng đa dạng
			li Tiếp nhận đào tạo từ nhân sự đầu ngành
			li Đề xuất ý tưởng và trực tiếp tham gia vào sản xuất chương trình
			li Làm việc trong môi trường hiện đại, tiếp cận với nhiều thương hiệu lớn
			li Chế độ lương thưởng cạnh tranh
		p.block-yellow trở thành XONE RADIO STAR
.module-joining#joining
	.intro-desc
		h2.title Đối tượng tham gia
	ul
		li
			img(src='images/icon_student.png')
			p Sinh viên năm 3 trở lên hoặc mới tốt nghiệp đại học trong vòng 2 năm 
		li
			img(src='images/icon_voice.png')
			p Chất giọng tốt
		li
			img(src='images/icon_grade.png')
			p Điểm trung bình tích lũy từ 7.0/10 hoặc tương đương
		li
			img(src='images/icon_talk.png')
			p Khả năng giao tiếp tốt bằng tiếng Việt và tiếng Anh 
		li
			img(src='images/icon_teamwork.png')
			p Kỹ năng làm việc độc lập và làm việc nhóm trong môi trường áp lực cao
.module-career#career
	.intro-desc
		h2.title Quy trình tuyển dụng
	ul
		li
			img(src='images/apply_0.png')
			.text-container
				.title
					h2 Ứng tuyển
					p (Hạn chót: 31.03.2021)
				.normal-text
					
.module-contact#contact
	.first-content.desktop-only
		img.logo-big(src="images/logo_big.png")
		.yellow-line
		h3.title Kết nối
	.intro-desc.mobile-only
		h2.title Kết nối
	ul.second-content
		li
			img(src="images/xone_lp_icon_icon_05.png")
			.content
				p.label Email
				a(href="mailto: radiostar@xone.fm") radiostar@xone.fm
		li
			img(src="images/xone_lp_icon_icon_06.png")
			.content
				p.label Liên hệ
				a(href="tel:+8422222222") +84 2222 2222
		li
			img(src="images/xone_lp_icon_icon_07.png")
			.content
				p.label Địa chỉ
				p 100 Nguyễn Lương Bằng, Q.7, TP.HCM
	.third-content
		.desktop-container
			p.desktop-only Theo dõi chúng tôi
			.list-icon
				a(href='#')
					img(src='images/icon_fb.png')
				a(href='#')
					img(src='images/icon_instagram.png')
				a(href='#')
					img(src='images/icon_mail.png')
				a(href='#')
					img(src='images/icon_youtube.png')
		p.grey Copyright © 2021 XONE FM. All rights reserved.
