block home
#register
	.modal-body.custom-form
		.header-form
			h2.title Thông Tin Ứng Tuyển
			//- .yellow-line
		.input-has-label.is-error
			input(type='text' placeholder=" ")
			label Họ và tên
		p.error Vui lòng nhập thông tin
		.input-group
			.group-dropdown.is-error
				label Ngày sinh
				.dropdown-group
					.dropdown
						.dropdown-toggle.is-no-select#dropdownDay(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
							span.value Ngày
						.dropdown-menu(aria-labelledby="dropdownDay")
							a.dropdown-item 1
							a.dropdown-item 2
					.dropdown
						.dropdown-toggle#dropdownMonth(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
							span.value Tháng
						.dropdown-menu(aria-labelledby="dropdownMonth")
							a.dropdown-item Tháng 1
							a.dropdown-item Tháng 2
					.dropdown
						.dropdown-toggle#dropdownDay(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
							span.value Năm
						.dropdown-menu(aria-labelledby="dropdownDay")
							a.dropdown-item 2020
							a.dropdown-item 2021
				p.error Vui lòng chọn
			.group-dropdown.one-line
				label Giới tính
				.dropdown
					.dropdown-toggle#dropdownSex(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
						span.value Chọn
					.dropdown-menu(aria-labelledby="dropdownSex")
						a.dropdown-item Nam
						a.dropdown-item Nữ
		.input-group
			.input-has-label
				input(type='email' placeholder=' ')
				label Email
			.mobile-number-label
				input(type='text' placeholder=' ')
				.placeholde-block
					label Số điện thoại
					.dropdown
						.dropdown-toggle.is-no-select#dropdownMobileCountry(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
							span.value VN +84
						.dropdown-menu(aria-labelledby="dropdownMobileCountry")
							a.dropdown-item American Samoa
							a.dropdown-item United State
		.input-has-label
			input(type='text' placeholder=' ')
			label Link Facebook
		.group-dropdown.dropdown-full
			label Trường Cao đẳng / Đại học
			.dropdown.full-width.no-full-desktop
				.dropdown-toggle#university(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
					span.value Chọn Trường
				.dropdown-menu#university-menu(aria-labelledby="university")
					<input type="text" placeholder="Tìm kiếm.." id="uniSearch" onkeyup="filterFunction()">
					a.dropdown-item Trường abc Trường abc Trường abc
					a.dropdown-item Trường cde Trường abc Trường abc
		
		.input-group
			.input-has-label( style="max-width: 60%; width: 100%;")
				input(type='text' placeholder=' ' style="width: 100%;")
				label Trường Cao đẳng / Đại học
			//- .group-radio.one-line
			//- 	label Du học
			//- 	.form-check
			//- 		input.form-check-input#yes0(type='radio' name='du-hoc')
			//- 		label.form-check-label(for='yes0') Có
			//- 	.form-check
			//- 		input.form-check-input#no0(type='radio' name='du-hoc')
			//- 		label.form-check-label(for='no0') Không
			.group-dropdown.one-line
				label Quốc gia
				.dropdown.full-width
					.dropdown-toggle#studyFrom(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
						span.value Việt Nam
					.dropdown-menu(aria-labelledby="studyFrom")
						a.dropdown-item Lào
						a.dropdown-item Campuchia
		.input-has-label
			input(type='text' placeholder=' ')
			label Chuyên ngành
		.group-dropdown
			label Thời gian tốt nghiệp <em>(Dự kiến)</em>
			.dropdown-group
				.dropdown.full-width
					.dropdown-toggle#dropdownMonth_0(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
						span.value Tháng
					.dropdown-menu(aria-labelledby="dropdownMonth_0")
						a.dropdown-item Tháng 1
						a.dropdown-item Tháng 2
				.dropdown.full-width
					.dropdown-toggle#dropdownDay_0(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
						span.value Năm
					.dropdown-menu(aria-labelledby="dropdownDay_0")
						a.dropdown-item 2020
						a.dropdown-item 2021
		.group-radio
			label Bạn có thể làm việc toàn thời gian được không?
			.group-radio-form
				.form-check
					input.form-check-input#yes1(type='radio' name='fill-time')
					label.form-check-label(for='yes1') Có
				.form-check
					input.form-check-input#no1(type='radio' name='fill-time')
					label.form-check-label(for='no1') Không
		//- .textarea-form.is-error
		//- 	label Lịch học trong 6 tháng tới
		//- 	textarea
		//- p.error Vui lòng nhập thông tin
		.group-dropdown.dropdown-full
			label Bạn biết đến chương trình tuyển dụng từ nguồn nào?
			.dropdown.full-width.no-full-desktop
				.dropdown-toggle#sourceYouKnow(type='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
					span.value Mạng xã hội (Facebook, Instagram,...)
				.dropdown-menu(aria-labelledby="sourceYouKnow")
					a.dropdown-item Mạng xã hội (Facebook, Instagram,...)
					a.dropdown-item Tìm kiếm trang mạng
		
		.upload-form
			label CV 
				p.sub Định dạng .PDF, .PPT, .PPTX, .DOC, .DOCX, .JPG, .PNG - Dung lượng ≤ 4MB
			input#uploadCV(type="file" name="uploadCV" accept=".PDF, .PPT, .PPTX, .DOC, .DOCX, .JPG, .PNG")
			label(for='uploadCV')
				span Tải lên
		.input-has-label
			input(type='text' placeholder=' ')
			label Online blog và các bài viết tham khảo
		.group-radio.topic-choosing
			label Bạn đã chọn thu âm đề nào?
			.group-radio-form
				.form-check
					input.form-check-input#topic1(type='radio' name='topic-record')
					label.form-check-label(for='topic1') Đề 1: Điều gì là cần thiết để radio hiện đại có thể cạnh tranh với các hình thức giải trí khác? Vì sao?
				.form-check
					input.form-check-input#topic2(type='radio' name='topic-record')
					label.form-check-label(for='topic2') Đề 2: Ba tố chất quan trọng cần có của 1 Radio Host là gì? Vì sao?
		.upload-form.is-error
			label Bản thu âm 
				p.sub Định dạng .mp3, .wav, .wma, .m4a - Dung lượng ≤ 30MB
			input#uploadTestVoice(type="file" name="uploadTestVoice" accept=".mp3, .wav, .wma, .m4a")
			label(for='uploadTestVoice')
				span Tải lên
		p.error Dung lượng file vượt giới hạn
	.button-container
		a.button#submitForm(href="javascript:void(0);" data-toggle="modal" data-target="#modal-thankyou") Nộp đơn
