block header

.container
	.logo
		a(href="#!") Xone
	.yellow-line
	.menu-wrap#menu-wrap
		ul
			li: a.active(href="index.html#intro") Xone Radio Star
			li: a(href="index.html#why") Tại sao là Xone?
			li: a(href="index.html#contact") Kết nối