block header

.container
	.logo
		a(href='#') Xone
	.menu-wrap#menu-wrap
		ul
			li: a#intro Xone Radio Star
			li: a#joining Đối tượng tham gia
			li: a#career Quy trình tuyển dụng
			li: a#about Nói về Xone
			li: a#contact Kết nối
			li: a.button Ứng tuyển ngay