block header

.container
	.logo
		a(href='index.html') Xone
	.menu-wrap#menu-wrap
		ul
			li: a#introlink(href="index.html#intro") Xone Radio Star
			li: a#joininglink(href="index.html#joining")  Đối tượng tham gia
			li: a#careerlink(href="index.html#career")  Quy trình tuyển dụng
			li: a#aboutlink(href="index.html#about")  Nói về Xone
			li: a#contactlink(href="index.html#contact")  Kết nối
			li: a.button(href="register.html" style="display:none") Ứng tuyển ngay