block header

.container
	.logo
		a(href='#') Xone
	.menu-wrap#menu-wrap
		ul
			li: a#introlink Xone Radio Star
			li: a#joininglink Đối tượng tham gia
			li: a#careerlink Quy trình tuyển dụng
			li: a#aboutlink Nói về Xone
			li: a#contactlink Kết nối
			li: a.button(href="register.html" style="display:none") Ứng tuyển ngay