block header

.container
	.logo
		a(href="#!") Xone
	.yellow-line
	.menu-wrap#menu-wrap
		ul
			li: a#introlink Xone Radio Star
			li: a#whylink Tại sao là Xone?
			li: a#contactlink Kết nối