block Modal

.modal.fade(id="modal-thankyou" tabindex="-1" role="dialog")
	.modal-dialog.is-large(role="document")
		.modal-content#thankyou
			.modal-header
				img(src="images/logo_big.png")
				a.func-close-modal(type="button" data-dismiss="modal" aria-label="Close")
					i.icn.icn-small-remove
			.modal-body.modal-thankyou
				h1 Cảm ơn bạn đã quan tâm về<br><span>chương trình Xone Radio Star 2021</span>
				h1.title-mb Cảm ơn bạn đã<br>quan tâm về chương trình<br><span>Xone Radio Star 2021</span>
				p Đơn ứng tuyển của bạn đã ghi nhận thành công. Chúng tôi sẽ liên hệ với bạn nếu hồ sơ ứng tuyển của bạn phù hợp với tiêu chí của chương trình.

