block Modal

.modal.fade(id="modal-register" tabindex="-1" role="dialog")
	.modal-dialog.is-medium(role="document")
		.modal-content
			.modal-header
				h5.modal-title Modal title
				a.func-close-modal(type="button" data-dismiss="modal" aria-label="Close")
					i.icn.icn-small-remove
			.modal-body.text-center
				.context-alert
					h2 Thank you for your interest in Zalo AI Summit 2019
					p As we have limited pass, we will process the information and summarize a shortlist of audiences. According to the list, an official invitation will be sent to you by email on December 11, 2019. Please follow this Official Account for more information.
					p.tips (*): Please be noted that this submission does not guarantee your participation in Zalo AI summit 2019.


			//.modal-footer
				button.btn.btn-primary(type="button") Save changes
				button.btn.btn-secondary(type="button" data-dismiss="modal") Close
			//a.func-close-modal(type="button" data-dismiss="modal" aria-label="Close")
				i.icn.icn-small-remove
