block header

- var noti = []
- noti.push({"class":"","name":"Bạn đã nạp 100.000đ"})
- noti.push({"class":"","name":"Lorem Ipsum is simply dummy text"})
- noti.push({"class":"","name":"Lorem Ipsum is simply dummy text"})
- noti.push({"class":"","name":"Lorem Ipsum is simply dummy text"})
- noti.push({"class":"","name":"Lorem Ipsum is simply dummy text"})
- noti.push({"class":"","name":"Lorem Ipsum is simply dummy text"})
- noti.push({"class":"","name":"Lorem Ipsum is simply dummy text"})
- noti.push({"class":"","name":"Lorem Ipsum is simply dummy text"})
- noti.push({"class":"","name":"Lorem Ipsum is simply dummy text end"})

a.logo(href="#!")
	i.ico-logo
.navbar-main
	ul
		li
			a.navbar-item(href="javascript:void(0);") Trang chủ
		li


