block Modal

.modal-container#modal-delete-form
	.bl-modal-heading
		span Xóa form
		a.func-close-modal(href="javascript:void(0)")
			i.icz.icz-close
	.bl-modal-context
		p Bạn có chắc chắn muốn xóa Form này không?
		p
			strong.is-size-5.has-text-primary Form cho pepsi
	.bl-modal-footer
		.buttons.is-left
			button.button.is-primary.is-large(href="javascript:void(0)") Xóa form
			button.button.is-outlined.is-large(href="javascript:void(0)") Hủy bỏ

.modal-container#modal-alert
	.bl-modal-heading
		span Thông báo
		a.func-close-modal(href="javascript:void(0)")
			i.icz.icz-close
	.bl-modal-context
		p Nội dung thông báo
	.bl-modal-footer
		.buttons.is-left
			button.button.is-primary.is-large(href="javascript:void(0)") [Main Action]
			button.button.is-outlined.is-large(href="javascript:void(0)") Hủy thao tác

