block sidebarForm

.bl-preview-form-container
	.bl-cover.is-null
	.bl-cover
		span.img-cover-blur(style="background-image:url(images/upload/cover_default_otr_v2.png)")
		img(src="images/upload/cover_default_otr_v2.png" alt=page)
	.body-form
		.bl-info-oa
			.avatar.avatar--l
				.avatar-img(style="background-image:url(https://via.placeholder.com/72)")
			h1 Brand Official Account
		.bl-form
			h2 Đăng ký thông tin để nhận báo giá sản phẩm từ Brand
			h4 Sữa phân cắt protein sẽ trở thành phô mai, còn sử dụng phương pháp pac-man sẽ tạo ra sữa chua là một trong những điều ít người biết về thực phẩm
			.field
				label.label Họ và tên
				.control
					input.input.is-line(type="text" placeholder="Nhập họ và tên")
			.field
				label.label Địa chỉ email
				.control
					input.input.is-line(type="text" placeholder="Nhập email của bạn" value="john_doe_20@yahoo.com" disabled)
			.field
				label.label Ngày sinh
				.control
					input.input.is-line(type="text" placeholder="Nhập ngày sinh" value="12/12/1990" disabled)
			.field
				label.label Giới tính
				.control
					span.select.is-line.is-fullwidth
						select(required)
							option(selected disabled value="") Chọn giới tính
							option(value="1") Nam
							option(value="2") Nữ
			.field
				label.label Địa chỉ liên hệ
				.control
					textarea.textarea.is-line(type="textarea" placeholder="Nhập địa chỉ" disabled) 182 Lê Đại Hành
			.field
				label.label Độ tuổi
				.controls
					.control
						input(id="t1" type="checkbox" name="" checked)
						label(for="t1") Dưới 18 trăng tròn
					.control
						input(id="t2" type="checkbox" name="")
						label(for="t2") 18 - 24
					.control
						input(id="t3" type="checkbox" name="")
						label(for="t3") 25 - 34
					.control
						input(id="t4" type="checkbox" name="")
						label(for="t4") 35 - 44
			.field
				label.label Độ tuổi
				.controls.is-rows
					.control
						input(id="t7" type="checkbox" name="" checked)
						label(for="t7") Dưới 18
					.control
						input(id="t8" type="checkbox" name="")
						label(for="t8") 18 - 24
					.control
						input(id="t9" type="checkbox" name="")
						label(for="t9") 25 - 34
			.field
				label.label Hệ điều hành
				.controls
					.control
						input(id="f1" type="radio" name="hdh" checked)
						label(for="f1") Android
					.control
						input(id="f2" type="radio" name="hdh")
						label(for="f2") iOS
					.control
						input(id="f3" type="radio" name="hdh")
						label(for="f3") PC
			.field
				label.label Hệ điều hành
				.controls.is-rows
					.control
						input(id="f4" type="radio" name="hdh1")
						label(for="f4") Android
					.control
						input(id="f5" type="radio" name="hdh1")
						label(for="f5") iOS
					.control
						input(id="f6" type="radio" name="hdh1")
						label(for="f6") PC
					.control
						input(id="f7" type="radio" name="hdh1" checked)
						label(for="f7") Khác
					.control
						input.input.is-line(type="text" placeholder="Hệ điều hành khác")
			p.is-policy Bằng việc bấm nút <strong>Gửi thông tin</strong>, bạn đồng ý gửi các thông tin này tới Brand Official Account. Việc sử dụng các thông tin này của Brand Official Account tuân thủ theo các <a href="#!" target="_blank">quy định chung</a> của Zalo Ads
			.button.is-black.is-large.is-fullwidth Gửi thông tin