block Tooltip

.tooltip-container#tooltip-web
	.bl-tooltip-heading
		span Quảng cáo website
		a.func-close-tooltip(href="javascript:void(0)")
			i.icz.icz-close
	.bl-tooltip-context
		p Quảng cáo website là hình thức quảng cáo tăng lượng truy cập về website của doanh nghiệp, cửa hàng.
		p Với hình thức quảng cáo Website, bạn có thể:
		ul
			li 
				i.icz.icz-fill-check
				| Chuyển mọi người đến đích như trang web, ứng dụng hoặc cửa hàng (Lượt click đến trang web)
			li
				i.icz.icz-fill-check
				| Tăng số người đi tới ứng dụng trên thiết bị di động hoặc máy tính của mình (Tương tác với ứng dụng)
.tooltip-container#tooltip-oa
	.bl-tooltip-heading
		span Quảng cáo Zalo OA
		a.func-close-tooltip(href="javascript:void(0)")
			i.icz.icz-close
	.bl-tooltip-context
		p Đang cập nhật...

.tooltip-container#tooltip-newWeb-1
	.bl-tooltip-heading
		span Tooltip newWeb-1
		a.func-close-tooltip(href="javascript:void(0)")
			i.icz.icz-close
	.bl-tooltip-context
		p Đang cập nhật...
.tooltip-container#tooltip-newOa-1
	.bl-tooltip-heading
		span Tooltip newOa-1
		a.func-close-tooltip(href="javascript:void(0)")
			i.icz.icz-close
	.bl-tooltip-context
		p Đang cập nhật...

.tooltip-container#tooltip-budget-1
	.bl-tooltip-heading
		span Tooltip budget-1
		a.func-close-tooltip(href="javascript:void(0)")
			i.icz.icz-close
	.bl-tooltip-context
		p Đang cập nhật...

.tooltip-container#tooltip-newArticle-1
	.bl-tooltip-heading
		span Tooltip newArticle-1
		a.func-close-tooltip(href="javascript:void(0)")
			i.icz.icz-close
	.bl-tooltip-context
		p Đang cập nhật...

.tooltip-container#tooltip-newArticle-2
	.bl-tooltip-heading
		span Tooltip newArticle-2
		a.func-close-tooltip(href="javascript:void(0)")
			i.icz.icz-close
	.bl-tooltip-context
		p Đang cập nhật...

.tooltip-container#tooltip-audience-1
	.bl-tooltip-heading
		span Tooltip audience-1
		a.func-close-tooltip(href="javascript:void(0)")
			i.icz.icz-close
	.bl-tooltip-context
		p Đang cập nhật...

.tooltip-container#tooltip-audience-2
	.bl-tooltip-heading
		span Tooltip audience-2
		a.func-close-tooltip(href="javascript:void(0)")
			i.icz.icz-close
	.bl-tooltip-context
		p Đang cập nhật...

.tooltip-container#tooltip-account-1
	.bl-tooltip-heading
		span Tooltip account-1
		a.func-close-tooltip(href="javascript:void(0)")
			i.icz.icz-close
	.bl-tooltip-context
		p Đang cập nhật...

.tooltip-container#tooltip-account-2
	.bl-tooltip-heading
		span Tooltip account-2
		a.func-close-tooltip(href="javascript:void(0)")
			i.icz.icz-close
	.bl-tooltip-context
		p Đang cập nhật...

