extends layout.pug

//- Setting
block setting
	- var layout = true
	- var loading = false
	- var dockbar = true
	- var tooltip = true
	- var popup = true
	- var modal = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-mobile")
	- bodyClasses.push("page-content")
	- dockbarClasses.push("dockbar")

//- Add Body
block body
	include page/_ad_list.pug

//- Add Dockbar
block dockbar
	include page/dockbar.pug

//- Add Modal
block modal
	include page/modal_alert.pug
	
//- Add Popup
block popup
	include page/popup_filter.pug

block javaScripts extend
	script.
		$(".context-dockbar li:nth-child(1) a").addClass("is-active");

		$(".func-popup-filterAd").click(function(){
			$("html").addClass("overlay-popup");
			$("#popup-filterAd").addClass("is-show");
		});
		$(".func-close-popup").click(function(){
			$("html").removeClass("overlay-popup");
			$(".popup-container").removeClass("is-show");
		});

		$(".switch input").change( function(){
			if($(this).is(':checked')) {
				$("html").addClass("overlay-modal");
				$("#modal-template-1").addClass("is-show");
			}
			else {
				$("html").addClass("overlay-modal");
				$("#modal-template-1").addClass("is-show");
			};
		});
		
		$(".func-modal-template-1").click(function(){
			$("html").addClass("overlay-modal");
			$("#modal-template-1").addClass("is-show");
		});
		
		$(".func-close-modal").click(function(){
			$("html").removeClass("overlay-modal");
			$(".modal-container").removeClass("is-show");
		});