extends layout.pug

//- Setting
block setting
	- var layout = true
	- var loading = false
	- var dockbar = false
	- var tooltip = true
	- var popup = true
	- var modal = false

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-mobile")
	- bodyClasses.push("page-content zalo-ai-auth")
	- dockbarClasses.push("dockbar")

//- Add Body
block body
	include page/_index.pug

//- Add Dockbar
block dockbar
	//- include page/dockbar.pug

//- Add Modal
block modal
	//- include page/modal_alert.pug
	
//- Add Popup
block popup
	include page/popup_avatar.pug

block javaScripts extend
	script.

		const first = document.getElementById('first-screen')
		const second = document.getElementById('second-screen')
		//- const third = document.getElementById('verifyZaloScreen')

		document.getElementById('start').onclick = () => {
			first.classList.add('is-hidden')
			second.classList.remove('is-hidden')
		}

		//- document.getElementById('verifyZalo').onclick = () => {

		//- 	document.getElementById('phoneInput').focus()

		//- 	second.classList.add('is-hidden')
		//- 	third.classList.remove('is-hidden')
			
		//- 	$('#s3').removeClass('active')
		//- }

		$(".func-popup-avatarPhoto").click(function(){
			$("html").addClass("overlay-popup");
			$("#popup-avatar").addClass("is-show");
		});
		$(".func-popup-Id").click(function(){
			$("html").addClass("overlay-popup");
			$("#popup-id").addClass("is-show");

			$('.capture').removeClass('is-hidden')
		});
		$(".func-popup-verifyResult").click(function(){
			$("html").addClass("overlay-popup");
			$("#popup-verifyResult").addClass("is-show");
			$("#popup-verifyResult .bl-popup-context").removeClass('is-hidden')
		});
		$(".func-close-popup").click(function(){
			$("html").removeClass("overlay-popup");
			$(".popup-container").removeClass("is-show");
		
			//case reset page in popups
			let popups = $('.popup-container')
			for(let i = 0;i < popups.length; i++){
				if(popups[i].id == 'popup-avatar-scanning'){
					$('#ava-4').addClass('is-hidden')
					$('#ava-3').addClass('is-hidden')
					$('#ava-2').addClass('is-hidden')
					$('#ava-1').addClass('is-hidden')
					$('#ava-0').removeClass('is-hidden')
					$('.successful').addClass('is-hidden')
					$('.scanning').removeClass('is-hidden')
					//- $('rect').removeClass('success')
					//- $('rect').removeClass('fail')
					$(".scanByImage").addClass("is-hidden");
				} else if(popups[i].id == 'popup-id'){
					$('.capture').addClass('is-hidden')
					$('.capture-behind').addClass('is-hidden')
					$('.check-again').addClass('is-hidden')
					$('.check-again-behind').addClass('is-hidden')
					$('.upload-loading').addClass('is-hidden')
					$('#popup-id .bl-popup-heading').css('opacity',1)
				} else if(popups[i].id == 'popup-avatar'){
					$('.scanByImage').addClass('is-hidden')
					$('.bl-popup-context .fail').addClass('is-hidden')
					$('.bl-popup-context .successful').addClass('is-hidden')
					$('#popup-avatar .fail').addClass('is-hidden')
				}
			}
		});
		$('.go-back-home').click(()=>{
			first.classList.remove('is-hidden')
			second.classList.add('is-hidden')

			$('.first').removeClass('is-hidden')
			$('.third').addClass('is-hidden')

			$('#s3').removeClass('active')
			$('#s1').addClass('active')
		})

		$('.go-back-home-final').click(()=>{

			$(".func-close-popup").click()

			first.classList.remove('is-hidden')
			second.classList.add('is-hidden')

			$('.first').removeClass('is-hidden')
			$('.third').addClass('is-hidden')

			$('#s3').removeClass('active')
			$('#s1').addClass('active')
			$("#popup-verifyResult .bl-popup-context").addClass('is-hidden')
			first.classList.remove('is-hidden')
			third.classList.add('is-hidden')
		})

		$('.go-back').click(()=>{
			if($('#s1').hasClass('active')){
				first.classList.remove('is-hidden')
				second.classList.add('is-hidden')
			} else if($('#s2').hasClass('active')){
				$('.first').removeClass('is-hidden')
				$('.second').addClass('is-hidden')
				$('#s1').addClass('active')
				$('#s2').removeClass('active')
				$('.capture').addClass('is-hidden')
			} else if($('#s3').hasClass('active')){
				$('.second').removeClass('is-hidden')
				$('.third').addClass('is-hidden')
				$('#s3').removeClass('active')
				$('#s2').addClass('active')
			} else {
				second.classList.remove('is-hidden')
				third.classList.add('is-hidden')
				$('#s3').addClass('active')
			}
		})

		$('.guiding-sound').click(()=>{
			if($('.guiding-sound').hasClass('sound-on')){
				$('.guiding-sound').removeClass('sound-on')
				$('.guiding-sound').addClass('sound-off')
			} else if($('.guiding-sound').hasClass('sound-off')){
				$('.guiding-sound').addClass('sound-on')
				$('.guiding-sound').removeClass('sound-off')
			}
		})

		//button click function test


		$('#optionScan2').click(()=>{
			$("html").addClass("overlay-popup");
			$("#popup-avatar").addClass("is-show");
			$(".scanByImage").removeClass("is-hidden");
		})

		

		$('#toSuccess').click(()=>{
			$('#ava-4').addClass('is-hidden')
			$('#ava-0').removeClass('is-hidden')
			$('.scanning').addClass('is-hidden')
			$('.successful').removeClass('is-hidden')

			//- $('.loading .loading-step-4').addClass('success')
		})
		$('#toSuccess1').click(()=>{
			$('.scanByImage').addClass('is-hidden')
			$('.successful').removeClass('is-hidden')
		})
		$('#toFail1').click(()=>{
			$('.scanByImage').addClass('is-hidden')
			$('#popup-avatar .fail').removeClass('is-hidden')
		})
		$('#scanFaceImgFail').click(()=>{
			$('.scanByImage').removeClass('is-hidden')
			$('.fail').addClass('is-hidden')
		})

		$('#scanFaceDone').click(()=>{
			$(".func-close-popup").click()
			$('.first').addClass('is-hidden')
			$('.second').removeClass('is-hidden')
			$('#s1').removeClass('active')
			$('#s2').addClass('active')
			setTimeout(()=>{$('.capture').removeClass('is-hidden')},1000)
		})
		$('#scanFaceImgDone').click(()=>{
			$(".func-close-popup").click()
			$('.first').addClass('is-hidden')
			$('.second').removeClass('is-hidden')
			$('#s1').removeClass('active')
			$('#s2').addClass('active')
			setTimeout(()=>{$('.capture').removeClass('is-hidden')},1000)
		})


		//capture ID 2 face

		$('#captureId').click(()=>{
			$('.capture').addClass('is-hidden')
			$('.check-again').removeClass('is-hidden')
			$('.check-again .mess').removeClass('is-hidden')
			$('#popup-id .bl-popup-heading').css('opacity',0)
		})

		$('#captureIdfail').click(()=>{
			$('.capture').addClass('is-hidden')
			$('.check-again').removeClass('is-hidden')

			//thêm các message lỗi khác
			$('.check-again .mess').html('Mặt trước CMND/CCCD không hợp lệ')
			
			$('.check-again #acceptId').attr("disabled", true)
			$('.check-again #captureAgain').removeClass('is-outlined')

		})

		$('#captureAgain').click(()=>{
			$('.capture').removeClass('is-hidden')
			$('.check-again').addClass('is-hidden')
			$('.check-again .mess').html('')
			$('.check-again #captureAgain').addClass('is-outlined')
			$('.check-again #acceptId').removeAttr("disabled")
			$('#popup-id .bl-popup-heading').css('opacity',1)
		})

		//go capture behind
		$('#acceptId').click(()=>{
			$('.check-again').addClass('is-hidden')
			//- $('.upload-loading').removeClass('is-hidden')
			$('.capture-behind').removeClass('is-hidden')
			$('#popup-id .bl-popup-heading').css('opacity',1)
			$('#popup-id .bl-popup-heading span').html('Ảnh CMND/CCCD mặt sau')
		})

		$('#captureIdBehind').click(()=>{
			$('.capture-behind').addClass('is-hidden')
			$('.check-again-behind').removeClass('is-hidden')
			$('#popup-id .bl-popup-heading').css('opacity',0)
		})

		$('#captureAgainBehind').click(()=>{
			$('.capture-behind').removeClass('is-hidden')
			$('.check-again-behind').addClass('is-hidden')
			$('#popup-id .bl-popup-heading').css('opacity',1)
		})

		$('#acceptIdBehind').click(()=>{
			$('.check-again-behind').addClass('is-hidden')
			$('.upload-loading').removeClass('is-hidden')
		})

		$('#toVerifySuccess').click(()=>{
			$(".func-close-popup").click()
			$('.second').addClass('is-hidden')
			$('.third').removeClass('is-hidden')
			$('#s2').removeClass('active')
			$('#s3').addClass('active')
		})

		$('#toVerifyFail').click(()=>{
			$(".func-close-popup").click()
			$('.second').addClass('is-hidden')
			$('.third').removeClass('is-hidden')
			$('.third .error').removeClass('is-hidden')
			$('.third .success').addClass('is-hidden')
			$('#s2').removeClass('active')
			$('#s3').addClass('active')
		})

		document.getElementById('phoneInput').oninput = value => {
			if(value){
				$('#checkMobileNumber').removeAttr("disabled")
			}
		}

		//case verify mobile successful
		$('#checkMobileNumber').click(()=>{
			$('#popup-verifyResult .success_result').removeClass('is-hidden')
			$('#popup-verifyResult .fail_result').addClass('is-hidden')
			$('#popup-verifyResult .verify-mess').html('Xác thực Zalo thành công')
		})

		//case verify mobile fail
		$('#resultFail').click(()=>{
			$('#popup-verifyResult .success_result').addClass('is-hidden')
			$('#popup-verifyResult .fail_result').removeClass('is-hidden')
			$('#popup-verifyResult .verify-mess').html('Xác thực Zalo thất bại')
			$('#popup-verifyResult .fail_result .percent').html('49%')
		})

		$('#numberInvalid').click(()=>{
			$('#popup-verifyResult .success_result').addClass('is-hidden')
			$('#popup-verifyResult .fail_result').removeClass('is-hidden')
			$('#popup-verifyResult .fail_result .percent').html('0%')
			$('#popup-verifyResult .verify-mess').html('Số điện thoại Zalo không tồn tại')
		})

		window.onload = () => {
			let width = window.innerWidth
			if(width >= 375 && width <= 667){
				$('#popup-avatar-scanning .camera').addClass('case-ratio43')
				$('#popup-avatar .camera').addClass('case-ratio43')
				$('#popup-id .camera').addClass('case-ratio34')
			}
			
		}