extends layout.pug

//- Setting
block setting
	- var layout = true
	- var loading = false
	- var dockbar = true
	- var tooltip = true
	- var popup = true
	- var modal = true

block head
	include head.pug

block pages
	- bodyC.push("")
	- layoutClasses.push("ad-mobile")
	- bodyClasses.push("page-content zalo-ai-auth")
	- dockbarClasses.push("dockbar")

//- Add Body
block body
	include page/_verify_zalo.pug

//- Add Dockbar
block dockbar
	//- include page/dockbar.pug

//- Add Modal
block modal
	//- include page/modal_alert.pug
	
//- Add Popup
block popup
	include page/popup_avatar.pug

block javaScripts extend
	script.
		