html,
body {
  font-family: "Be Vietnam";
}
/* Menu */
#cd-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $color-main;
  z-index: 1000;
  height: 50px;
  padding-left: 36px;
  display: flex;
  align-items: center;
  img {
    width: 65px;
    z-index: 1010;
  }
  .bg-yello-overlay {
    width: 100%;
    height: 100%;
    background-color: $color-main;
    z-index: 1001;
    position: absolute;
    left: 0;
    top: 0;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}
.cd-nav-trigger {
  position: absolute;
  right: 30px;
  z-index: 1011;
  width: 35px;
  height: 29px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  span {
    position: absolute;
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      background: inherit;
      width: 100%;
      height: 100%;
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: transform 0.3s;
    }
    &:before {
      top: -6px;
      transform: rotate(0);
    }
    &:after {
      bottom: -6px;
      transform: rotate(0);
    }
  }
  &.menu-is-open {
    box-shadow: none;
    span {
      background-color: $color-main;
      &:before,
      &:after {
        background: #000;
      }
      &:before {
        top: 0;
        transform: rotate(135deg);
      }
      &:after {
        bottom: 0;
        transform: rotate(225deg);
      }
    }
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

#navBar {
  @include position(fixed, -350px 0 0 null);
  width: 100%;
  max-height: 300px;
  z-index: 0;
  background-color: $color-main;
  @include padding(36px);
  padding-top: 48px;
  margin-top: 50px;
  z-index: 0;
  // display: none;
  @extend %tr-all;
  li {
    position: relative;
    margin-bottom: 36px;
    font-weight: 500;
    font-size: 20px;
    a {
      color: #000 !important;
      @extend %tr-all;
      text-transform: uppercase;
      span {
        color: $color-second;
        font-weight: bold;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.is-visible {
    z-index: 1;
    top: 0;
  }
}

.project-layout {
  padding-top: 50px;
  font-family: "Be Vietnam";
  @include media-breakpoint-up(lg) {
    padding-top: 0;
  }
  header {
    @extend %tr-all;
    .container {
      display: none;
      @include media-breakpoint-up(lg) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 36px;
        padding-right: 36px;
        .logo {
          @include size(260px, 96px);
          a {
            display: block;
            background: url(../images/logo.png) 0 0 no-repeat;
            background-size: contain;
            @include size(260px, 96px);
            text-indent: -9999px;
          }
        }
        .yellow-line {
          display: block;
          height: 10px;
          width: 120px;
          background-color: $color-main;
        }
        .menu-wrap {
          ul {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            li {
              flex-shrink: 0;
              margin: 0 40px;
              a {
                display: block;
                position: relative;
                color: #000;
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                border-bottom: 4px solid transparent;
                padding: 8px 12px 4px;
                transition: all 0.2s;
                &.active,
                &:hover {
                  border-bottom: 4px solid $color-main;
                }
              }
            }
          }
        }
      }
    }
    &.fixed-header {
      @include media-breakpoint-up(lg) {
        @include position(fixed, 0 0 null 0);
        z-index: 99;
        background-color: $color-main;
        height: 96px;
        .yellow-line {
          background-color: #000;
        }
        .menu-wrap {
          ul {
            li {
              a {
                &.active,
                &:hover {
                  border-bottom: 4px solid #fff !important;
                }
              }
            }
          }
        }
      }
    }
  }

  .button {
    padding: 12px 36px;
    background-color: $color-main;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    border-radius: 99px;
    @include media-breakpoint-up(lg) {
      font-size: 28px;
      line-height: 34px;
      padding: 18px 48px;
    }
  }
  .title {
    font-weight: 700;
  }
  .desktop-only {
    display: none !important;
    @include media-breakpoint-up(lg) {
      display: block !important;
    }
  }
  .mobile-only {
    display: block !important;
    @include media-breakpoint-up(lg) {
      display: none !important;
    }
  }
}

.module-first {
  background: url("../images/bg_mobile.png") center center no-repeat;
  height: 90vh;
  @include media-breakpoint-up(sm) {
    background: url("../images/bg_ipad.png") center center no-repeat;
  }
  .container-bg {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 36px;
    padding-right: 36px;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 10vh;
      .logo-big {
        width: 150px;
      }
      h1 {
        font-size: 30px;
        line-height: 44px;
      }
      p {
        margin: 16px 0;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    background: url("../images/bg_desktop.png") center center no-repeat;
    background-size: contain;
    height: 1000px;
    .container-bg {
      margin-top: -60px;
      .content {
        padding-top: 250px;
        align-items: flex-start;
        .logo-big {
          width: 230px;
        }
        h1 {
          font-size: 90px;
          line-height: 90px;
        }
        p {
          margin: 36px 0;
          font-size: 24px;
          line-height: 34px;
          text-align: left;
        }
      }
    }
  }
}

.module-content {
  padding: 48px 36px 16px;
  border-bottom: 8px solid $color-main;
  .intro-desc {
    margin-bottom: 48px;
    h2 {
      font-size: 20px;
      line-height: 29px;
      text-align: center;
      max-width: 220px;
      margin: 0 auto 16px;
      text-transform: uppercase;
      &::after {
        content: "";
        display: block;
        height: 12px;
        background-color: $color-main;
        width: 100%;
        margin-top: -10px;
      }
    }
    .desc {
      strong {
        white-space: nowrap;
      }
      color: $color-second;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
    }
  }
  .list-elements {
    display: flex;
    flex-wrap: wrap;
    li.item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width: 600px;
      margin: 0 auto;
      margin-bottom: 80px;
      @include media-breakpoint-up(lg) {
        margin: 0 36px;
        margin-bottom: 145px;
      }
      .icon {
        width: 60px;
        margin-right: 20px;
      }
      .content {
        position: relative;
        &::before {
          content: "";
          display: block;
          height: 135%;
          width: 50px;
          background-color: $color-third;
          border-radius: 99px;
          position: absolute;
          top: -16%;
          z-index: -1;
          @include media-breakpoint-up(lg) {
            width: 80px;
          }
        }
        h3 {
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 8px;
          padding-left: 25px;
          @include media-breakpoint-up(lg) {
            font-size: 30px;
            line-height: 44px;
            padding-left: 40px;
            margin-bottom: 12px;
          }
        }
        p {
          font-size: 12px;
          line-height: 16px;
          padding-left: 25px;
          @include media-breakpoint-up(lg) {
            font-size: 18px;
            line-height: 26px;
            padding-left: 40px;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding: 16px 36px 50px;
    border-bottom: 36px solid $color-main;
    .intro-desc {
      margin-bottom: 120px;
      max-width: 1100px;
      margin: 0 auto;
      h2 {
        font-size: 40px;
        line-height: 59px;
        max-width: 500px;
        margin-bottom: 32px;
        &::after {
          height: 30px;
          margin-top: -25px;
        }
      }
      .desc {
        font-size: 24px;
        line-height: 36px;
      }
    }
    .list-elements {
      max-width: 1440px;
      margin: 0 auto;
      margin-top: 120px;
      justify-content: space-between;
      .item {
        .icon {
          width: 130px !important;
          margin-right: 50px !important;
        }
      }
    }
  }
  &#why {
    border-bottom: unset;
    padding: 0;
    background-color: $color-third;
    .intro-desc {
      padding: 45px 34px;
      @include media-breakpoint-up(lg) {
        padding: 120px 36px 140px;
      }
    }
  }
  .bg-yellow-radio {
    background: url("../images/radio_mobile.png") center center no-repeat;
    width: 100%;
    padding-top: 48.8%;
    background-size: cover;
    @include media-breakpoint-up(lg) {
      background: url("../images/radio_desktop.png") center center no-repeat;
      width: 100%;
      padding-top: 28.3%;
      background-size: cover;
    }
  }
}

.module-swiper {
  padding: 60px 36px;
  background-color: #000;
  color: #fff;
  .content-module {
    text-align: center;
    h1 {
      font-size: 30px;
      line-height: 44px;
      margin-bottom: 8px;
    }
    ul {
      li {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
      }
    }
    p {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .button {
    margin: 0 auto;
  }
  .swiper-apply {
    &.mobile-only {
      margin: 16px 0;
      .swiper-slide {
        text-align: center;
        img {
          width: 300px;
          margin-bottom: 60px;
        }
        .content {
          text-align: center;
          h4 {
            text-transform: uppercase;
            font-size: 18px;
            line-height: 27px;
          }
          p {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
      .swiper-pagination {
        display: flex;
        justify-content: space-between;
        bottom: 125px;
        max-width: 300px;
        .swiper-pagination-bullet {
          background-color: $color-four;
          border-radius: unset;
          height: 8px;
          width: 24%;
          margin: 0;
          opacity: 1;
          &.swiper-pagination-bullet-active {
            background-color: $color-main;
          }
          &:focus {
            outline: none;
            border: none;
          }
        }
      }
      @media (min-width: 400px) {
        .swiper-pagination {
          left: 6%;
        }
      }
    }
    &.desktop-only {
      min-height: 600px;
      max-width: 500px;
      margin: unset;
      margin-right: 100px;
      .swiper-slide {
        img {
          width: 500px;
          margin-bottom: 40px;
        }
        .content {
          text-align: left;
          h4 {
            font-size: 30px;
            line-height: 44px;
            text-transform: uppercase;
          }
          p {
            font-size: 23px;
            line-height: 34px;
          }
        }
      }
      .swiper-pagination {
        display: flex;
        justify-content: space-between;
        bottom: -0;
        .swiper-pagination-bullet {
          background-color: $color-four;
          border-radius: unset;
          height: 8px;
          width: 24%;
          margin: 0;
          opacity: 1;
          &.swiper-pagination-bullet-active {
            background-color: $color-main;
          }
          &:focus {
            outline: none;
            border: none;
          }
        }
      }
    }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 145px;
    padding-bottom: 180px;
    position: relative;
    &::after {
      content: "";
      display: block;
      background: url("../images/soundwave.png") center center no-repeat;
      background-size: cover;
      width: 100%;
      padding-top: 20%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .desktop-container {
      max-width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 36px;
      .content-module {
        text-align: left;
        h1 {
          font-size: 55px;
          line-height: 81px;
        }
        ul {
          li {
            &::before {
              content: "\25A0";
              font-size: 16px;
              color: $color-main;
              font-weight: bold;
              display: inline-block;
              width: 1.5rem;
              margin-left: -1.5rem;
              vertical-align: top;
            }
            font-size: 30px;
            line-height: 45px;
          }
        }
        p {
          font-size: 30px;
          line-height: 45px;
          margin-bottom: 72px;
        }
      }
    }
  }
}

.module-contact {
  padding: 0 36px 36px;
  max-width: 1440px;
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    padding-top: 90px;
    padding-bottom: 120px;
  }
  .first-content {
    @include media-breakpoint-up(lg) {
      display: flex !important;
    }
    flex-direction: row;
    align-items: center;
    margin-bottom: 64px;
    .logo-big {
      width: 130px;
      margin-right: 80px;
    }
    .yellow-line {
      height: 6px;
      width: 110px;
      background-color: $color-main;
      display: block;
      margin-right: 80px;
    }
    h3 {
      font-size: 30px;
      text-transform: uppercase;
    }
  }
  .intro-desc {
    h2 {
      font-size: 20px;
      line-height: 29px;
      text-align: center;
      max-width: 220px;
      margin: 0 auto 32px;
      text-transform: uppercase;
      &::after {
        content: "";
        display: block;
        height: 12px;
        background-color: $color-main;
        width: 100%;
        margin-top: -10px;
      }
    }
  }
  .second-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 32px;
      width: 230px;
      img {
        width: 40px;
        margin-right: 24px;
        padding-top: 8px;
      }
      .content {
        p {
          font-size: 14px;
          line-height: 21px;
        }
        .label {
          font-weight: 700;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      justify-content: flex-start;
      li {
        width: unset;
        margin-bottom: 0;
        margin-right: 105px;
        margin-bottom: 64px;
        &:first-child {
          width: 300px;
        }
        img {
          width: 60px;
          margin-right: 32px;
          padding-top: 12px;
        }
        .content {
          p {
            font-size: 23px;
            line-height: 34px;
          }
        }
      }
    }
  }
  .third-content {
    .list-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 12px;
      img {
        width: 32px;
        height: 32px;
        margin-right: 24px;
        object-fit: contain;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .grey {
      font-size: 10px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
      margin-top: 16px;
    }
    .desktop-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      @include media-breakpoint-up(lg) {
        justify-content: flex-start;
      }
      p {
        font-size: 23px;
        line-height: 34px;
        font-weight: 600;
        margin-right: 56px;
      }
      .list-icon {
        @include media-breakpoint-up(lg) {
          justify-content: flex-start;
          margin-top: 0;
          img {
            width: 43px;
            height: 43px;
            margin-right: 32px;
            object-fit: contain;
            &:last-child {
              margin-right: 0;
            }
          }
        }
      }
    }
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }
}
