main.document_search
    .main-body
        .container_cols
            .container_col.content
                h2.title Nội dung tra cứu
                .text-input-item
                    .label-title
                        h3.title Ngành hàng kinh doanh (Bắt buộc)
                            i.icz.icz-support#tippy-button-call-action
                    .select.dropdown.dropdown-document-searching
                        .dropdown-toggle(role="button" id="dropdown-document-searching" data-toggle="dropdown" aria-expanded="false")
                        select#first-select
                            option#first-select-preview Chọn ngành hàng
                            option Thực phẩm chức năng
                            option Thuốc
                            option Hóa chất, chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế
                            option Sữa và sản phẩm dinh dưỡng cho trẻ trên 24 tháng tuổi
                            option Thực phẩm, phụ gia thực phẩm
                            option Thực phẩm đã qua chế biến
                            option Rượu có độ cồn dưới 15 độ và bia
                            option Dịch vụ khám bệnh, chữa bệnh (bao gồm phòng khám nha khoa, thẩm mỹ viện có các chức năng phẫu thuật, dao kéo)
                            option Trang thiết bị y tế
                            option Thuốc và vật tư bảo vệ thực vật, sinh vật, thú y nói chung
                            option Trò chơi điện tử
                            option Dịch vụ vui chơi, giải trí cho đối tượng từ 16 tuổi trở lên
                            option Dịch vụ về visa hộ chiếu
                            option Sản phẩm dao kéo, dụng cụ nhà bếp
                            option Tín dụng, tín chấp, dịch vụ tài chính cho vay, mượn tiền, đầu tư quỹ
                            option Hẹn hò online
                            option Dịch vụ cầm đồ
                            option Xổ số
                        .dropdown-menu(aria-labelledby="dropdown-document-searching")
                            ul
                                li
                                    a.name-item Thực phẩm chức năng
                                li
                                    a.name-item Thuốc
                                li
                                    a.name-item Hóa chất, chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế
                                li
                                    a.name-item Sữa và sản phẩm dinh dưỡng cho trẻ trên 24 tháng tuổi
                                li
                                    a.name-item Thực phẩm, phụ gia thực phẩm
                                li
                                    a.name-item Rượu có độ cồn dưới 15 độ và bia
                                li
                                    a.name-item Dịch vụ khám bệnh, chữa bệnh (bao gồm phòng khám nha khoa, thẩm mỹ viện có các chức năng phẫu thuật, dao kéo)
                                li
                                    a.name-item Trang thiết bị y tế
                                li
                                    a.name-item Thuốc và vật tư bảo vệ thực vật, sinh vật, thú y nói chung
                                li
                                    a.name-item Trò chơi điện tử
                                li
                                    a.name-item Dịch vụ vui chơi, giải trí cho đối tượng từ 16 tuổi trở lên
                                li
                                    a.name-item Dịch vụ về visa hộ chiếu
                                li
                                    a.name-item Sản phẩm dao kéo, dụng cụ nhà bếp
                                li
                                    a.name-item Tín dụng, tín chấp, dịch vụ tài chính cho vay, mượn tiền, đầu tư quỹ
                                li
                                    a.name-item Hẹn hò online
                                li
                                    a.name-item Dịch vụ cầm đồ
                                li
                                    a.name-item Xổ số
                    
                        
                .text-input-item
                    .label-title
                        h3.title Xuất xứ hàng hóa
                            i.icz.icz-support#tippy-button-call-action
                    .controls
                        .control
                            input(id="check0" type="checkbox")
                            label(for="check0") Nhập khẩu theo đường chính ngạch
                        .control
                            input(id="check1" type="checkbox")
                            label(for="check1") Trung Quốc, Lào, Campuchia, Thái Lan
                        .control
                            input(id="check2" type="checkbox")
                            label(for="check2") Hàng có thương hiệu nổi tiếng
                        .control
                            input(id="check3" type="checkbox")
                            label(for="check3") Khác
                .text-input-item
                    .label-title
                        h3.title Hình ảnh quảng cáo
                            i.icz.icz-support#tippy-button-call-action
                    .controls
                        .control
                            input(id="check4" type="checkbox")
                            label(for="check4") Có người nhìn rõ mặt trên banner
                        .control
                            input(id="check5" type="checkbox")
                            label(for="check5") Có người nổi tiếng trong landing page
                button.button.is-primary.is-large#check-form-ad(disabled) Tra cứu
                button.button.is-large#refresh-searching Làm mới
    .slide-body
        .document-block-square
            h2.title#after-searching.is-hidden Các loại giấy phép yêu cầu cho quảng cáo của bạn:
            img#img-empty(src="./images/zad_empty.png")
            h2.title#before-searching Vui lòng chọn ngành hàng và nơi xuất xứ của mặt hàng bạn muốn quảng cáo. Sau đó ấn nút "Tra cứu"
            ul#document-list
                //- li Giấy xác nhận nội dung quảng cáo
                //- li Giấy xác nhận 
                //-     em (nội dung quảng cáo)
            h3.title Tìm hiểu thêm về các quy định giấy phép của Zalo Ads
                a(href='https://ads.zalo.me/business/san-pham-can-giay-phep/' target='_blank') &nbsp;tại đây

