main.document_search
    .main-body
        .container_cols
            .container_col.content
                h2.title Nội dung tra cứu
                .text-input-item
                    .label-title
                        h3.title Ngành hàng chạy quảng cáo
                            i.icz.icz-support#tippy-business-major
                    .select.dropdown.dropdown-document-searching
                        i.icz.icz-search
                        input#first-select-preview(type='text' placeholder='Tìm kiếm ngành hàng chạy quảng cáo')
                        #icz-down
                            i.icz.icz-down
                        .dropdown-menu.show(aria-labelledby="dropdown-document-searching")
                            ul
                                li
                                    //-#1
                                    a.name-item Thực phẩm chức năng, thực phẩm bảo vệ sức khỏe, thực phẩm dinh dưỡng y học.
                                li
                                    //-#2
                                    a.name-item Sản phẩm dinh dưỡng cho trẻ đến 36 tháng tuổi, thực phẩm dùng cho chế độ ăn đặc biệt.
                                li
                                    //-#3
                                    a.name-item Sữa và sản phẩm dinh dưỡng cho trẻ trên 24 tháng tuổi
                                li
                                    //-#4
                                    a.name-item Thực phẩm đã qua chế biến, phụ gia thực phẩm, chất hỗ trợ chế biến thực phẩm
                                li
                                    //-#5
                                    a.name-item Thực phẩm tươi sống
                                li
                                    //-#6
                                    a.name-item Mỹ phẩm
                                li
                                    //-#7
                                    a.name-item Thuốc
                                li
                                    //-#8
                                    a.name-item Hóa chất, chế phẩm diệt côn trùng, diệt khuẩn dùng trong lĩnh vực gia dụng và y tế
                                li
                                    //-#9
                                    a.name-item Thuốc bảo vệ thực vật, nguyên liệu thuốc bảo vệ thực vật. 
                                li
                                    //-#10
                                    a.name-item Vật tư bảo vệ thực vật, sinh vật có ích dùng trong bảo vệ thực vật.
                                li
                                    //-#11
                                    a.name-item Phân bón
                                li
                                    //-#12
                                    a.name-item Thuốc và vật tư thú y
                                li
                                    //-#13
                                    a.name-item Rượu có độ cồn dưới 15 độ và bia
                                li
                                    //-#14
                                    a.name-item Dịch vụ khám bệnh, chữa bệnh (bao gồm phòng khám nha khoa)
                                li
                                    //-#15
                                    a.name-item Thẩm mỹ viện 
                                li
                                    //-#16
                                    a.name-item Trang thiết bị y tế loại B,C,D
                                li
                                    //-#17
                                    a.name-item Trang thiết bị y tế loại A
                                li
                                    //-#18
                                    a.name-item Trò chơi điện tử
                                li
                                    //-#19
                                    a.name-item Dịch vụ vui chơi, giải trí cho đối tượng từ 16 tuổi trở lên
                                li
                                    //-#20
                                    a.name-item Dịch vụ về visa hộ chiếu
                                li
                                    //-#21
                                    a.name-item Sản phẩm dao kéo, dụng cụ nhà bếp
                                li
                                    //-#22
                                    a.name-item Tín dụng, tín chấp, dịch vụ tài chính cho vay, mượn tiền, đầu tư quỹ
                                li
                                    //-#23
                                    a.name-item Hẹn hò online
                                li
                                    //-#24
                                    a.name-item Dịch vụ cầm đồ
                                li
                                    //-#25
                                    a.name-item Xổ số
                                li
                                    //-#26
                                    a.name-item Dịch vụ xăm hình (xăm, phun, thêu trên da có sử dụng thuốc gây tê dạng tiêm)
                                li
                                    //-#27
                                    a.name-item Sách (1 hoặc nhiều quyển sách)
                                li
                                    //-#28
                                    a.name-item Sàn thương mại điện tử
                                li
                                    //-#29
                                    a.name-item Spa có bao gồm hoạt động massage (Sử dụng phương pháp vật lý trị liệu)
                                li
                                    //-#30
                                    a.name-item Spa không bao gồm hoạt động massage
                                li
                                    //-#31
                                    a.name-item Phòng khám thú y
                                li
                                    //-#32
                                    a.name-item Thiết bị, phần mềm ngụy trang dùng để ghi âm, ghi hình, định vị
                                li
                                    //-#33
                                    a.name-item Thức ăn chăn nuôi
            
                .text-input-item(style="opacity: 0")
                    .label-title
                        h3.title Xuất xứ hàng hóa
                            span &nbsp;(không bắt buộc)
                    .controls
                        .control
                            input(id="check0" type="checkbox")
                            label(for="check0") Nhập khẩu theo đường chính ngạch
                        .control
                            input(id="check1" type="checkbox")
                            label(for="check1") Trung Quốc, Lào, Campuchia, Thái Lan
                        .control
                            input(id="check2" type="checkbox")
                            label(for="check2") Hàng có thương hiệu nổi tiếng
                .text-input-item(style="opacity: 0;margin-bottom: 72px;")
                    .label-title
                        h3.title Hình ảnh quảng cáo
                            span &nbsp;(không bắt buộc)
                    .controls
                        .control
                            input(id="check4" type="checkbox")
                            label(for="check4") Có người nhìn rõ mặt trên banner
                        .control
                            input(id="check5" type="checkbox")
                            label(for="check5") Có người nổi tiếng trong landing page
                button.button.is-primary.is-large#check-document(disabled) Tra cứu
                button.button.is-large#refresh-searching(disabled) Làm mới
    .slide-body
        img#img-no-found.is-hidden(src="./images/ZAD_Illus_NoResult.png")
        p#no-found.is-hidden Không tìm thấy giấy phép phù hợp
        img#img-empty(src="./images/zad_empty.png")
        p#before-searching Vui lòng chọn ngành hàng kinh doanh để tra cứu giấy phép
        h2.title.is-hidden#after-searching Giấy phép yêu cầu
        ul#document-list
        //-     li 
        //-         i.icz.icz-file-text
        //-         |Giấy xác nhận nội dung quảng cáo
        //-     li 
        //-         i.icz.icz-file-text
        //-         |Giấy xác nhận 
        //-         em <br>(nội dung quảng cáo)
            //- h3.title Tìm hiểu thêm về các quy định giấy phép của Zalo Ads
            //-     a(href='https://ads.zalo.me/business/san-pham-can-giay-phep/' target='_blank') &nbsp;tại đây

