main
    .main-body
        #button-toggle-slide-bar
            i.icz.icz-right
        .container_cols
            .container_col.content
                h2.title Nội dung
                .text-input-item
                    .label-title
                        h3.title Tiêu đề quảng cáo
                            i.icz.icz-question#tippy-title-ad
                        p.max-letter#max-letter-first 30
                    input#first-input(type='text' placeholder='Nhập tiêu đề' maxlength=30)
                .text-input-item
                    .label-title
                        h3.title Nội dung quảng cáo
                            i.icz.icz-question#tippy-content-ad
                        p.max-letter#max-letter-second 90
                    textarea#second-input( placeholder='Nhập nội dung' maxlength=90)
                .text-input-item
                    .label-title
                        h3.title Tiêu đề quảng cáo
                            i.icz.icz-question#tippy-avatar-upload
                    .image-input
                        .avatar-image-input
                            input#avatar-image-input(type='file' accept="image/*" tabindex='-1')
                        i.icz.icz-image-add-2
                            input#avatar-image-input-0(type='file' accept="image/*")
                        p.img-desc Kích thước 150 x 150 pixel <br> Tối đa 2Mb
                        
                .text-input-item
                    .label-title
                        h3.title Mô tả thêm
                            i.icz.icz-question#tippy-optional-desc
                        p.max-letter#max-letter-third 48
                    input#third-input(type='text' placeholder='Mô tả ngắn gọn' maxlength=48)
                .text-input-item
                    .label-title
                        h3.title Thông tin thêm
                            i.icz.icz-question#tippy-optional-info
                        p.max-letter#max-letter-fourth 48
                    input#fourth-input(type='text' placeholder='Nhập thông tin thêm' maxlength=48)
                .text-input-item
                    .label-title
                        h3.title Nút kêu gọi
                            i.icz.icz-question#tippy-button-call-action
                    .select
                        select#fifth-input
                            option Mua ngay
                            option Bán ngay
                .button.is-primary.is-large#check-form-ad Kiểm tra

            .container_col.checking
                h2.checking-title.title Kiểm tra
                .text-input-item.first-item
                    .label-title
                        h3.title Hình ảnh quảng cáo
                            i.icz.icz-question#tippy-large-image
                    .large-image-input
                        input#large-image-input(type='file' accept="image/*")
                        p Kéo thả ảnh vào hoặc 
                            span tải ảnh lên
                    .large-image-preview
                        .image-preview-header
                            p.large-img-name Banner final <br>
                                span 1024 x 533
                            .dropdown.dropdown-call
                                a.button.dropdown-toggle(role="button" id="dropdown-call" data-toggle="dropdown" aria-expanded="false")
                                    span.name-item Tùy chọn
                                    i.icz.icz-down
                                .dropdown-menu(aria-labelledby="dropdown-call")
                                    ul
                                        li 
                                            a#change-large-img
                                                span.name-item Thay đổi ảnh
                                                input#change-large-img-input(type='file' accept="image/*")
                                        li
                                            a#download-large-image
                                                span.name-item Tải ảnh xuống
                        .image-preview-body
                            .ads-img
                                #output-large-preview.img-container-preview(style='background-image:url(https://via.placeholder.com/1024x533)')
                                    img#imageSrc-preview(src='', alt='', style='display:none')
                                .squares
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                            .ads-grid-switch
                                p Lưới kiểm tra chữ
                                label.switch
                                    input#check-grid(type="checkbox" checked)
                                    span.slider.round
                            .ads-text-ratio
                                p Tỉ lệ văn bản:
                                p.check-msg Hãy chọn các ô có xuất hiện chữ
                            .ads-img-quality
                                p Chất lượng ảnh:
                                p#img-quality Mờ
                .text-input-item.second-item
                    .label-title
                        h3.title Nội dung
                            i.icz.icz-question#tippy-notice-content
                    .content-card#content-card-first
                        .card-desc
                            i.icz.icz-fill-info
                            p Quảng cáo của bạn chưa có nội dung.<br>
                                a(onclick="focusFirstInput()") Nhập nội dung 
                                |để tiến hành kiểm tra.
                        .card-error-list
                            p Các lỗi về từ ngữ hoặc không đúng định dạng sẽ được liệt kê ở đây.
                    .content-card#content-card-second.is-hidden
                        .card-desc
                            i.icz.icz-fill-info
                            p Nội dung của bạn chưa được kiểm tra, nhấn kiểm tra để xem kết quả
                        .card-error-list
                            p Các lỗi về từ ngữ hoặc không đúng định dạng sẽ được liệt kê ở đây.
                    .content-card#alert-card-first.is-hidden
                        .card-desc
                            i.icz.icz-fill-warning
                            p Sử dụng từ ngữ bị hạn chế
                        .card-error-list
                            //- p.error-item nhất
                    .content-card#alert-card-second.is-hidden
                        .card-desc
                            i.icz.icz-fill-warning
                            p Sử dụng định dạng vi phạm qui định quảng cáo
                        .card-error-list
                            p Nội dung không được in hoa toàn bộ, in hoa tất cả chữ cái đầu tiên, sử dụng dấu ba chấm hoặc ký tự đặc biệt.
                    .content-card#alert-card-third.is-hidden
                        .card-desc
                            i.icz.icz-fill-error
                            p Cảnh báo! Nội dung của bạn có sử dụng từ ngữ vi phạm qui định quảng cáo.
                        .card-error-list
                            //- p.error-item Ngoại tình
                    .content-card#successful-card.is-hidden
                        .card-desc
                            i.icz.icz-fill-check
                            p Tuyệt vời! Không phát hiện lỗi trong nội dung quảng cáo của bạn
                        .card-error-list
                            p Chúng tôi không phát hiện các lỗi vi phạm phổ biến nào trong quảng cáo của bạn.
        .policy-bottom-desc
            p Đây là công cụ giúp bạn tối ưu hóa cài đặt quảng cáo. Việc xét duyệt quảng cáo không thuộc quản lý của công cụ này. <br>Xem thêm các 
                a quy định quảng cáo 
                |để tìm hiểu thêm về lĩnh vực kinh doanh của bạn,
    .slide-body
        .slide-body-container
            h2.title Xem trước hiển thị
            .card-preview
                .square-ads
                    .label-title
                        .avatar.avatar--m
                            span.avatar-img(style="background-image:url(../html/images/avatar.png)")
                        h3.title#first-preview Tiêu đề quảng cáo
                    h3.title#second-preview Nội dung quảng cáo
                    .preview-sample
                    .ad-desc
                        .optional
                            p.optional-desc#third-preview Mô tả thêm
                            p.optional-info#fourth-preview Thông tin thêm
                        .button-buy-now#fifth-preview Mua ngay

