main
    button.button.is-primary.is-large#flying-button Kiểm tra nội dung
    
    .main-body
        #button-toggle-slide-bar
            i.icz.icz-right
        .buttons#swipe_tabs
            button.button#normal-ads-button.is-primary Nội dung quảng cáo
            button.button#form-ads-button Nội dung Form
        .container_cols#checking-content-normal-ads
            .container_col.content
                h2.title Nội dung kiểm tra
                .text-input-item
                    .label-title
                        h3.title Tên nhãn hàng hoặc OA
                            i.icz.icz-question-2#tippy-title-ad
                        p.max-letter#max-letter-first 0/30
                    input#first-input(type='text' placeholder='Nhập tên nhãn hàng' maxlength=30)
                .text-input-item
                    .label-title
                        h3.title Nội dung quảng cáo
                            i.icz.icz-question-2#tippy-content-ad
                        p.max-letter#max-letter-second 0/90
                    textarea#second-input( placeholder='Nhập nội dung quảng cáo' maxlength=90)
                .text-input-item
                    .label-title
                        h3.title Ảnh đại diện
                            i.icz.icz-question-2#tippy-avatar-upload
                    .image-input
                        .avatar-image-input.normal-ads-avatar-image-input
                            input#avatar-image-input(type='file' accept=".png, .jpg, .jpeg" tabindex='-1')
                        i.icz.icz-image-add-2
                            input#avatar-image-input-0(type='file' accept=".png, .jpg, .jpeg" tabindex='-1')
                        p.img-desc.normal-ads-img-desc Kích thước 150 x 150 pixel <br> Tối đa 2Mb
                .text-input-item
                    .label-title
                        h3.title Mô tả
                            i.icz.icz-question-2#tippy-optional-desc
                        p.max-letter#max-letter-third 0/60
                    textarea#third-input(type='text' placeholder='Nhập mô tả' maxlength=60 rows=1)
                .text-input-item
                    .label-title
                        h3.title Quảng cáo của bạn là
                            i.icz.icz-question-2#tippy-tick-tpcn
                    .control
                        input(id="check_tpcn" type="checkbox")
                        label(for="check_tpcn") Đây là quảng cáo “Thực phẩm chức năng”
                .text-input-item
                    .label-title
                        h3.title Thông tin thêm
                            i.icz.icz-question-2#tippy-optional-info
                        p.max-letter#max-letter-fourth 0/60
                    textarea.tpcn-case#fourth-input(type='text' placeholder='Nhập thông tin thêm' maxlength=60 rows=1)
                    textarea.tpcn-case.is-hidden#fourth-tpcn-input(type='text' disabled maxlength=60 style="color: #A3A8AF;background: #F0F4F8;") Sản phẩm này không phải là thuốc, không có tác dụng thay thế
                    p.tpcn-case.is-hidden Quảng cáo thực phẩm chức năng yêu cầu bổ sung thông tin này
                .text-input-item
                    .label-title
                        h3.title Nút kêu gọi
                            i.icz.icz-question-2#tippy-button-call-action
                    .select
                        select#fifth-input
                            option Mua ngay
                            option Đặt ngay
                            option Thử ngay
                            option Tải ngay
                            option Xem thêm
                            option Nghe ngay
                            option Chơi ngay
                            option Đăng ký
                            option Gọi điện
                button.button.is-primary.is-large#check-form-ad(disabled) Kiểm tra nội dung
            .container_col.checking
                h2.checking-title.title Kết quả kiểm tra
                .text-input-item.first-item
                    .label-title
                        h3.title Hình ảnh quảng cáo
                            i.icz.icz-question-2#tippy-large-image
                    .large-image-input.normal-large-image-input
                        input#large-image-input(type='file' accept=".png, .jpg, .jpeg")
                        p Kéo thả ảnh vào hoặc 
                            span tải ảnh lên
                    .large-image-preview.normal-large-image-preview
                        .image-preview-header
                            p.large-img-name.normal-large-img-name Banner final <br>
                                span 1024 x 533
                            .field.field-button.is-grouped.dropdown
                                .control
                                    a.button#change-large-img
                                        span.name-item Đổi ảnh khác
                                        input#change-large-img-input(type='file' accept=".png, .jpg, .jpeg")
                                .control.dropdown-toggle(href="#" role="button" id="dropdown-m1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    a.button
                                        i.icz.icz-down
                                .dropdown-menu(aria-labelledby="dropdown-m1")
                                    ul
                                        li
                                            a#download-large-image(onclick="dataLayer.push({'event': 'event_DownloadImg'});") Tải ảnh xuống
                        .image-preview-body
                            .ads-img
                                #output-large-preview.img-container-preview(style='background-image:url(https://via.placeholder.com/1024x533)')
                                    img#imageSrc-preview(src='', alt='', style='display:none')
                                .squares
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                            .ads-grid-switch
                                p Lưới kiểm tra chữ
                                label.switch
                                    input#check-grid(type="checkbox" checked)
                                    span.slider.round
                            .ads-text-ratio
                                p Tỉ lệ văn bản:<br>
                                    span (không bao gồm logo)
                                p.check-msg Hãy chọn các ô có xuất hiện chữ
                            .ads-img-quality
                                p Chất lượng ảnh:
                                p#img-quality Mờ
                .text-input-item.second-item
                    .label-title
                        h3.title Nội dung kiểm tra
                            i.icz.icz-question-2#tippy-notice-content
                    .content-card#content-card-first
                        .card-desc
                            i.icz.icz-fill-info
                            p Quảng cáo của bạn chưa có nội dung.<br>
                                a(onclick="focusFirstInput()") Nhập nội dung 
                                |để tiến hành kiểm tra.
                        .card-error-list
                            p Các lỗi về từ ngữ hoặc không đúng định dạng sẽ được liệt kê ở đây.
                    .content-card#content-card-second.is-hidden
                        .card-desc
                            i.icz.icz-fill-info
                            p Nội dung của bạn chưa được kiểm tra, nhấn kiểm tra để xem kết quả
                        .card-error-list
                            p Các lỗi về từ ngữ hoặc không đúng định dạng sẽ được liệt kê ở đây.
                    .content-card#alert-card-first.is-hidden
                        .card-desc
                            p Quảng cáo sẽ bị từ chối nếu xuất hiện những lỗi sau
                        #card-no-error.is-hidden
                            ul
                                li Không có lỗi nào
                        .card-error-list
                            ul
                    .content-card#alert-card-second.is-hidden
                        .card-desc
                            p Có 
                                a#warning-tip 
                                    span 0 
                                    |gợi ý chỉnh sửa 
                                |trong quảng cáo của bạn
                        .card-error-list
                            ul
        .container_cols#checking-content-form-ads.is-hidden
            .container_col.content
                h2.title Nội dung kiểm tra
                .text-input-item
                    .label-title
                        h3.title Tên OA
                            //- i.icz.icz-question-2#tippy-title-ad
                        p.max-letter#form-max-letter-oa 0/40
                    input#form-oa-input(type='text' placeholder='Nhập tên OA' maxlength=40)
                .text-input-item
                    .label-title
                        h3.title Tiêu đề Form
                            //- i.icz.icz-question-2#form-tippy-title-ad
                        p.max-letter#form-max-letter-first 0/40
                    input#form-first-input(type='text' placeholder='Nhập tiêu đề Form' maxlength=40)
                .text-input-item
                    .label-title
                        h3.title Nội dung Form
                            //- i.icz.icz-question-2#form-tippy-content-ad
                        p.max-letter#form-max-letter-second 0/180
                    textarea#form-second-input( placeholder='Nhập nội dung form' maxlength=180)
                .text-input-item
                    .label-title
                        h3.title Ảnh OA
                            //- i.icz.icz-question-2#form-tippy-avatar-upload
                    .image-input
                        .avatar-image-input.form-avatar-image-input
                            input#form-avatar-image-input(type='file' accept=".png, .jpg, .jpeg" tabindex='-1')
                        i.icz.icz-image-add-2
                            input#form-avatar-image-input-0(type='file' accept=".png, .jpg, .jpeg" tabindex='-1')
                        p.img-desc.form-img-desc Kích thước 150 x 150 pixel <br> Tối đa 2Mb
                button.button.is-primary.is-large#form-check-form-ad(disabled) Kiểm tra nội dung
            .container_col.checking
                h2.checking-title.title Kết quả kiểm tra
                .text-input-item.first-item
                    .label-title
                        h3.title Ảnh bìa Form
                            //- i.icz.icz-question-2#form-tippy-large-image
                    .large-image-input.form-large-image-input
                        input#form-large-image-input(type='file' accept=".png, .jpg, .jpeg")
                        p Kéo thả ảnh vào hoặc 
                            span tải ảnh lên
                    .large-image-preview.form-large-image-preview
                        .image-preview-header
                            p.large-img-name.form-large-img-name Banner final <br>
                                span 1024 x 533
                            .field.field-button.is-grouped.dropdown
                                .control
                                    a.button#form-change-large-img
                                        span.name-item Đổi ảnh khác
                                        input#form-change-large-img-input(type='file' accept=".png, .jpg, .jpeg")
                                .control.dropdown-toggle(href="#" role="button" id="form-dropdown-m1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    a.button
                                        i.icz.icz-down
                                .dropdown-menu(aria-labelledby="dropdown-m1")
                                    ul
                                        li
                                            a#form-download-large-image(onclick="dataLayer.push({'event': 'event_DownloadImg'});") Tải ảnh xuống
                        .image-preview-body
                            .ads-img
                                #form-output-large-preview.img-container-preview(style='background-image:url(https://via.placeholder.com/1024x533)')
                                    img#form-imageSrc-preview(src='', alt='', style='display:none')
                            .ads-img-quality
                                p Chất lượng ảnh:
                                p#form-img-quality Bị mờ
                .text-input-item.second-item
                    .label-title
                        h3.title Nội dung kiểm tra
                            i.icz.icz-question-2#form-tippy-notice-content
                    .content-card#form-content-card-first
                        .card-desc
                            i.icz.icz-fill-info
                            p Quảng cáo của bạn chưa có nội dung.<br>
                                a(onclick="focusFormFirstInput()") Nhập nội dung 
                                |để tiến hành kiểm tra.
                        .card-error-list
                            p Các lỗi về từ ngữ hoặc không đúng định dạng sẽ được liệt kê ở đây.
                    .content-card#form-content-card-second.is-hidden
                        .card-desc
                            i.icz.icz-fill-info
                            p Nội dung của bạn chưa được kiểm tra, nhấn kiểm tra để xem kết quả
                        .card-error-list
                            p Các lỗi về từ ngữ hoặc không đúng định dạng sẽ được liệt kê ở đây.
                    .content-card#form-alert-card-first.is-hidden
                        .card-desc
                            p Quảng cáo sẽ bị từ chối nếu xuất hiện những lỗi sau
                        #card-no-error-form.is-hidden
                            ul
                                li Không có lỗi nào
                        .card-error-list
                            ul
                    .content-card#form-alert-card-second.is-hidden
                        .card-desc
                            p Có 
                                a#form-warning-tip 
                                    span 0 
                                    |gợi ý chỉnh sửa 
                                |trong quảng cáo của bạn
                        .card-error-list
                            ul
        .policy-bottom-desc
            p Đây là công cụ giúp bạn tối ưu hóa nội dung, hình ảnh quảng cáo. Đồng thời giúp kiểm tra các vi phạm có thể xảy ra trong nội dung. Công cụ không mặc định đảm bảo quảng cáo của bạn sẽ được duyệt. Xem thêm các 
                a(href='https://ads.zalo.me/business/p/chinh-sach/' target="_blank") quy định quảng cáo 
                |để tìm hiểu thêm về lĩnh vực kinh doanh của bạn.
    .slide-body
        .slide-body-container
            h2.title Xem trước hiển thị
            .card-preview#normal-ad-preview
                .square-ads
                    .label-title
                        .avatar.avatar--l
                            span.avatar-img.normal-ads-avatar-img(style="background-image:url(images/avatar.png)")
                        h3.title#first-preview Tên nhãn hàng
                    h3.title#second-preview Nội dung quảng cáo
                    .preview-sample.normal-preview-sample
                    .ad-desc
                        .optional
                            p.optional-desc#third-preview Mô tả
                            p.optional-info#fourth-preview Thông tin thêm
                        .button-buy-now#fifth-preview Mua ngay
            #form-ad-preview.is-hidden
                .preview-sample.form-ad-preview-sample
                .card-preview
                    .card-preview-container
                        .square-ads
                            .label-title
                                .avatar.avatar--l
                                    span.avatar-img.form-avatar-img(style="background-image:url(images/avatar.png)")
                                p#form-oa-preview Tên OA
                            h3#form-first-preview Tiêu đề Form
                            p#form-second-preview Nội dung Form
                            .form-block-preview
                                .block
                                    label Họ và tên
                                    .input-block
                                        p Nguyễn Văn A
                                        i.icz.icz-lock
                                .block
                                    label Số điện thoại
                                    .input-block
                                        p 0909.xxx.xxxx
                                        i.icz.icz-lock
                        .button-preview
                            p Gửi thông tin

                    

