main
    .main-body
        #button-toggle-slide-bar
            i.icz.icz-right
        .container_cols
            .container_col.content
                h2.title Nội dung kiểm tra
                .text-input-item
                    .label-title
                        h3.title Tên nhà quảng cáo hoặc OA
                            i.icz.icz-question#tippy-title-ad
                        p.max-letter#max-letter-first 0/30
                    input#first-input(type='text' placeholder='Nhập tên nhà quảng cáo' maxlength=30)
                .text-input-item
                    .label-title
                        h3.title Nội dung quảng cáo
                            i.icz.icz-question#tippy-content-ad
                        p.max-letter#max-letter-second 0/90
                    textarea#second-input( placeholder='Nhập nội dung quảng cáo' maxlength=90)
                .text-input-item
                    .label-title
                        h3.title Ảnh đại diện
                            i.icz.icz-question#tippy-avatar-upload
                    .image-input
                        .avatar-image-input
                            input#avatar-image-input(type='file' accept=".png, .jpg, .jpeg" tabindex='-1')
                        i.icz.icz-image-add-2
                            input#avatar-image-input-0(type='file' accept=".png, .jpg, .jpeg" tabindex='-1')
                        p.img-desc Kích thước 150 x 150 pixel <br> Tối đa 2Mb
                        
                .text-input-item
                    .label-title
                        h3.title Mô tả
                            i.icz.icz-question#tippy-optional-desc
                        p.max-letter#max-letter-third 0/60
                    input#third-input(type='text' placeholder='Nhập mô tả' maxlength=60)
                .text-input-item
                    .label-title
                        h3.title Thông tin thêm
                            i.icz.icz-question#tippy-optional-info
                        p.max-letter#max-letter-fourth 0/60
                    input#fourth-input(type='text' placeholder='Nhập thông tin thêm' maxlength=60)
                .text-input-item
                    .label-title
                        h3.title Nút kêu gọi
                            i.icz.icz-question#tippy-button-call-action
                    .select
                        select#fifth-input
                            option Mua ngay
                            option Đặt ngay
                            option Thử ngay
                            option Tải ngay
                            option Xem thêm
                            option Nghe ngay
                            option Chơi ngay
                            option Đăng ký
                            option Gọi điện
                button.button.is-primary.is-large#check-form-ad(disabled) Kiểm tra

            .container_col.checking
                h2.checking-title.title Kết quả kiểm tra
                .text-input-item.first-item
                    .label-title
                        h3.title Hình ảnh quảng cáo
                            i.icz.icz-question#tippy-large-image
                    .large-image-input
                        input#large-image-input(type='file' accept=".png, .jpg, .jpeg")
                        p Kéo thả ảnh vào hoặc 
                            span tải ảnh lên
                    .large-image-preview
                        .image-preview-header
                            p.large-img-name Banner final <br>
                                span 1024 x 533
                            .field.field-button.is-grouped.dropdown
                                .control
                                    a.button#change-large-img
                                        span.name-item Đổi ảnh khác
                                        input#change-large-img-input(type='file' accept=".png, .jpg, .jpeg")
                                .control.dropdown-toggle(href="#" role="button" id="dropdown-m1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                    a.button
                                        i.icz.icz-down
                                .dropdown-menu(aria-labelledby="dropdown-m1")
                                    ul
                                        li
                                            a#download-large-image
                                                span.name-item Tải ảnh xuống
                        .image-preview-body
                            .ads-img
                                #output-large-preview.img-container-preview(style='background-image:url(https://via.placeholder.com/1024x533)')
                                    img#imageSrc-preview(src='', alt='', style='display:none')
                                .squares
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                            .ads-grid-switch
                                p Lưới kiểm tra chữ
                                label.switch
                                    input#check-grid(type="checkbox" checked)
                                    span.slider.round
                            .ads-text-ratio
                                p Tỉ lệ văn bản:
                                p.check-msg Hãy chọn các ô có xuất hiện chữ
                            .ads-img-quality
                                p Chất lượng ảnh:
                                p#img-quality Mờ
                .text-input-item.second-item
                    .label-title
                        h3.title Nội dung
                            i.icz.icz-question#tippy-notice-content
                    .content-card#content-card-first
                        .card-desc
                            i.icz.icz-fill-info
                            p Quảng cáo của bạn chưa có nội dung.<br>
                                a(onclick="focusFirstInput()") Nhập nội dung 
                                |để tiến hành kiểm tra.
                        .card-error-list
                            p Các lỗi về từ ngữ hoặc không đúng định dạng sẽ được liệt kê ở đây.
                    .content-card#content-card-second.is-hidden
                        .card-desc
                            i.icz.icz-fill-info
                            p Nội dung của bạn chưa được kiểm tra, nhấn kiểm tra để xem kết quả
                        .card-error-list
                            p Các lỗi về từ ngữ hoặc không đúng định dạng sẽ được liệt kê ở đây.
                    .content-card#alert-card-first.is-hidden
                        .card-desc
                            //- i.icz.icz-fill-error
                            p Lý do khiến quảng cáo của bạn sẽ bị từ chối
                        .card-error-list
                            //- p Không phát hiện lỗi nào trong nội dung quảng cáo của bạn.
                            ul
                                //- li 
                                //-     p Sử dụng từ ngữ bị hạn chế: 
                                //-         span  ngoại tình
                                //-         |,
                                //-         span  nhất
                                //-         |,
                                //-         span  duy nhất
                                //-         |,
                                //-         span  vay nóng
                                //- li
                                //-     p Viết hoa toàn bộ nội dung
                    .content-card#alert-card-second.is-hidden
                        .card-desc
                            //- i.icz.icz-fill-warning
                            p Những lỗi có thể vi phạm quy định quảng cáo
                        .card-error-list
                            ul
                            //-     li 
                            //-         p Viết hoa nhiều chữ cái
                            //-     li 
                            //-         p Sử dụng dấu ba chấm
        .policy-bottom-desc
            p Đây là công cụ giúp bạn tối ưu hóa nội dung, hình ảnh quảng cáo. Đồng thời giúp kiểm tra các vi phạm có thể xảy ra trong nội dung. Công cụ không mặc định đảm bảo quảng cáo của bạn sẽ được duyệt. Xem thêm các 
                a(href='https://ads.zalo.me/business/p/chinh-sach/' target="_blank") quy định quảng cáo 
                |để tìm hiểu thêm về lĩnh vực kinh doanh của bạn.
    .slide-body
        .slide-body-container
            h2.title Xem trước
            .card-preview
                .square-ads
                    .label-title
                        .avatar.avatar--l
                            span.avatar-img(style="background-image:url(../html/images/avatar.png)")
                        h3.title#first-preview Tên nhà quảng cáo
                    h3.title#second-preview Nội dung quảng cáo
                    .preview-sample
                    .ad-desc
                        .optional
                            p.optional-desc#third-preview Mô tả
                            p.optional-info#fourth-preview Thông tin thêm
                        .button-buy-now#fifth-preview Mua ngay

