main.is-mobile-only
    .is-mobile-container
        img(src='./images/ZAD_Illus_maintenance.png')
        h2.title Công cụ hiện chỉ hỗ trợ trên thiết bị máy vi tính.
        p Phiên bản trên điện thoại sẽ được cập nhật vào thời gian sắp tới.
        a.button.is-primary(href='https://ads.zalo.me/business/') Trang chủ Zalo Ads