main
    .ads-preview-list
        h2.title.preview-count 12 vị trí quảng cáo
        .preview-item-list
            .preview-item-container
                .preview-item
                    p.name-position Zalo News Feed
                    .card-preview
                        .square-ads
                            .label-title
                                .avatar.avatar--m
                                    span.avatar-img(style="background-image:url(../html/images/avatar.png)")
                                h3.title.first-preview-position Tên nhà quảng cáo
                            h3.title.second-preview-position Tiêu đề quảng cáo
                            .preview-sample
                            .ad-desc
                                .optional
                                    p.optional-desc.third-preview-position Mô tả
                                    p.optional-info.fourth-preview-position Thông tin thêm
                                .button-buy-now.fifth-preview-position Mua ngay
            .preview-item-container#zalo-article 
                .preview-item
                    p.name-position Zalo Article
                    .card-preview
                        .square-ads
                            .label-title
                                .avatar.avatar--m
                                    span.avatar-img(style="background-image:url(../html/images/avatar.png)")
                                h3.title.first-preview-position Tên nhà quảng cáo
                            h3.title.second-preview-position Tiêu đề quảng cáo
                            .preview-sample
                            .ad-desc
                                .optional
                                    p.optional-desc.third-preview-position Mô tả
                                    p.optional-info.fourth-preview-position Thông tin thêm
                                .button-buy-now.fifth-preview-position Mua ngay
            .preview-item-container
                .preview-item
                    p.name-position Slidebar Báo Mới
                    .card-preview
                        .square-ads
                            .label-title
                                .avatar.avatar--m
                                    span.avatar-img(style="background-image:url(../html/images/avatar.png)")
                                h3.title.first-preview-position Tên nhà quảng cáo
                            h3.title.second-preview-position Tiêu đề quảng cáo
                            .preview-sample
                            .ad-desc
                                .optional
                                    p.optional-desc.third-preview-position Mô tả
                                    p.optional-info.fourth-preview-position Thông tin thêm
                                .button-buy-now.fifth-preview-position Mua ngay
            .preview-item-container
                .preview-item
                    p.name-position Zalo sản phẩm
                    .card-preview
                        .square-ads
                            .label-title
                                .avatar.avatar--m
                                    span.avatar-img(style="background-image:url(../html/images/avatar.png)")
                                h3.title.first-preview-position Tên nhà quảng cáo
                            h3.title.second-preview-position Tiêu đề quảng cáo
                            .preview-sample
                            .ad-desc
                                .optional
                                    p.optional-desc.third-preview-position Mô tả
                                    p.optional-info.fourth-preview-position Thông tin thêm
                                .button-buy-now.fifth-preview-position Mua ngay
            .preview-item-container
                .preview-item
                    p.name-position Bản tin Zalo
                    .card-preview
                        .square-ads
                            .label-title
                                .avatar.avatar--m
                                    span.avatar-img(style="background-image:url(../html/images/avatar.png)")
                                h3.title.first-preview-position Tên nhà quảng cáo
                            h3.title.second-preview-position Tiêu đề quảng cáo
                            .preview-sample
                            .ad-desc
                                .optional
                                    p.optional-desc.third-preview-position Mô tả
                                    p.optional-info.fourth-preview-position Thông tin thêm
                                .button-buy-now.fifth-preview-position Mua ngay
            .preview-item-container
                .preview-item
                    p.name-position Bản tin Zalo
                    .card-preview
                        .square-ads
                            .label-title
                                .avatar.avatar--m
                                    span.avatar-img(style="background-image:url(../html/images/avatar.png)")
                                h3.title.first-preview-position Tên nhà quảng cáo
                            h3.title.second-preview-position Tiêu đề quảng cáo
                            .preview-sample
                            .ad-desc
                                .optional
                                    p.optional-desc.third-preview-position Mô tả
                                    p.optional-info.fourth-preview-position Thông tin thêm
                                .button-buy-now.fifth-preview-position Mua ngay
            .preview-item-container
                .preview-item
                    p.name-position Bản tin Zalo
                    .card-preview
                        .square-ads
                            .label-title
                                .avatar.avatar--m
                                    span.avatar-img(style="background-image:url(../html/images/avatar.png)")
                                h3.title.first-preview-position Tên nhà quảng cáo
                            h3.title.second-preview-position Tiêu đề quảng cáo
                            .preview-sample
                            .ad-desc
                                .optional
                                    p.optional-desc.third-preview-position Mô tả
                                    p.optional-info.fourth-preview-position Thông tin thêm
                                .button-buy-now.fifth-preview-position Mua ngay

