block header

a.logo(href="https://ads.zalo.me/business/creative/adchecker/")
	i.ico-logo
.navbar-main
	ul
		li
			a().navbar-item Công cụ kiểm tra quảng cáo
		li
			a().navbar-item Vị trí hiển thị quảng cáo
		li
			a(href="document_search.html").navbar-item Tra cứu giấy phép
