block header

a.logo(href="#!")
	i.ico-logo
.navbar-main
	ul
		li
			a.navbar-item(href="index.html") Công cụ kiểm tra quảng cáo
		li
			a.navbar-item(href="position_preview.html") Vị trí hiển thị quảng cáo
