block header

a.logo(href="https://ads.zalo.me/business/creative/adchecker/")
	i.ico-logo
.navbar-main
	ul
		li
			a().navbar-item Công cụ kiểm tra quảng cáo
		li
			a().navbar-item Vị trí hiển thị quảng cáo
		li
			a(href="document_search.html").navbar-item Tra cứu giấy phép
.dropdown
	a.button.dropdown-toggle(role="button" id="dropdown-m2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="OpenUpdateHistory()") 
		<i class="icz icz-fill-bell"></i>
		.red-dot#red_dot
		span Lịch sử cập nhật
	.dropdown-menu(aria-labelledby="dropdown-m2")
		p.history-update-title Chi tiết phiên bản
		.history-list
			.history-item
				ul
					li 
						p Thêm tính năng Tra cứu giấy phép
					li 
						p Thêm tính năng gợi ý chỉnh sửa cho từ CẤM, từ phản cảm, thiếu kiểm chứng
					li
						p Bổ sung điều kiện quảng cáo cho “Thực phẩm chức năng”
				span Phiên bản 1.0.3 - 17/08/2020
			.history-item
				ul
					li 
						p Kiểm tra nội dung có chứa số điện thoại hoặc email
					li 
						p Cập nhật lại Vị trí quảng cáo
					li 
						p Kiểm tra nội dung có chưa từ ngữ phản cám, thiếu kiểm chứng
					li
						p Kiểm tra nội dung có chứa từ CẤM
				span Phiên bản 1.0.2 - 10/08/2020
			.history-item
				ul
					li 
						p Tự động kiểm tra chất lượng hình ảnh
					li 
						p Kiểm tra phần trăm ký tự trên ảnh
					li 
						p Kiểm tra nội dung có chứa ký tự đặc biệt
					li 
						p Kiểm tra nội dung có chữ viết hoa
				span Phiên bản 1.0.1 - 27/07/2020