block header

a.logo(href="https://ads.zalo.me/business/creative/adchecker/")
	i.ico-logo
.navbar-main
	ul
		li
			a.navbar-item Công cụ kiểm tra quảng cáo
		li
			a.navbar-item Vị trí hiển thị quảng cáo
