block header

a.logo(href="https://ads.zalo.me/business/creative/adchecker/")
	i.ico-logo
.navbar-main
	ul
		li
			a().navbar-item Công cụ kiểm tra quảng cáo
		li
			a().navbar-item Vị trí hiển thị quảng cáo
		li
			a(href="document_search.html").navbar-item Tra cứu giấy phép
.dropdown
	a.button.dropdown-toggle(role="button" id="dropdown-m2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") 
		<i class="icz icz-fill-bell mr-2"></i>
		.red-dot
		span Lịch sử cập nhật
	.dropdown-menu(aria-labelledby="dropdown-m2")
		p.history-update-title Chi tiết phiên bản
		.history-list
			.history-item
				ul
					li 
						p Thêm lựa chọn "Thực phẩm chức năng" Thêm lựa chọn "Thực phẩm chức năng"
					li 
						p Cập nhật lại Vị trí quảng cáo
					li 
						p Thêm trang Tra cứu giấy phép
				span Phiên bản 1.0.2 - 27/07/2020
			.history-item
				ul
					li 
						p Kiểm tra chất lượng hình ảnh
					li 
						p Kiểm tra ký tự đặc biệt
					li 
						p Kiểm tra chữ viết hoa và gợi ý chỉnh sửa
				span Phiên bản 1.0.1 - 27/07/2020