// Core variables and mixins bourbon
@import "bourbon";

/* Body */
html{-webkit-font-smoothing:antialiased}
body.zad-v2{background-color:#ECEDF0;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;font-display:swap;
	@media only screen and (max-width:414px){font-size:calc(100% + 1 * (100vw - 360px)/ 39)}
}
body.zad-v2, html{
	@include from($tablet){height:auto}
}
.zad-v2{
	/* General */
	.page-content{min-width:1024px;@include margin(null auto);
		&.is-popup{background-color:rgba(36,46,66,1);@include padding($gap); min-height:100vh;}
		.body{@include padding($gutter)}
	}
	.header{display:flex;align-items:center;background-color:#050F2E;min-width:1024px;@include padding(1rem $gutter);
		a.logo{display:block;@include size(104px, 36px);margin-right:$gutter;
			i.ico-logo{display:block;background:url(../images/v2/logo_v2.png) 0 0 no-repeat;background-size:cover;@include size(104px, 36px);}
		}
		.navbar-main{display:flex;align-items:center;
			a.func-navbar{display:block;@include size(36px);@include padding(8px);@extend %is-radius-rounded;@extend %tr-all;
				[class^=icz]{@include size(20px);@include padding(0);color:$white;font-size:1.25rem}
				&:hover{background-color:rgba(255,255,255,0.15);}
			}
			> ul{display:flex;
				> li{display:none;flex-shrink:0;margin-right:4px;
					a.navbar-item{display:block;height:36px;line-height:36px;@include padding(null 1rem);color:$white;font-size:$size-normal;font-weight:$weight-semibold;@extend %is-radius-rounded;@extend %tr-all;
						&:hover{background-color:rgba(255,255,255,0.15);}
					}
					&:nth-child(2){display:block}
				}
			}
		}
		@include widescreen{
			.navbar-main>ul>li{display:block}
		}
		.pos-right{display:flex;justify-content:flex-end;align-items:center;margin-left:auto;
			.navbar-cash{display:flex;align-items:center;position:relative;margin-right:1rem;padding-right:1rem;
				&:before{@include position(absolute, 50% 0 null null);content:"";background-color:rgba(255,255,255,0.25);@include size(1px, 24px);margin-top:-12px}
				span.is-total{display:block;margin-right:$gutter;color:$success;font-size:$size-medium;font-weight:$weight-semibold;}
			}
			.navbar-ico{display:block;position:relative;@include size(36px);@include padding(8px);@extend %is-radius-rounded;@extend %tr-all;
				[class^=icz]{@include size(20px);@include padding(0);color:$white;font-size:1.25rem}
				&:hover{background-color:rgba(255,255,255,0.15);}
				.num{@include position(absolute, 1px 1px null null);display:flex;justify-content:center;align-items:center;background-color:$danger;@include size(14px);color:$white;font-size:9px;font-weight:$weight-bold;border-radius:100%}
			}
			.navbar-user{display:flex;align-items:center;@include padding(6px);@extend %is-radius-rounded;@extend %tr-all;
				&:hover{background-color:rgba(255,255,255,0.15);}
				.avatar{flex-shrink:0;margin-right:4px}
				span.name{display:block;max-width:100px;color:$white;font-size:$size-normal;font-weight:$weight-semibold}
			}
		}
		.dropdown-menu{transform:none!important;top:42px!important;
			ul{
				li{margin-bottom:-1rem;@include padding(8px);
					&:last-child{margin-bottom:0}
					&.has-button{@include padding(1rem 20px)}
				}
			}
			&.is-notification{
				.content-tab{
					ul li{margin-bottom:0;@include padding(0);}
				}
			}
		}
	}
	/* Non Support */
	.bl-non-support{display:none;@include padding(3rem);
		img{display:block;max-width:300px;width:100%;@include margin(null auto 1rem)}
		h4{display:block;margin-bottom:1rem;color:$text;font-size:$size-large;font-weight:$weight-semibold;text-align:center}
		p{color:$grey;font-size:$size-normal;text-align:center}
		@include until($tablet){display:block}
	}

	/* General */
	.body-payment{max-width:$max-width;@include margin(null auto);@include padding(null ($gutter/2));
		.body{@include padding(($gutter*2) null)}
		@include until($tablet){display:none}
	}
	.header-payment{background-color:$white;height:54px;@include padding(10px null);box-shadow:0 2px 5px rgba(#435664, 0.08);
		.header-container{display:flex;align-items:center;justify-content:center;background-color:$white;max-width:$max-width;height:100%;@include margin(null auto);@include padding(null ($gutter/2));}
		.logo{display:block;@include size(115px, 28px);margin-right:$gutter;
			i.ico-logo{display:block;background:url(../images/v2/logo.png) 0 0 no-repeat;background-size:cover;@include size(115px, 28px);}
			@include until($tablet){@include margin(null auto)}
		}
		.pos-right{display:none;justify-content:flex-end;align-items:center;margin-left:auto;
			.navbar-user{display:flex;align-items:center;@extend %is-radius-rounded;@extend %tr-all;
				.avatar{flex-shrink:0}
				span.name{display:block;max-width:60px;margin-left:6px;color:$text;font-size:$size-normal;font-weight:$weight-semibold;@extend %truncate;}
			}
		}
		@include from($tablet){
			.pos-right{display:flex;
				.navbar-user{
					span.name{max-width:120px;}
				}
			}
		}
	}
	.item-upload{
		padding:24px 24px 0;
		display:flex;
		align-items:center;
		em{
			display:block;
			font-size:14px;
			margin-left:16px;
		}
		.item-upload-inner{
			position:relative;
			width:fit-content;
			em{
				margin-left: 0;
			}
			.inputfile{
				@include position(absolute,0);
				opacity:0;
				z-index:-1;
			}
			label{
				padding:10px 12px;
				display:flex;
				align-items:center;
				border:1px solid #2C3F58;
				width:fit-content;
				border-radius:4px;
				transition:all 300ms ease;
				cursor:pointer;
				
				p{margin-bottom:0;
					transition:all 300ms ease;
				}
				[class^="icz"]{
					margin-right:10px;
					color:#2C3F58;
					transition:all 300ms ease;
				}
				&:hover{
					border:1px solid #1744CF;
					p{color:#1744CF;}
					[class^="icz"]{color:#1744CF;}
				}
			}
		}
		&.is-invalid{
			em{color:$danger}
		}
	}
	.image-list{
		margin-top:24px;
		padding:0 24px 24px;
		ul{
			margin:0 -6px;
			display:flex;
			align-items:flex-start;
			flex-wrap:wrap;
			li{
				margin:0 6px 12px;
				.caption{
					display:block;
					font-size:12px;
					margin-top:6px;
					color:#989EA5 ;

				}
				.image-item{
					.image{
						background-repeat:no-repeat;
						background-position:center center;
						background-size:cover;
						width:130px;
						height:130px;
						border-radius:4px;
						position:relative;
						cursor:pointer;
						&:after{
							content:'';
							display:block;
							padding-top:100%;
						}
						&::before{
							content:'';
							@include position(absolute,-2px);
							z-index:0;
							border:2px solid #1744CF;
							border-radius:4px;
							opacity:0;
							transition: all 300ms ease;
						}
						&:hover{
							&::before{
								opacity:1;
							}
						}
					}
				}
				&.active{
					.image-item{
						.image{
							&::before{
								opacity:1;
							}
						}
					}
				}
			}
		}
	}
	.crop-container{
		background-color:#081745;
		height:100%;
		position:relative;
		margin:-24px;
		img{display: block;margin:0 auto;height:100%;}
		.frame-crop{
			width:659px;
			position:absolute;
			top:0;
			right:0;
			left:0;
			height:100%;
			display:flex;
			align-items:center;
			justify-content:center;
			margin:0 auto;
			img{
				display:block;
				width:100%;
				height:auto;
			}
		}
	}
	.all-ratio-container{
		display:flex;
		margin:-24px;
		height: calc(100vh - 197px);
		overflow-y:auto;
		.ratio-default{
			padding:24px;
			width:383px;
			border-right:1px solid #E5E5E5;
			flex-shrink:0;
			
		}
		.ratio-another{
			padding:24px;
			padding-left:56px;
			display:flex;flex-wrap:wrap;
			margin:0 -24px;
			overflow-x: hidden;
			width:calc(100% - 383px);
			
		}
		.item-ratio{
			min-width:335px;
			position: relative;
			.img-default{
				position:relative;
				border-radius:4px;
				overflow:hidden;
				img{
					display: block;
					width:100%;
					
				}
			}
			&.is-another{
				width:335px;
				margin:0 24px 48px;
				
				.img-default{
					&:after{
						content:'';
						@include position(absolute, 0);
						background-color:rgba(0,0,0,0.7);
					}
					img{
						display:block;
						width:100%;
					}
					.image-crop-container{
						position:absolute;
						top:50%;right:0;left:0;
						z-index:1;
						transform:translateY(-50%);
						&:before{
							content:'';
							@include position(absolute, -1px);
							border:2px solid #5EEDB7;
						}
						.image{
							background-position:center center;
							background-repeat:no-repeat;
							background-size:cover;
							&:after{
								content:'';
								display:block;
							}
						}
					}
				}
			}
			&.is-16-9{
				.image-crop-container{
					.image{
						&:after{
							padding-top:56.25%;
						}
					}
				}
			}
			&.is-4-3{
				.image-crop-container{
					width:232px;
					height:174px;
					margin:0 auto;
					.image{
						&:after{
							padding-top:75%;
						}
					}
				}
			}
			&.is-3-2{
				.image-crop-container{
					width:261px;
					height:174px;
					margin:0 auto;
					.image{
						&:after{
							padding-top:66.666%;
						}
					}
				}
			}
			&.is-2-1{
				.image-crop-container{
					width:100%;
					height:166px;
					margin:0 auto;
					
					.image{
						&:after{
							padding-top:49.5%;
						}
					}
				}
			}
			&.is-1-1{
				.image-crop-container{
					.image{
						&:after{
							padding-top:100%;
						}
					}
				}
			}
			.ratio-footer{
				display:flex;align-items:center;
				width:100%;
				margin-top:8px;
				em{
					font-size:18px;
					display:block;
					font-weight:800;
					font-style: normal;
				}
				.cropAgain{
					margin-left:auto;
					padding:10px 12px;
					display:flex;
					align-items:center;
					border:1px solid #2C3F58;
					width:fit-content;
					border-radius:4px;
					transition:all 300ms ease;
					cursor:pointer;
					
					p{margin-bottom:0;
						font-size:14px;
						transition:all 300ms ease;
					}
					[class^='icz']{
						margin-right:10px;
						color:#2C3F58;
						transition:all 300ms ease;
					}
					&:hover{
						border:1px solid #1744CF;
						p{color:#1744CF;}
						[class^='icz']{color:#1744CF;}
					}
				}
				.item-upload{
					margin-left:auto;
					padding:0;
					.item-upload-inner{
						label{
							p{
								font-size:14px;
								margin-bottom:0;
							}
						}
					}
				}
			}
		}
		.item-suggestion{
			padding:24px 0;
			margin-top:24px;
			border-top:1px solid #E5E5E5;
			p{
				margin-bottom:4px;
				font-size:12px;
				font-weight:600;
				line-height:18px ;
				color:#2C3F58;
			}
			span{
				display:block;
				font-size:12px;
				line-height:18px;
				color:#778699;
			}
		}
	}
}