// Core variables and mixins bourbon
@import "bourbon";


	/* Body */
	html{-webkit-font-smoothing:antialiased}
	body{background:$grey-lightest;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;font-display:swap;
		@media only screen and (max-width:414px){font-size:calc(100% + 1 * (100vw - 360px)/ 39)}
	}
	body, html{height:100%;
		@include from($tablet){height:auto}
	}

	/* General */
	.page-content{min-width:1024px;@include margin(null auto);
		&.is-popup{background-color:rgba(36,46,66,1);@include padding($gap)}
		.body{@include padding($gutter)}
	}
	.header{display:flex;align-items:center;background-color:#050F2E;min-width:1024px;@include padding(1rem $gutter);
		a.logo{display:block;@include size(104px, 36px);margin-right:$gutter;
			i.ico-logo{display:block;background:url(../images/v2/logo_v2.png) 0 0 no-repeat;background-size:cover;@include size(104px, 36px);}
		}
		.navbar-main{display:flex;align-items:center;
			a.func-navbar{display:block;@include size(36px);@include padding(8px);@extend %is-radius-rounded;@extend %tr-all;
				[class^=icz]{@include size(20px);@include padding(0);color:$white;font-size:1.25rem}
				&:hover{background-color:rgba(255,255,255,0.15);}
			}
			> ul{display:flex;
				> li{display:none;flex-shrink:0;margin-right:4px;
					a.navbar-item{display:block;height:36px;line-height:36px;@include padding(null 1rem);color:$white;font-size:$size-normal;font-weight:$weight-semibold;@extend %is-radius-rounded;@extend %tr-all;
						&:hover{background-color:rgba(255,255,255,0.15);}
					}
					&:nth-child(2){display:block}
				}
			}
		}
		@include widescreen{
			.navbar-main>ul>li{display:block}
		}
		.pos-right{display:flex;justify-content:flex-end;align-items:center;margin-left:auto;
			.navbar-cash{display:flex;align-items:center;position:relative;margin-right:1rem;padding-right:1rem;
				&:before{@include position(absolute, 50% 0 null null);content:"";background-color:rgba(255,255,255,0.25);@include size(1px, 24px);margin-top:-12px}
				span.is-total{display:block;margin-right:$gutter;color:$success;font-size:$size-medium;font-weight:$weight-semibold;}
			}
			.navbar-ico{display:block;position:relative;@include size(36px);@include padding(8px);@extend %is-radius-rounded;@extend %tr-all;
				[class^=icz]{@include size(20px);@include padding(0);color:$white;font-size:1.25rem}
				&:hover{background-color:rgba(255,255,255,0.15);}
				.num{@include position(absolute, 1px 1px null null);display:flex;justify-content:center;align-items:center;background-color:$danger;@include size(14px);color:$white;font-size:9px;font-weight:$weight-bold;border-radius:100%}
			}
			.navbar-user{display:flex;align-items:center;@include padding(6px);@extend %is-radius-rounded;@extend %tr-all;
				&:hover{background-color:rgba(255,255,255,0.15);}
				.avatar{flex-shrink:0;margin-right:4px}
				span.name{display:block;max-width:100px;color:$white;font-size:$size-normal;font-weight:$weight-semibold}
			}
		}
		.dropdown-menu{transform:none!important;top:42px!important;
			ul{
				li{margin-bottom:-1rem;@include padding(8px);
					&:last-child{margin-bottom:0}
					&.has-button{@include padding(1rem 20px)}
				}
			}
			&.is-notification{
				.content-tab{
					ul li{margin-bottom:0;@include padding(0);}
				}
			}
		}
	}
