main.is-mobile
    .tabs.is-centered
        ul
            li.is-active
                a Kiểm tra nội dung
            li
                a Kiểm tra hình ảnh
    .main-body
        .container_cols
            .container_col.content
                .text-input-item
                    .label-title
                        h3.title Tên nhãn hàng hoặc OA
                            i.icz.icz-support#tippy-title-ad
                        p.max-letter#max-letter-first 0/30
                    input#first-input-mobile(type='text' placeholder='Nhập tên nhãn hàng' maxlength=30)
                .text-input-item
                    .label-title
                        h3.title Nội dung quảng cáo
                            i.icz.icz-support#tippy-content-ad
                        p.max-letter#max-letter-second 0/90
                    textarea#second-input-mobile( placeholder='Nhập nội dung quảng cáo' maxlength=90)
                .text-input-item
                    .label-title
                        h3.title Mô tả
                            i.icz.icz-support#tippy-optional-desc
                        p.max-letter#max-letter-third 0/60
                    textarea#third-input-mobile(type='text' placeholder='Nhập mô tả' maxlength=60 rows=1)
                .text-input-item
                    .label-title
                        h3.title Quảng cáo của bạn là
                            i.icz.icz-support#tippy-tick-tpcn
                    .control
                        input(id="check_tpcn_mobile" type="checkbox")
                        label(for="check_tpcn_mobile") Đây là quảng cáo “Thực phẩm chức năng”
                .text-input-item
                    .label-title
                        h3.title Thông tin thêm
                            i.icz.icz-support#tippy-optional-info
                        p.max-letter#max-letter-fourth 0/60
                    textarea.tpcn-case#fourth-input-mobile(type='text' placeholder='Nhập thông tin thêm' maxlength=60 rows=1)
                    textarea.tpcn-case.is-hidden#fourth-tpcn-input-mobile(type='text' disabled maxlength=60 style="color: #A3A8AF;background: #F0F4F8;") Sản phẩm này không phải là thuốc, không có tác dụng thay thế
                    p.tpcn-case.is-hidden Quảng cáo thực phẩm chức năng yêu cầu bổ sung thông tin này
                .button-block
                    button.button.is-primary.is-large#check-form-ad(disabled) Kiểm tra nội dung
            .container_col.checking.is-hidden
                .text-input-item.first-item
                    .label-title
                        h3.title Hình ảnh quảng cáo
                            i.icz.icz-support#tippy-large-image
                    .large-image-input
                        input#large-image-input(type='file' accept=".png, .jpg, .jpeg")
                        p 
                            span Tải ảnh lên
                    .large-image-preview
                        .image-preview-header
                            p.large-img-name Banner final <br>
                                span 1024 x 533
                            .field.field-button.is-grouped.dropdown
                                .control
                                    a.button#change-large-img
                                        span.name-item Đổi ảnh khác
                                        input#change-large-img-input(type='file' accept=".png, .jpg, .jpeg")
                        .image-preview-body
                            .ads-img
                                #output-large-preview.img-container-preview(style='background-image:url(https://via.placeholder.com/1024x533)')
                                    img#imageSrc-preview(src='', alt='', style='display:none')
                                .squares
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                                    .row
                                        .square
                                        .square
                                        .square
                                        .square
                                        .square
                                        div(style='clear:both;')
                            .ads-grid-switch
                                p Lưới kiểm tra chữ
                                label.switch
                                    input#check-grid(type="checkbox" checked)
                                    span.slider.round
                            .ads-text-ratio
                                p Tỉ lệ văn bản:<br>
                                    span (không bao gồm logo)
                                p.check-msg Hãy chọn các ô có xuất hiện chữ
                            .ads-img-quality
                                p Chất lượng ảnh:
                                p#img-quality Mờ